html,body { scroll-behavior: smooth; }

/* GRAnimations */
.gran-fadein,
.gran-fadeinup,
.gran-sequence>li,
.gran-sequence>ul>li,
.gran-sequence>.col,
.gran-scaleup,
.gran-slideinup, 
.gran-zoomin {
	opacity: 0;
}

.gran-scaleup {
	opacity: 1;
	transform: scaleY(1);
}

/* custom blinders text effect */
.blinders{
	position:relative;
	overflow:visible;
	visibility:hidden;
	margin-top:auto;
}
.blinders span.stack{
	position:absolute;
	bottom:0; 
	left:0;
	height:0;
	overflow:hidden;
}


@mixin underline($c1, $c2) {
	border-color: $c2;
	&::before {
		@apply absolute w-full h-px left-0 z-20 border-b-4 transition delay-100 duration-700 ease-out-expo origin-left opacity-0 scale-x-0;
		// transform: scaleX(0);
		bottom: -4px;
		content: ' ';
		border-color: $c1;
	}

	&:hover {
		@apply  duration-700 ease-out-expo opacity-100;
		&::before {
			@apply opacity-100 scale-x-100;
			// transform: scaleX(1);
		}
	}
}

.navUnderline {
	@apply block relative px-1 pb-2 text-brown font-medium transform origin-left;
	font-size: 17px;
	@include underline($tan, $white);
	display:inline-block;
	@apply border-b-4 border-white;
	&.active {
		@apply border-b-4 border-tan;
	}
}