body {
	font-family: $plex;
	@apply bg-white text-slate-dark;
	// background-image: url('/assets/images/site/texture.png');
	// @apply bg-no-repeat bg-cover bg-fixed bg-white text-slate-dark;
}

[x-cloak] {
	@apply hidden;
}
.container,
.frame-content {
	max-width: $maxwidth;
	@apply px-8;
	&--post {
		a{
			@apply underline;
		}
		h1, h2, h3, h4, h5, p, ol, ul {
			@apply mb-6;
		}
	}

	/* reset UL,OL back to normal */
	ul, ol{
		list-style-position: outside; 
		margin-left: 3rem; 
		li{
			margin-bottom:1rem;
		}
	}
	ul { 
		list-style-type: disc; 
	}
	ol { 
		list-style-type: decimal;
	}
	ul ul, ol ul { 
		list-style-type: circle; 
	}
	ol ol, ul ol { 
		list-style-type: lower-latin; 
	}
}

*::selection { 
	color: $white;
	background-color: $slate; 
}

.selection-slate *::selection {
	color: $white;
	background-color: $slate;
}
button:focus {outline:0;}

.btn {
	@apply relative flex border border-white bg-salmon text-white cursor-pointer mx-0 pl-4 pr-20 py-4 mt-8 whitespace-nowrap w-full no-underline;
	min-width: 260px;
	min-height: 64px;
	// font-size: 24px;
	@include fluid-type(260px, $max_width, 21px, 24px);	
	@screen sm {
		@apply  max-w-max;
		@include fluid-type(1000px, $max_width, 24px, 33px);	
	}
	&:before {
		content: '';
		@apply block absolute top-0 right-2 w-full bg-no-repeat transition transform duration-300 ease-in-out;
		min-height: 64px;
		// background-position: right 0.5rem center;
		background-position: right center;
		background-image:url('/assets/images/site/brand-arrow.svg');
		transform: translateX(0);
		@screen sm {
			background-position: right 0.5rem center;
			@apply right-4 h-20;
		}
	}
	&:hover:before {
		transform: translateX(0.5rem);
	}

	&--overrides {
		border-radius: 0!important;
		margin-left: 0!important;
	}
	
	&--rev {
		@apply text-slate;
		&:before {
			background-image:url('/assets/images/site/brand-arrow-slate.svg');
		}	
	}

	&--back {
		@apply pl-20 pr-8 py-4 mt-4 bg-tan;
		&:before {
			content: '';
			@apply block absolute top-0 left-2 w-full bg-no-repeat transition transform duration-300 ease-in-out;
			min-height: 64px;
			// background-position: right 0.5rem center;
			
			background-position: left center;
			background-image:url('/assets/images/site/brand-arrow-flip.svg');
			transform: translateX(0);
			@screen sm {
				background-position: left 0.5rem center;
				@apply left-4 h-20;
			}
		}
		&:hover:before {
			transform: translateX(-0.5rem);
		}	
	}
}

.quote {
	@apply relative px-16 py-12 text-xl;
	&::before {
		content: '';
		@apply absolute w-full h-20 top-0 left-0 bg-no-repeat bg-left-top bg-auto;
		background-image: url('/assets/images/site/left-quote-arrow.svg');
	}
	&::after {
		content: '';
		background-image: url('/assets/images/site/right-quote-arrow.svg');
		@apply absolute w-full h-20 bottom-0 right-0 bg-no-repeat bg-right-bottom bg-auto;
	}
	@screen lg {
		@apply  px-20 text-2xl;
		&::before {
			@apply h-sm;
		}
		&::after {
			@apply h-sm;
		}
	}
	.attribute {
		@apply text-xl font-bold mt-4 uppercase;
	}
	
	&--vice {
		&::before {
			content: '';
			@apply absolute w-full h-20 top-0 left-0 bg-no-repeat bg-left-top bg-auto;
			background-image: url('/assets/images/site/left-quote-arrow-vice.svg');
		}
		&::after {
			content: '';
			background-image: url('/assets/images/site/right-quote-arrow-vice.svg');
			@apply absolute w-full h-20 bottom-0 right-0 bg-no-repeat bg-right-bottom bg-auto;
		}	
	}
}

.section {
	&--intro {
		@apply font-sans font-bold text-sm uppercase mb-4;
	}
}

// overrides
.post {
	.quote {
		@apply text-tan;
		margin-left: -20%;
		margin-right: 20%;
		.attribute {
			@apply text-brown;
		}
	}
}

// team member rollovers
.team-members{
	.member-bio{	
		transition: visibility 0s, opacity 0.5s linear;
	}
	.member:hover .member-bio{
		visibility: visible;
  		opacity: 1;
	}
}

.intro-ani {
	path {
		stroke: white!important;
		fill: white!important;
	}
}


//contact forms
.form-group {
	.form-control {
		@apply w-full p-2 mt-1 mb-3 border-b-2 border-white;
	}
	label {
		@apply text-lg font-bold;
	}
}

.has-success .form-control {
	@apply border-b-2 border-b-vice;
}

.has-danger .form-control {
	@apply border-b-2 border-salmon;
}

.form-group .text-help {
	@apply text-salmon;
}

.inline-label label{
	@apply inline;
}

.pristine-error {
	@apply table text-sm mb-2;
}


// mailchimp default overrides
#mc_embed_signup { background:transparent; clear:left; font-family:IBMPlexSans, 'Helvetica Neue', Helvetica, Arial, sans-serif; margin:auto; } 
#mc_embed_signup form{ padding:0!important; }
#mc_embed_signup .datefield input{ width:70px !important; }
#mc_embed_signup input { border-radius:0px !important; color:#0C2026; }
#mc_embed_signup input:focus { outline: none !important; border:1px solid #fff; box-shadow: 0 0 5px #fff; }
#mc_embed_signup input[type="checkbox"] { margin-right: .5rem; }
input.mce_inline_error {
	border-color: $salmon!important;
}
div.mce_inline_error {
	background: none!important;
	font-weight: bold!important;
	padding-left: 0!important;
	padding-bottom: 0!important;
	margin-bottom: 0!important;
	color: $salmon!important;
}
#mc_embed_signup div#mce-responses,
#mc_embed_signup div.response {
	margin:0!important;
	padding:0 0 16px 0!important;
}
#mce-success-response {
	color: $salmon!important;
	font-weight: bold!important;
}

//mailchimp override default colors
.page {
	&--autonomous {
		input.mce_inline_error {
			border-color: $vice!important;
		}
		div.mce_inline_error {
			color: $vice!important;
		}
		#mce-success-response {
			color: $vice!important;
			font-weight: bold!important;
		}
	}
}