@import 'settings.variables';

.frame-content {
	// background-color: white;
	padding: 3rem;

	div[class*=PreviewContainer] {
		padding-bottom: 1rem;
	}

	pre, code {
		background-color: $slate;
	}

	a{
		@apply underline;
	}
	h1, h2, h3, h4, h5, p, ol, ul {
		@apply mb-6;
	}
}