<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<title>
		{% if title %}
		{{ title | safe}}
		{% else %}
		Transparent.us
		{% endif %}
	</title>

	<link href="/assets/images/site/favicon.png" rel="shortcut icon">
	<link href="/assets/images/site/touch.png" rel="apple-touch-icon-precomposed">
	{# <link rel="manifest" href="/webmanifest.json"> #}
	<link rel="preconnect" href="https://www.google-analytics.com/">
	<link rel="preconnect" href="https://fonts.googleapis.com/">

	{# {% hook 'seo' %} #}

	{% block head %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		{# external libraries #}
		<script src="//unpkg.com/alpinejs" defer></script>
		<script src="//cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
		<script src="//unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		<script src="//unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>

		{# <link rel="stylesheet" href="{{ rev('/assets/css/app.css') }}" />
		<script src="{{ rev('/assets/js/app.js') }}" type="text/javascript" defer></script> #}

		<link rel="stylesheet" href="/assets/css/app.css" />
		<script src="/assets/js/app.js" type="text/javascript" defer></script>
	{% endblock %}

</head>
<body class="{{bodyClasses|default('')}}">
  <a href="#" class="hidden skip-to-content">Skip To Main Content</a>

{% include "partials/header.njk" %}
  
{% if content %}
	<div class="{{classes|default('')}}">{{ content | safe }}</div>
{% endif %}
  
{% include "partials/footer.njk" %}

{% block scripts %}{% endblock %}

{% include "partials/analytics.njk" %}

</body>
</html>