---
layout: layouts/default
bodyClasses: 'post'
permalink: "post/{{ title|slugify }}/index.html"
---

{# HERO #}
<section class="container mx-auto">
	<div class="hidden sm:block">{% include "_svgs/post-hero.html" %}</div>
	<div class="block sm:hidden">{% include "_svgs/post-hero-mobile.html" %}</div>
</section>
{# /HERO #}

{# BODY #}
<section class="container container--post mx-auto my-12">
	<div class="px-0 md:px-[7%] lg:pl-[7%] lg:pr-[36%] font-body text-xl">
		<h2 class="font-sans text-3xl text-tan">{{ header }}</h2>
		
		{{ content | safe }}

		<br /><br />
		<div class="border-t-1 border-slate mt-12 pt-4 w-full">
			<a href="/press-blog/" class="btn btn--back bg-tan !no-underline">Back to Press &amp; Blog</a>
		</div>
	</div>
</section>
{# /BODY #}