---
layout: layouts/default
title: Xand Alpha
bodyClasses: 'page--autonomous'
---

{# HERO #}
<section class="container mx-auto relative">
	<div class="hidden sm:block"><a href="#get-started">{% include "_svgs/autonomous-hero.html" %}</a></div>
	<div class="block sm:hidden">{% include "_svgs/autonomous-hero-mobile.html" %}</div>
</section>
{# /HERO #}

{# THE SOLUTION #}
<a name="solution"></a>
<section class="pt-16 pb-24">
	<div class="container mx-auto">

        <h5 class="section--intro">THE SOLUTION</h5>
        <div class="w-full border-t-1 border-slate lg:flex lg:flex-row lg:space-x-32 xl:space-x-64">
        
            <div class="lg:w-1/2 pt-12 flex flex-col py-auto">
                <div class="text-miami text-4xl">
                    Xand Alpha: A Real Time Settlement Network for Institutional Trading Firms.
                </div>
            </div>
            
            <div class="lg:w-1/2 pt-12 space-y-12">
                <div class="font-body text-lg md:space-y-2">
                    <h3 class="font-sans font-semibold text-3xl text-miami">Existing Regulatory Framework.</h3>
                    <p class="text-sm">Designed to operate within existing U.S. legal and regulatory framework, Claims are USD-denominated, digital representations of funds held in trust at Xand-enabled banks.</p>
                </div>
                
                <div class="font-body text-lg md:space-y-2">
                    <h3 class="font-sans font-semibold text-3xl text-miami">Unique Governance.</h3>
                    <p class="text-sm">Xand Alpha is member-owned.  Members vote on network rules, investment objectives for funds held in trust, and adding new members.</p>
                </div>

                <div class="font-body text-lg md:space-y-2">
                    <h3 class="font-sans font-semibold text-3xl text-miami">Ease of Integration.</h3>
                    <p class="text-sm">Xand Alpha is built with the latest in deployment technology and APIs for easy integration. For banks, Xand Alpha does not require any software development.</p>
                </div>
                
                <div class="font-body text-lg md:space-y-2">
                    <h3 class="font-sans font-semibold text-3xl text-miami">Confidential and Private.</h3>
                    <p class="text-sm">Built with the latest proven cryptography so transactions remain confidential and a design that ensures the network is private for its members.</p>
                </div>
                
            </div>
        </div>

    </div>
</section>
{# /THE SOLUTION #}

{# THE PROBLEM #}
<a name="problem"></a>
<section class="container mx-auto pt-20 pb-24">
    <h5 class="section--intro">THE PROBLEMS WE’RE ADDRESSING</h5>
    <div class="w-full border-t-1 border-slate lg:flex lg:flex-row lg:space-x-32 xl:space-x-64">
        <div class="lg:w-1/2 pt-12 flex flex-col">
            <div class="text-miami text-4xl">
                Legacy settlement rails can tie up cashflow and liquidity for days.
            </div>
        </div>
        <div class="lg:w-1/2 pt-12 space-y-12">
            <div class="font-body text-lg md:space-y-2">
                <h3 class="font-sans font-semibold text-3xl text-miami">Legacy Rails are Slow.</h3>
                <p class="text-sm">While the funds are in transit, companies cannot deploy the cashflow into their business or must rely on other financial arrangements to cover capital requirements. This problem is further exacerbated over weekends and holidays.</p>
            </div>
            
            <div class="font-body text-lg md:space-y-2">
                <h3 class="font-sans font-semibold text-3xl text-miami">Emerging Solutions Come with <span class="whitespace-nowrap">Trade-Offs</span>.</h3>
                <p class="text-sm">Newer blockchain-based payment systems are emerging quickly, including ecosystems built around cryptocurrencies and stablecoins. These new systems may meet the need for faster payments and lower costs but introduce added complexity for businesses to manage.</p>
            </div>
            
            <div class="font-body text-lg md:space-y-2">
                <h3 class="font-sans font-semibold text-3xl text-miami">Concentration of Risk.</h3>
                <p class="text-sm">Counterparties can utilize the same bank in order to facilitate real time transactions.  However, that approach centralizes credit risk with one entity and may add a new bank relationship to manage.</p>
            </div>
        </div>
        
    </div>
</section>
{# /THE PROBLEM #}

{# GET STARTED #}
<a name="get-started"></a>
<section class="bg-miami text-white pt-16 pb-24">
	<div class="container mx-auto">

        <a name="solution"></a>
        <h5 class="section--intro text-white">GET STARTED</h5>
		<div class="w-full border-t-1 border-white pt-12 lg:flex lg:flex-row lg:space-x-32 xl:space-x-64">

            <div class="lg:w-1/2 pt-4 flex flex-col text-white">
                <div class="text-4xl mb-8">
                    Xand Alpha is available for select financial and payment services companies.
                </div>
                {# <p class="text-base leading-snuggy">To be considered for participation, please submit this form and our team will evaluate and respond as soon as possible.</p> #}
            </div>

            <div class="lg:w-1/2 p-0 lg:py-4 space-y-12 my-auto">
                {% include "partials/solutions-form-autonomous.html" %}
            </div>
		</div>
	</div>
</section>
{# /GET STARTED #}