<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 325 379">
  <defs>
    <clipPath id="clip-path">
      <rect width="325" height="379" fill="none"/>
    </clipPath>
  </defs>
  <g id="autonomous-hero-mobile" transform="translate(-24 -80)">
    <g id="Repeat_Grid_2" data-name="Repeat Grid 2" transform="translate(24 80)" clip-path="url(#clip-path)">
      <g transform="translate(-141 -18)">
        <g id="Rectangle_99" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 -18)">
        <g id="Rectangle_99-2" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 -18)">
        <g id="Rectangle_99-3" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 -18)">
        <g id="Rectangle_99-4" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 -18)">
        <g id="Rectangle_99-5" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 -18)">
        <g id="Rectangle_99-6" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 -18)">
        <g id="Rectangle_99-7" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 36)">
        <g id="Rectangle_99-8" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 36)">
        <g id="Rectangle_99-9" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 36)">
        <g id="Rectangle_99-10" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 36)">
        <g id="Rectangle_99-11" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 36)">
        <g id="Rectangle_99-12" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 36)">
        <g id="Rectangle_99-13" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 36)">
        <g id="Rectangle_99-14" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 90)">
        <g id="Rectangle_99-15" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 90)">
        <g id="Rectangle_99-16" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 90)">
        <g id="Rectangle_99-17" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 90)">
        <g id="Rectangle_99-18" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 90)">
        <g id="Rectangle_99-19" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 90)">
        <g id="Rectangle_99-20" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 90)">
        <g id="Rectangle_99-21" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 144)">
        <g id="Rectangle_99-22" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 144)">
        <g id="Rectangle_99-23" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 144)">
        <g id="Rectangle_99-24" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 144)">
        <g id="Rectangle_99-25" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 144)">
        <g id="Rectangle_99-26" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 144)">
        <g id="Rectangle_99-27" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 144)">
        <g id="Rectangle_99-28" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 198)">
        <g id="Rectangle_99-29" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 198)">
        <g id="Rectangle_99-30" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 198)">
        <g id="Rectangle_99-31" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 198)">
        <g id="Rectangle_99-32" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 198)">
        <g id="Rectangle_99-33" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 198)">
        <g id="Rectangle_99-34" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 198)">
        <g id="Rectangle_99-35" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 252)">
        <g id="Rectangle_99-36" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 252)">
        <g id="Rectangle_99-37" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 252)">
        <g id="Rectangle_99-38" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 252)">
        <g id="Rectangle_99-39" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 252)">
        <g id="Rectangle_99-40" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 252)">
        <g id="Rectangle_99-41" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 252)">
        <g id="Rectangle_99-42" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 306)">
        <g id="Rectangle_99-43" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 306)">
        <g id="Rectangle_99-44" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 306)">
        <g id="Rectangle_99-45" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 306)">
        <g id="Rectangle_99-46" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 306)">
        <g id="Rectangle_99-47" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 306)">
        <g id="Rectangle_99-48" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 306)">
        <g id="Rectangle_99-49" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 360)">
        <g id="Rectangle_99-50" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 360)">
        <g id="Rectangle_99-51" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 360)">
        <g id="Rectangle_99-52" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 360)">
        <g id="Rectangle_99-53" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 360)">
        <g id="Rectangle_99-54" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 360)">
        <g id="Rectangle_99-55" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 360)">
        <g id="Rectangle_99-56" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
    </g>
    <g id="logobg" transform="translate(24 134)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
      <rect width="217" height="55" stroke="none"/>
      <rect x="0.5" y="0.5" width="216" height="54" fill="none"/>
    </g>
    <g id="text_bg" data-name="text bg" transform="translate(78 188)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
      <rect width="271" height="271" stroke="none"/>
      <rect x="0.5" y="0.5" width="270" height="270" fill="none"/>
    </g>
    <text id="Settle_trades_in_real_time._Unlock_Capital." data-name="Settle in real time. 
Unlock capital." transform="translate(94 275)" fill="#5a5ae5" font-size="32" font-family="Telegraf-Medium, Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-weight="500"><tspan x="0" y="24">Settle in </tspan><tspan x="0" y="58">real time. </tspan><tspan x="0" y="92">Unlock capital.</tspan></text>
    <text id="Xand_network_for_institutional_trading_firms" data-name="Xand network for institutional trading firms" transform="translate(94 204)" fill="#4b401f" font-size="14" font-family="Telegraf-Bold, Telegraf-Medium, Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-weight="700"><tspan x="0" y="11">XAND NETWORK FOR </tspan><tspan x="0" y="29">INSTITUTIONAL TRADING FIRMS</tspan></text>
    <g id="Layer_2" data-name="Layer 2" transform="translate(40 150)">
      <g id="Layer_1" data-name="Layer 1">
        <path id="Path_686" data-name="Path 686" d="M654.99,44.323h6.356V30.43H659.7V42.678h-3.062V29.3h12.992V27.66H654.98Z" transform="translate(-496.81 -20.98)" fill="#5a5ae5"/>
        <path id="Path_687" data-name="Path 687" d="M691.926,27.332l-.048-16.663h-3.543v1.645h1.944V25.687h-3.062V5.26h-12.7V9.546h1.647V6.912h9.4v20.42Z" transform="translate(-511.632 -3.99)" fill="#5a5ae5"/>
        <path id="Path_688" data-name="Path 688" d="M322.757,23.11h2.8l-8.433,22.161H314.36Zm-4.465,14.265h13v2.231h-13Zm5.733-14.265h2.833l8.4,22.161h-2.8Z" transform="translate(-238.446 -21.936)" fill="#5a5ae5"/>
        <path id="Path_689" data-name="Path 689" d="M406,18.28h2.656V41.608H406Z" transform="translate(-307.956 -18.273)" fill="#5a5ae5"/>
        <path id="Path_690" data-name="Path 690" d="M426.83,44.211h2.656V67.539H426.83Zm8.976,17.2a6.51,6.51,0,0,1-5.448-2.35,10.312,10.312,0,0,1-1.85-6.52,10.305,10.305,0,0,1,1.85-6.52,6.467,6.467,0,0,1,5.448-2.338,6.85,6.85,0,0,1,5.7,2.432,10,10,0,0,1,1.932,6.431,10.028,10.028,0,0,1-1.932,6.45A6.863,6.863,0,0,1,435.806,61.407Zm-.534-2.173a4.989,4.989,0,0,0,4.149-1.649,8.024,8.024,0,0,0,1.316-5.05,8.02,8.02,0,0,0-1.316-5.047,4.989,4.989,0,0,0-4.149-1.649,5.482,5.482,0,0,0-4.248,1.649,7.254,7.254,0,0,0-1.517,5.047,7.253,7.253,0,0,0,1.517,5.05,5.5,5.5,0,0,0,4.236,1.657Z" transform="translate(-323.756 -37.539)" fill="#5a5ae5"/>
        <path id="Path_691" data-name="Path 691" d="M501.9,18.28h2.656V41.608H501.9Zm1.833,16.964a15.187,15.187,0,0,1,1.765-7.95,5.964,5.964,0,0,1,5.465-2.881,5.679,5.679,0,0,1,4.5,1.632,7.329,7.329,0,0,1,1.434,4.931V41.6H514.24V31.277a5.075,5.075,0,0,0-1.017-3.581,3.978,3.978,0,0,0-2.992-1.05A4.743,4.743,0,0,0,506,28.819q-1.432,2.173-1.432,6.433Z" transform="translate(-380.697 -18.273)" fill="#5a5ae5"/>
        <path id="Path_692" data-name="Path 692" d="M575.014,61.163a6,6,0,0,1-3.982-1.268,4.389,4.389,0,0,1-1.517-3.564,5.191,5.191,0,0,1,.517-2.383,4.021,4.021,0,0,1,1.649-1.666,8.838,8.838,0,0,1,2.9-.949l4.229-.7a4.736,4.736,0,0,0,1.932-.667,1.608,1.608,0,0,0,.568-1.367,2.762,2.762,0,0,0-.915-2.217,4.929,4.929,0,0,0-3.178-.782,5.115,5.115,0,0,0-3.434.966,3.882,3.882,0,0,0-1.232,2.734h-2.635a6.006,6.006,0,0,1,.9-3.067,5.453,5.453,0,0,1,2.439-2.016,9.455,9.455,0,0,1,3.864-.724,7.623,7.623,0,0,1,4.982,1.381,4.6,4.6,0,0,1,1.649,3.716V56.6q0,1.9.2,4.132h-2.437a37.706,37.706,0,0,1-.241-3.9,6.453,6.453,0,0,1-2.082,3.064A6.3,6.3,0,0,1,575.014,61.163Zm.534-2.1a5.584,5.584,0,0,0,3.166-.865,5.4,5.4,0,0,0,1.949-2.3,7.337,7.337,0,0,0,.65-3.064V51.4a6.037,6.037,0,0,1-1.282.65,14.557,14.557,0,0,1-1.717.483l-2.765.567a5.4,5.4,0,0,0-2.536,1.1,2.608,2.608,0,0,0-.8,2.031,2.557,2.557,0,0,0,.9,2.1,3.738,3.738,0,0,0,2.437.737Z" transform="translate(-431.983 -37.394)" fill="#5a5ae5"/>
        <path id="Path_693" data-name="Path 693" d="M16.774,26.979,10.01,17.952,3.347,26.979H0L8.336,15.721.167,4.83H3.55l6.6,8.793,6.5-8.793h3.248L11.818,15.789l8.4,11.191Z" transform="translate(0 -3.664)" fill="#5a5ae5"/>
        <path id="Path_694" data-name="Path 694" d="M94.329,52.809V51.374a7.452,7.452,0,0,1-3.014,1.133l-2.78.567c-2.277.466-3.347,1.333-3.347,3.139,0,1.9,1.372,2.833,3.347,2.833,3.951,0,5.8-3.064,5.8-6.228M82.477,56.305c0-2.7,1.473-4.4,5.088-5l4.253-.7c1.775-.3,2.511-.766,2.511-2.031,0-1.69-.872-3-4.12-3s-4.518,1.531-4.687,3.695H82.866c.1-3.531,2.61-5.8,7.245-5.8,4.588,0,6.663,2.1,6.663,5.1v7.993a38.915,38.915,0,0,0,.2,4.129H94.53c-.135-1.432-.241-2.656-.241-3.9a6.139,6.139,0,0,1-6.3,4.33c-3.214,0-5.523-1.666-5.523-4.83" transform="translate(-62.555 -37.387)" fill="#5a5ae5"/>
        <path id="Path_695" data-name="Path 695" d="M165.356,50.184V60.809h-2.678V50.473c0-3.564-1.572-4.632-4.018-4.632-3.714,0-5.692,2.866-5.692,8.595V60.8H150.29V44.134h2.678v4.383c1.038-3.031,3.115-4.9,6.428-4.9,4.187,0,5.96,2.265,5.96,6.564" transform="translate(-113.997 -37.493)" fill="#5a5ae5"/>
        <path id="Path_696" data-name="Path 696" d="M231.985,33.237c0-4.7-2.243-6.694-5.8-6.694-3.815,0-5.491,2.2-5.491,6.694s1.678,6.687,5.494,6.687c3.55,0,5.8-2,5.8-6.7m2.676-14.977V41.563h-2.678v-3.2a6.5,6.5,0,0,1-6.329,3.731c-5.255,0-7.655-3.762-7.655-8.86s2.415-8.86,7.667-8.86a6.484,6.484,0,0,1,6.329,3.7V18.25Z" transform="translate(-165.356 -18.25)" fill="#5a5ae5"/>
      </g>
    </g>
  </g>
</svg>
