<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 1673 440">
  <defs>
    <clipPath id="clip-path">
      <rect width="1673" height="439" fill="none"/>
    </clipPath>
  </defs>
  <g id="autonomous_-_hero" data-name="autonomous - hero" transform="translate(-123 -136)">
    <g id="Repeat_Grid_2" data-name="Repeat Grid 2" transform="translate(123 136)" clip-path="url(#clip-path)">
      <g transform="translate(-141 -18)">
        <g id="Rectangle_99" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-53 -18)">
        <g id="Rectangle_99-2" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(35 -18)">
        <g id="Rectangle_99-3" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(123 -18)">
        <g id="Rectangle_99-4" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(211 -18)">
        <g id="Rectangle_99-5" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(299 -18)">
        <g id="Rectangle_99-6" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(387 -18)">
        <g id="Rectangle_99-7" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(475 -18)">
        <g id="Rectangle_99-8" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(563 -18)">
        <g id="Rectangle_99-9" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(651 -18)">
        <g id="Rectangle_99-10" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(739 -18)">
        <g id="Rectangle_99-11" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(827 -18)">
        <g id="Rectangle_99-12" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(915 -18)">
        <g id="Rectangle_99-13" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1003 -18)">
        <g id="Rectangle_99-14" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1091 -18)">
        <g id="Rectangle_99-15" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1179 -18)">
        <g id="Rectangle_99-16" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1267 -18)">
        <g id="Rectangle_99-17" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1355 -18)">
        <g id="Rectangle_99-18" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1443 -18)">
        <g id="Rectangle_99-19" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1531 -18)">
        <g id="Rectangle_99-20" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 70)">
        <g id="Rectangle_99-21" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-53 70)">
        <g id="Rectangle_99-22" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(35 70)">
        <g id="Rectangle_99-23" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(123 70)">
        <g id="Rectangle_99-24" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(211 70)">
        <g id="Rectangle_99-25" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(299 70)">
        <g id="Rectangle_99-26" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(387 70)">
        <g id="Rectangle_99-27" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(475 70)">
        <g id="Rectangle_99-28" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(563 70)">
        <g id="Rectangle_99-29" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(651 70)">
        <g id="Rectangle_99-30" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(739 70)">
        <g id="Rectangle_99-31" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(827 70)">
        <g id="Rectangle_99-32" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(915 70)">
        <g id="Rectangle_99-33" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1003 70)">
        <g id="Rectangle_99-34" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1091 70)">
        <g id="Rectangle_99-35" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1179 70)">
        <g id="Rectangle_99-36" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1267 70)">
        <g id="Rectangle_99-37" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1355 70)">
        <g id="Rectangle_99-38" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1443 70)">
        <g id="Rectangle_99-39" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1531 70)">
        <g id="Rectangle_99-40" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 158)">
        <g id="Rectangle_99-41" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-53 158)">
        <g id="Rectangle_99-42" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(35 158)">
        <g id="Rectangle_99-43" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(123 158)">
        <g id="Rectangle_99-44" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(211 158)">
        <g id="Rectangle_99-45" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(299 158)">
        <g id="Rectangle_99-46" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(387 158)">
        <g id="Rectangle_99-47" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(475 158)">
        <g id="Rectangle_99-48" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(563 158)">
        <g id="Rectangle_99-49" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(651 158)">
        <g id="Rectangle_99-50" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(739 158)">
        <g id="Rectangle_99-51" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(827 158)">
        <g id="Rectangle_99-52" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(915 158)">
        <g id="Rectangle_99-53" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1003 158)">
        <g id="Rectangle_99-54" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1091 158)">
        <g id="Rectangle_99-55" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1179 158)">
        <g id="Rectangle_99-56" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1267 158)">
        <g id="Rectangle_99-57" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1355 158)">
        <g id="Rectangle_99-58" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1443 158)">
        <g id="Rectangle_99-59" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1531 158)">
        <g id="Rectangle_99-60" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 246)">
        <g id="Rectangle_99-61" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-53 246)">
        <g id="Rectangle_99-62" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(35 246)">
        <g id="Rectangle_99-63" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(123 246)">
        <g id="Rectangle_99-64" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(211 246)">
        <g id="Rectangle_99-65" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(299 246)">
        <g id="Rectangle_99-66" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(387 246)">
        <g id="Rectangle_99-67" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(475 246)">
        <g id="Rectangle_99-68" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(563 246)">
        <g id="Rectangle_99-69" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(651 246)">
        <g id="Rectangle_99-70" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(739 246)">
        <g id="Rectangle_99-71" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(827 246)">
        <g id="Rectangle_99-72" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(915 246)">
        <g id="Rectangle_99-73" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1003 246)">
        <g id="Rectangle_99-74" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1091 246)">
        <g id="Rectangle_99-75" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1179 246)">
        <g id="Rectangle_99-76" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1267 246)">
        <g id="Rectangle_99-77" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1355 246)">
        <g id="Rectangle_99-78" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1443 246)">
        <g id="Rectangle_99-79" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1531 246)">
        <g id="Rectangle_99-80" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 334)">
        <g id="Rectangle_99-81" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-53 334)">
        <g id="Rectangle_99-82" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(35 334)">
        <g id="Rectangle_99-83" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(123 334)">
        <g id="Rectangle_99-84" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(211 334)">
        <g id="Rectangle_99-85" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(299 334)">
        <g id="Rectangle_99-86" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(387 334)">
        <g id="Rectangle_99-87" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(475 334)">
        <g id="Rectangle_99-88" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(563 334)">
        <g id="Rectangle_99-89" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(651 334)">
        <g id="Rectangle_99-90" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(739 334)">
        <g id="Rectangle_99-91" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(827 334)">
        <g id="Rectangle_99-92" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(915 334)">
        <g id="Rectangle_99-93" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1003 334)">
        <g id="Rectangle_99-94" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1091 334)">
        <g id="Rectangle_99-95" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1179 334)">
        <g id="Rectangle_99-96" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1267 334)">
        <g id="Rectangle_99-97" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1355 334)">
        <g id="Rectangle_99-98" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1443 334)">
        <g id="Rectangle_99-99" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(1531 334)">
        <g id="Rectangle_99-100" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
    </g>
    <g id="Rectangle_100" data-name="Rectangle 100" transform="translate(211 312)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
      <rect width="1232" height="264" stroke="none"/>
      <rect x="0.5" y="0.5" width="1231" height="263" fill="none"/>
    </g>
    <text id="Settle_trades_in_real_time._Unlock_Capital." data-name="Settle in real time. 
Unlock capital." transform="translate(243 352)" fill="#5a5ae5" font-size="96" font-family="Telegraf-Medium, Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-weight="500"><tspan x="0" y="73">Settle in real time. </tspan><tspan x="0" y="169">Unlock capital.</tspan></text>
    <path id="Path_234" data-name="Path 234" d="M380.014,264.209h0" transform="translate(105.873 18.979)" fill="none" stroke="#ec4625" stroke-width="2"/>
    <path id="Path_237" data-name="Path 237" d="M9414.313-21700.439l13.768-14.922" transform="translate(-8081 21912)" fill="none" stroke="#fc2c02" stroke-width="2" opacity="0"/>
    <g id="xand-rectange" transform="translate(0 -88)">
      <g id="Rectangle_83" data-name="Rectangle 83" transform="translate(211 312)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
        <rect width="352" height="88" stroke="none"/>
        <rect x="0.5" y="0.5" width="351" height="87" fill="none"/>
      </g>
      <g id="Rectangle_937" data-name="Rectangle 937" transform="translate(563 312)" fill="#f3f4f4" stroke="#5a5ae5" stroke-width="1">
        <rect width="616" height="88" stroke="none"/>
        <rect x="0.5" y="0.5" width="615" height="87" fill="none"/>
      </g>
    </g>
    <g id="Large_Button_Primary" data-name="Large Button Primary" transform="translate(1444 488)">
      <g id="base" fill="#55f1a6" stroke="#5a5ae5" stroke-width="1">
        <rect width="352" height="88" stroke="none"/>
        <rect x="0.5" y="0.5" width="351" height="87" fill="none"/>
      </g>
      <g id="brand-arrow-42px" transform="translate(287 24.072)">
        <rect id="container" width="40" height="40" fill="none"/>
        <g id="arrow" transform="translate(10109.383 25217.016) rotate(-45)">
          <rect id="Rectangle_89" data-name="Rectangle 89" width="24" height="4" transform="translate(10694.005 -24964) rotate(90)" fill="#0c2026"/>
          <rect id="Rectangle_90" data-name="Rectangle 90" width="12" height="4" transform="translate(10694 -24960) rotate(180)" fill="#0c2026"/>
          <rect id="Rectangle_91" data-name="Rectangle 91" width="16" height="4" transform="translate(10682.005 -24948) rotate(-90)" fill="#0c2026"/>
          <rect id="Rectangle_92" data-name="Rectangle 92" width="16" height="4" transform="translate(10670.005 -24952)" fill="#0c2026"/>
          <rect id="Rectangle_93" data-name="Rectangle 93" width="12" height="4" transform="translate(10674 -24952) rotate(90)" fill="#0c2026"/>
          <rect id="Rectangle_94" data-name="Rectangle 94" width="16" height="4" transform="translate(10686.005 -24940) rotate(180)" fill="#0c2026"/>
        </g>
      </g>
      <text id="Get_Started" data-name="Get Started" transform="translate(24 29.072)" fill="#0c2026" font-size="33" font-family="Telegraf-Medium, Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-weight="500"><tspan x="0" y="25">Get Started</tspan></text>
    </g>
    <g id="Path_256" data-name="Path 256" transform="translate(123 136)" fill="none">
      <path d="M0,0H1673V440H0Z" stroke="none"/>
      <path d="M 2 2 L 2 438 L 1671 438 L 1671 2 L 2 2 M 0 0 L 1673 0 L 1673 440 L 0 440 L 0 0 Z" stroke="none" fill="#5a5ae5"/>
    </g>
    <text id="Xand_network_for_institutional_trading_firms" data-name="Xand network for institutional trading firms" transform="translate(595 277)" fill="#0c2026" font-size="18" font-family="Telegraf-Medium, Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-weight="700"><tspan x="0" y="0">XAND NETWORK FOR INSTITUTIONAL TRADING FIRMS</tspan></text>
    <g id="Layer_2" data-name="Layer 2" transform="translate(243 250.038)">
      <g id="Layer_1" data-name="Layer 1">
        <path id="Path_686" data-name="Path 686" d="M655,54.32h10.17V32.092H662.53v19.6h-4.9v-21.4h20.787V27.66H654.98Z" transform="translate(-401.909 -16.973)" fill="#5a5ae5"/>
        <path id="Path_687" data-name="Path 687" d="M702.37,40.575l-.077-26.66h-5.668v2.631h3.11v21.4h-4.9V5.26H674.52v6.858h2.635V7.9H692.2V40.575Z" transform="translate(-413.899 -3.228)" fill="#5a5ae5"/>
        <path id="Path_688" data-name="Path 688" d="M327.794,23.11h4.482L318.784,58.568H314.36ZM320.65,45.933h20.8V49.5h-20.8Zm9.173-22.823h4.532L347.79,58.568h-4.478Z" transform="translate(-192.898 -21.232)" fill="#5a5ae5"/>
        <path id="Path_689" data-name="Path 689" d="M406,18.28h4.25V55.6H406Z" transform="translate(-249.13 -18.268)" fill="#5a5ae5"/>
        <path id="Path_690" data-name="Path 690" d="M426.83,44.53h4.25V81.854h-4.25Zm14.362,27.514q-5.761,0-8.717-3.759t-2.96-10.432q0-6.665,2.96-10.432t8.717-3.74q6.02,0,9.119,3.891T453.4,57.86q0,6.456-3.091,10.32T441.192,72.044Zm-.854-3.477q4.532,0,6.638-2.639t2.106-8.079q0-5.436-2.106-8.075t-6.638-2.639a8.771,8.771,0,0,0-6.8,2.639q-2.426,2.639-2.426,8.075t2.426,8.079a8.8,8.8,0,0,0,6.777,2.651Z" transform="translate(-261.911 -33.854)" fill="#5a5ae5"/>
        <path id="Path_691" data-name="Path 691" d="M501.9,18.28h4.25V55.6H501.9Zm2.933,27.143q0-8.114,2.824-12.72t8.744-4.61q4.911,0,7.2,2.612t2.3,7.89v17h-4.25V39.075q0-4.049-1.627-5.73a6.365,6.365,0,0,0-4.787-1.681,7.588,7.588,0,0,0-6.773,3.477q-2.291,3.477-2.291,10.293Z" transform="translate(-307.976 -18.268)" fill="#5a5ae5"/>
        <path id="Path_692" data-name="Path 692" d="M578.314,71.768a9.6,9.6,0,0,1-6.371-2.028,7.022,7.022,0,0,1-2.426-5.7,8.3,8.3,0,0,1,.827-3.814,6.433,6.433,0,0,1,2.639-2.666,14.141,14.141,0,0,1,4.637-1.518l6.766-1.12a7.58,7.58,0,0,0,3.091-1.066,2.573,2.573,0,0,0,.908-2.187,4.419,4.419,0,0,0-1.464-3.547q-1.464-1.256-5.085-1.252-3.732,0-5.494,1.546a6.212,6.212,0,0,0-1.971,4.374h-4.215a9.61,9.61,0,0,1,1.441-4.907,8.725,8.725,0,0,1,3.9-3.226,15.128,15.128,0,0,1,6.182-1.159q5.332,0,7.971,2.21a7.356,7.356,0,0,1,2.639,5.946V64.462q0,3.045.321,6.611h-3.9a60.357,60.357,0,0,1-.386-6.236,10.324,10.324,0,0,1-3.331,4.9A10.085,10.085,0,0,1,578.314,71.768Zm.854-3.361a8.933,8.933,0,0,0,5.065-1.383,8.632,8.632,0,0,0,3.118-3.682,11.739,11.739,0,0,0,1.039-4.9v-2.3a9.658,9.658,0,0,1-2.052,1.039,23.285,23.285,0,0,1-2.747.773l-4.424.908a8.639,8.639,0,0,0-4.057,1.762,4.172,4.172,0,0,0-1.279,3.249,4.091,4.091,0,0,0,1.437,3.362,5.98,5.98,0,0,0,3.9,1.178Z" transform="translate(-349.465 -33.737)" fill="#5a5ae5"/>
        <path id="Path_693" data-name="Path 693" d="M26.838,40.269,16.015,25.826,5.355,40.269H0L13.338,22.256.267,4.83H5.68L16.232,18.9,26.625,4.83h5.2L18.909,22.364l13.446,17.9Z" transform="translate(0 -2.964)" fill="#5a5ae5"/>
        <path id="Path_694" data-name="Path 694" d="M101.445,58.406v-2.3a11.923,11.923,0,0,1-4.822,1.812l-4.447.908c-3.644.746-5.355,2.133-5.355,5.023,0,3.041,2.195,4.532,5.355,4.532,6.321,0,9.273-4.9,9.273-9.965M82.482,64c0-4.316,2.357-7.036,8.141-7.994l6.8-1.12c2.84-.479,4.018-1.225,4.018-3.249,0-2.7-1.395-4.795-6.592-4.795s-7.229,2.45-7.5,5.912H83.1C83.262,47.1,87.28,43.48,94.7,43.48c7.341,0,10.66,3.358,10.66,8.153V64.422a62.265,62.265,0,0,0,.321,6.607h-3.91c-.216-2.291-.386-4.25-.386-6.232-1.02,3.2-3.864,6.928-10.073,6.928-5.143,0-8.837-2.666-8.837-7.728" transform="translate(-50.605 -33.732)" fill="#5a5ae5"/>
        <path id="Path_695" data-name="Path 695" d="M174.4,54.122v17h-4.285V54.585c0-5.7-2.515-7.411-6.429-7.411-5.943,0-9.107,4.586-9.107,13.751V71.1H150.29V44.443h4.285v7.013c1.661-4.849,4.984-7.836,10.285-7.836,6.7,0,9.536,3.624,9.536,10.5" transform="translate(-92.221 -33.818)" fill="#5a5ae5"/>
        <path id="Path_696" data-name="Path 696" d="M240.375,42.229c0-7.515-3.589-10.71-9.273-10.71-6.1,0-8.786,3.516-8.786,10.71s2.685,10.7,8.79,10.7c5.68,0,9.273-3.2,9.273-10.714M244.66,18.25v37.3h-4.285V50.435c-1.824,3.787-5.2,5.97-10.127,5.97-8.408,0-12.248-6.02-12.248-14.176s3.864-14.176,12.268-14.176c4.93,0,8.3,2.133,10.127,5.915V18.25Z" transform="translate(-133.769 -18.25)" fill="#5a5ae5"/>
      </g>
    </g>
  </g>
</svg>
