<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 325 379">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_122" data-name="Rectangle 122" width="162" height="161" transform="translate(1265.982 136)" fill="#fff"/>
    </clipPath>
  </defs>
  <g id="team-hero-Mobile" transform="translate(-24 -80)">
    <g id="grid">
      <g id="Rectangle_99" data-name="Rectangle 99" transform="translate(24 80)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-2" data-name="Rectangle 99" transform="translate(78 80)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-3" data-name="Rectangle 99" transform="translate(132 80)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-4" data-name="Rectangle 99" transform="translate(186 80)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-5" data-name="Rectangle 99" transform="translate(240 80)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-6" data-name="Rectangle 99" transform="translate(294 80)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-7" data-name="Rectangle 99" transform="translate(24 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-8" data-name="Rectangle 99" transform="translate(78 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-9" data-name="Rectangle 99" transform="translate(132 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-10" data-name="Rectangle 99" transform="translate(186 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-11" data-name="Rectangle 99" transform="translate(240 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-12" data-name="Rectangle 99" transform="translate(294 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-13" data-name="Rectangle 99" transform="translate(24 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-14" data-name="Rectangle 99" transform="translate(78 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-15" data-name="Rectangle 99" transform="translate(132 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-16" data-name="Rectangle 99" transform="translate(186 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-17" data-name="Rectangle 99" transform="translate(240 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-18" data-name="Rectangle 99" transform="translate(294 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-19" data-name="Rectangle 99" transform="translate(24 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-20" data-name="Rectangle 99" transform="translate(78 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-21" data-name="Rectangle 99" transform="translate(132 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-22" data-name="Rectangle 99" transform="translate(186 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-23" data-name="Rectangle 99" transform="translate(240 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-24" data-name="Rectangle 99" transform="translate(294 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-25" data-name="Rectangle 99" transform="translate(24 296)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-26" data-name="Rectangle 99" transform="translate(78 296)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-27" data-name="Rectangle 99" transform="translate(132 296)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-28" data-name="Rectangle 99" transform="translate(186 296)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-29" data-name="Rectangle 99" transform="translate(240 296)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-30" data-name="Rectangle 99" transform="translate(294 296)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-31" data-name="Rectangle 99" transform="translate(24 350)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-32" data-name="Rectangle 99" transform="translate(78 350)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-33" data-name="Rectangle 99" transform="translate(132 350)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-34" data-name="Rectangle 99" transform="translate(186 350)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-35" data-name="Rectangle 99" transform="translate(240 350)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-36" data-name="Rectangle 99" transform="translate(294 350)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-37" data-name="Rectangle 99" transform="translate(24 404)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-38" data-name="Rectangle 99" transform="translate(78 404)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-39" data-name="Rectangle 99" transform="translate(132 404)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-40" data-name="Rectangle 99" transform="translate(186 404)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-41" data-name="Rectangle 99" transform="translate(240 404)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-42" data-name="Rectangle 99" transform="translate(294 404)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
    </g>
    <g id="textbg" transform="translate(78 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
      <rect width="271" height="217" stroke="none"/>
      <rect x="0.5" y="0.5" width="270" height="216" fill="none"/>
    </g>
    <text id="Making_money_work._For_everyone." data-name="Making money work. For everyone." transform="translate(94 302)" fill="#968041" font-size="32" font-family="Telegraf-Medium, Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-weight="500" opacity="0.9"><tspan x="0" y="24">Making money </tspan><tspan x="0" y="58">work.</tspan><tspan x="0" y="92">For everyone.</tspan></text>
    <g id="title_bg" data-name="title bg" transform="translate(24 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
      <rect width="163" height="55" stroke="none"/>
      <rect x="0.5" y="0.5" width="162" height="54" fill="none"/>
    </g>
    <text id="Our_team" data-name="Our team" transform="translate(66 222)" fill="#968041" font-size="14" font-family="Telegraf-Bold, Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-weight="700"><tspan x="0" y="0">OUR TEAM</tspan></text>
    </g>
  </g>
</svg>
