<svg class="stroke-current fill-current" data-name="brand-icon / accuracy" xmlns="http://www.w3.org/2000/svg" width="108" height="108" viewBox="0 0 108 108">
  <path id="Path_303" data-name="Path 303" d="M826.149,87.624A48.924,48.924,0,1,1,777.226,38.7,48.923,48.923,0,0,1,826.149,87.624Z" transform="translate(-723.226 -33.624)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
  <line id="Line_183" data-name="Line 183" y2="10.154" transform="translate(54 97.846)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
  <line id="Line_184" data-name="Line 184" x1="10.154" transform="translate(0 54.001)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
  <line id="Line_185" data-name="Line 185" y1="10.154" transform="translate(54)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
  <line id="Line_186" data-name="Line 186" y1="21.23" transform="translate(54 43.386)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
  <line id="Line_187" data-name="Line 187" x1="21.23" transform="translate(43.385 54.001)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
  <line id="Line_188" data-name="Line 188" x2="10.154" transform="translate(97.846 54.001)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
  <path id="Path_304" data-name="Path 304" d="M773.086,51.069a37.851,37.851,0,0,0-32.479,32.882" transform="translate(-724.163 -34.566)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
  <path id="Path_305" data-name="Path 305" d="M819.235,83.951a37.849,37.849,0,0,0-32.479-32.882" transform="translate(-727.679 -34.566)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
  <path id="Path_306" data-name="Path 306" d="M740.734,97.653A37.858,37.858,0,0,0,773.1,129.612" transform="translate(-724.173 -38.114)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
  <path id="Path_307" data-name="Path 307" d="M786.756,129.613a37.859,37.859,0,0,0,32.362-31.959" transform="translate(-727.679 -38.114)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
</svg>
