<svg class="stroke-current fill-current" xmlns="http://www.w3.org/2000/svg" width="110.001" height="110.005" viewBox="0 0 110.001 110.005">
  <g id="brand-icon_liquidity" data-name="brand-icon / liquidity" transform="translate(1 1.002)">
    <path id="Path_295" data-name="Path 295" d="M213.718,104.153c0-15.154-8.73-15.154-8.73-30.306,0-11.61,5.121-14.331,7.518-21.781a53.817,53.817,0,0,0-19.623,10.055,25.274,25.274,0,0,0-2.5,11.725c0,15.153,8.73,15.153,8.73,30.306s-8.73,15.154-8.73,30.308a25.274,25.274,0,0,0,2.5,11.729,53.826,53.826,0,0,0,19.622,10.054c-2.4-7.451-7.518-10.171-7.518-21.783C204.988,119.307,213.718,119.307,213.718,104.153Z" transform="translate(-172.779 -50.155)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
    <path id="Path_296" data-name="Path 296" d="M199.366,103.959c0-15.154-8.73-15.154-8.73-30.306a25.276,25.276,0,0,1,2.5-11.725A54.15,54.15,0,0,0,177.4,82.667c2.456,7.09,7.358,9.937,7.358,21.292s-4.9,14.2-7.359,21.294A54.168,54.168,0,0,0,193.141,146a25.275,25.275,0,0,1-2.5-11.729C190.637,119.113,199.366,119.113,199.366,103.959Z" transform="translate(-173.035 -49.961)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
    <path id="Path_297" data-name="Path 297" d="M177.483,82.266a54.133,54.133,0,0,0,0,42.587c2.457-7.092,7.359-9.938,7.359-21.294S179.94,89.356,177.483,82.266Z" transform="translate(-173.119 -49.56)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
    <path id="Path_298" data-name="Path 298" d="M270.739,103.892c0,15.154-8.73,15.154-8.73,30.308a27.522,27.522,0,0,0,1.133,8.279,53.987,53.987,0,0,0,0-77.172,27.547,27.547,0,0,0-1.132,8.278C262.009,88.739,270.739,88.739,270.739,103.892Z" transform="translate(-171.368 -49.894)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
    <path id="Path_299" data-name="Path 299" d="M228.044,104.19c0-15.154-8.73-15.154-8.73-30.306,0-12.545,5.978-14.712,8.038-23.681-.285,0-.569-.01-.855-.01A54.021,54.021,0,0,0,212.224,52.1c-2.4,7.45-7.517,10.17-7.517,21.781,0,15.153,8.73,15.153,8.73,30.306s-8.73,15.154-8.73,30.308c0,11.611,5.121,14.332,7.517,21.783a54.062,54.062,0,0,0,14.274,1.911c.286,0,.57-.006.855-.01-2.059-8.971-8.038-11.138-8.038-23.683C219.314,119.344,228.044,119.344,228.044,104.19Z" transform="translate(-172.497 -50.192)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
    <path id="Path_300" data-name="Path 300" d="M256.695,104.15c0-15.154-8.73-15.154-8.73-30.306,0-8.405,2.685-12.149,5.077-16.4a53.723,53.723,0,0,0-12.222-5.211c-2.418,7.323-7.463,10.09-7.463,21.612,0,15.153,8.73,15.153,8.73,30.306s-8.73,15.154-8.73,30.308c0,11.524,5.045,14.289,7.464,21.614a53.7,53.7,0,0,0,12.222-5.212c-2.392-4.253-5.078-8-5.078-16.4C247.965,119.3,256.695,119.3,256.695,104.15Z" transform="translate(-171.933 -50.152)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
    <path id="Path_301" data-name="Path 301" d="M262.291,134.358c0-15.154,8.73-15.154,8.73-30.308s-8.73-15.154-8.73-30.306a27.557,27.557,0,0,1,1.132-8.278,54.16,54.16,0,0,0-10.663-8.123c-2.392,4.252-5.077,8-5.077,16.4,0,15.153,8.73,15.153,8.73,30.306s-8.73,15.155-8.73,30.308c0,8.406,2.686,12.15,5.078,16.4a54.192,54.192,0,0,0,10.663-8.123A27.53,27.53,0,0,1,262.291,134.358Z" transform="translate(-171.65 -50.051)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
    <path id="Path_302" data-name="Path 302" d="M242.37,104.19c0-15.154-8.73-15.154-8.73-30.306,0-11.523,5.044-14.289,7.462-21.612A53.976,53.976,0,0,0,227.07,50.2c-2.06,8.969-8.039,11.136-8.039,23.681,0,15.153,8.73,15.153,8.73,30.306s-8.73,15.154-8.73,30.308c0,12.545,5.979,14.712,8.039,23.683a54.077,54.077,0,0,0,14.033-2.069c-2.419-7.326-7.463-10.091-7.463-21.614C233.64,119.343,242.37,119.343,242.37,104.19Z" transform="translate(-172.215 -50.192)" fill="none" stroke-miterlimit="10" stroke-width="2"/>
  </g>
</svg>
