<svg class="stroke-current fill-current" id="brand-icon_cash-reflow" data-name="brand-icon / cash-reflow" xmlns="http://www.w3.org/2000/svg" width="108" height="108" viewBox="0 0 108 108">
  <defs>
    <style>
      .cls-1 {
        {# fill: #e5eaed; #}
        opacity: 0;
      }

      .cls-1, .cls-2 {
        {# stroke: #0c2026; #}
      }

      .cls-2, .cls-4 {
        fill: none;
      }

      .cls-2 {
        stroke-miterlimit: 10;
        stroke-width: 2px;
      }

      .cls-3 {
        stroke: none;
      }
    </style>
  </defs>
  <g id="Rectangle_639" data-name="Rectangle 639" class="cls-1">
    <rect class="cls-3" width="108" height="108"/>
    <rect class="cls-4" x="0.5" y="0.5" width="107" height="107"/>
  </g>
  <path id="Path_281" data-name="Path 281" class="cls-2" d="M308.991,238.352a47.141,47.141,0,0,1-7.573-93.724" transform="translate(-255.143 -137.192)"/>
  <path id="Path_282" data-name="Path 282" class="cls-2" d="M314.454,143.959a47.144,47.144,0,0,1,6.273,93.913" transform="translate(-260.606 -137.119)"/>
  <ellipse id="Ellipse_12" data-name="Ellipse 12" class="cls-2" cx="36.489" cy="36.734" rx="36.489" ry="36.734" transform="translate(11.696 84.167) rotate(-80.783)"/>
  <line id="Line_177" data-name="Line 177" class="cls-2" y1="56.058" transform="translate(49.373 25.974)"/>
  <line id="Line_178" data-name="Line 178" class="cls-2" y1="56.058" transform="translate(60.12 25.969)"/>
  <path id="Path_283" data-name="Path 283" class="cls-2" d="M329.918,175.181h-25.2a9.677,9.677,0,1,0,0,19.353h15.458a9.677,9.677,0,1,1,0,19.354h-25.2" transform="translate(-258.596 -140.537)"/>
  <path id="Path_284" data-name="Path 284" class="cls-2" d="M319.655,148.764l-5.517-5.479,5.517-5.479" transform="translate(-260.574 -136.446)"/>
  <path id="Path_285" data-name="Path 285" class="cls-2" d="M308.3,243.721l5.517,5.479-5.517,5.479" transform="translate(-259.972 -148.04)"/>
</svg>