<svg id="Xandbox-logo" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 349.796 56">
  <path id="Path_613" data-name="Path 613" d="M1530.449,356.489v48.08H1499.2V373.294h28.974v-3.916h-32.89v39.106h39.083V360.4h8.974v8.974h-6.7v3.916h10.617V356.489Z" transform="translate(-1197.459 -353.736)" fill="#fff"/>
  <path id="Path_614" data-name="Path 614" d="M1186.772,356.489h-7.624L1163.9,377.131l-15.484-20.642h-7.938l19.178,25.568-19.57,26.428h7.859l15.641-21.19,15.877,21.19h8.1l-19.728-26.272Z" transform="translate(-1140.085 -353.736)" fill="#fff"/>
  <path id="Path_615" data-name="Path 615" d="M1229.422,382.253c0-7.037-4.872-11.963-15.641-11.963-10.846,0-16.742,5.317-16.977,13.605h6.209c.393-5.082,3.3-8.679,11-8.679,7.624,0,9.667,3.05,9.667,7.037,0,2.971-1.729,4.066-5.895,4.769l-9.982,1.642c-8.489,1.408-11.948,5.4-11.948,11.729,0,7.428,5.424,11.338,12.969,11.338,9.118,0,13.283-5.474,14.776-10.165,0,2.894.236,5.786.55,9.148h5.738a91.148,91.148,0,0,1-.471-9.7Zm-5.738,9.93c0,7.428-4.322,14.621-13.6,14.621-4.637,0-7.86-2.189-7.86-6.647,0-4.222,2.515-6.255,7.86-7.349l6.524-1.329c2.987-.626,5.109-1.252,7.073-2.659Z" transform="translate(-1149.094 -355.965)" fill="#fff"/>
  <path id="Path_616" data-name="Path 616" d="M1263.077,370.383c-7.781,0-12.653,4.379-15.09,11.494V371.634H1241.7v39.095h6.288V395.795c0-13.449,4.638-20.173,13.361-20.173,5.738,0,9.432,2.5,9.432,10.868v24.239h6.288V385.787C1277.068,375.7,1272.9,370.383,1263.077,370.383Z" transform="translate(-1156.498 -355.981)" fill="#fff"/>
  <path id="Path_617" data-name="Path 617" d="M1320.3,376.291c-2.672-5.552-7.623-8.679-14.854-8.679-12.341,0-18,8.758-18,20.8,0,11.963,5.659,20.8,18,20.8,7.231,0,12.182-3.206,14.854-8.757v7.506h6.288V353.225H1320.3Zm-13.6,27.836c-8.961,0-12.891-5.238-12.891-15.716,0-10.556,3.93-15.716,12.891-15.716,8.331,0,13.6,4.691,13.6,15.716S1315.032,404.126,1306.7,404.126Z" transform="translate(-1163.887 -353.209)" fill="#fff"/>
  <path id="Path_618" data-name="Path 618" d="M1361.787,367.6q-8.447,0-12.787,5.515a17.265,17.265,0,0,0-1.994,3.241V353.206h-6.258v54.748h6.258v-7.5a17.292,17.292,0,0,0,1.994,3.241q4.34,5.515,12.787,5.514,8.838,0,13.375-5.709t4.537-15.1q0-9.462-4.537-15.134T1361.787,367.6Zm8.486,32.654q-3.089,3.871-9.737,3.872-6.414,0-9.972-3.872t-3.558-11.849q0-7.978,3.558-11.849t9.972-3.87q6.646,0,9.737,3.87t3.09,11.849Q1373.363,396.379,1370.274,400.25Z" transform="translate(-1172.497 -353.206)" fill="#fff"/>
  <path id="Path_619" data-name="Path 619" d="M1429.284,391.1a24.885,24.885,0,0,0-2.19-10.637,16.732,16.732,0,0,0-6.648-7.391,23.008,23.008,0,0,0-21.626,0,17.031,17.031,0,0,0-6.648,7.391,24.486,24.486,0,0,0-2.229,10.637,24.924,24.924,0,0,0,2.229,10.753,17,17,0,0,0,6.648,7.431,22.871,22.871,0,0,0,21.626-.04,16.966,16.966,0,0,0,6.648-7.43A25.074,25.074,0,0,0,1429.284,391.1Zm-9.62,12q-3.286,3.795-10.012,3.794T1399.6,403.1q-3.325-3.792-3.325-11.927,0-8.212,3.325-11.966t10.05-3.754q6.726,0,10.012,3.754t3.284,11.966Q1422.949,399.309,1419.664,403.1Z" transform="translate(-1180.444 -355.978)" fill="#fff"/>
  <path id="Path_620" data-name="Path 620" d="M1472.191,371.861h-7.2l-11.5,15.409L1442,371.861h-7.509l15.174,19.4L1434.1,410.967h7.117l12.123-15.955,12.123,15.955h7.509l-15.8-19.866Z" transform="translate(-1187.576 -356.219)" fill="#fff"/>
</svg>
