{# <svg id="autonomous-logo" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 444.16 124.2">
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <polygon points="352.59 96.63 352.59 96.63 378.91 96.63 378.91 39.1 372.09 39.1 372.09 89.81 359.41 89.81 359.41 34.44 413.21 34.44 413.21 27.62 352.55 27.62 352.59 96.63" fill="#fff"/>
      <polygon points="444.16 96.63 443.97 27.62 429.3 27.62 429.3 34.44 437.35 34.44 437.35 89.81 424.66 89.81 424.66 5.22 372.09 5.22 372.09 22.97 378.91 22.97 378.91 12.06 417.84 12.06 417.84 96.63 444.16 96.63" fill="#fff"/>
      <path d="M39.88,23.11H51.47L16.56,114.88H5.11ZM21.39,82.18H75.21v9.24H21.39ZM45.13,23.11H56.86l34.77,91.77H80Z" transform="translate(-5.11 -18.28)" fill="#fff"/>
      <path d="M99.5,18.28h11v96.6h-11Z" transform="translate(-5.11 -18.28)" fill="#fff"/>
      <path d="M122.82,45.88h11v96.6h-11Zm37.12,71.21q-14.91,0-22.56-9.73t-7.66-27q0-17.25,7.66-27t22.56-9.72q15.6,0,23.6,10.07t8,26.63q0,16.71-8,26.71T159.94,117.09Zm-2.21-9q11.73,0,17.18-6.83t5.45-20.91q0-14.07-5.45-20.9t-17.18-6.83q-11.31,0-17.59,6.83t-6.28,20.9q0,14.09,6.28,20.91T157.73,108.12Z" transform="translate(-5.11 -18.28)" fill="#fff"/>
      <path d="M201.06,18.28h11v96.6h-11Zm7.59,70.25q0-21,7.32-32.92T238.6,43.68q12.69,0,18.63,6.76t5.93,20.42v44h-11V72.1q0-10.48-4.21-14.83t-12.35-4.35q-11.58,0-17.52,9T212.1,88.53Z" transform="translate(-5.11 -18.28)" fill="#fff"/>
      <path d="M294.9,116.68q-10.22,0-16.49-5.25t-6.28-14.76a21.62,21.62,0,0,1,2.14-9.87,16.77,16.77,0,0,1,6.83-6.9,36.58,36.58,0,0,1,12-3.93l17.53-2.9c3.77-.64,6.43-1.56,8-2.76S321,67.23,321,64.65q0-5.93-3.8-9.18T304,52.23q-9.66,0-14.21,4t-5.11,11.32h-10.9a24.78,24.78,0,0,1,3.73-12.7,22.47,22.47,0,0,1,10.07-8.35,39.15,39.15,0,0,1,16-3q13.8,0,20.63,5.72t6.83,15.39V97.77q0,7.88.83,17.11H321.81a158.76,158.76,0,0,1-1-16.14,26.74,26.74,0,0,1-8.63,12.69Q306,116.68,294.9,116.68Zm2.21-8.7a23.12,23.12,0,0,0,13.11-3.58,22.27,22.27,0,0,0,8.07-9.53A30.24,30.24,0,0,0,321,82.18V76.24a24.84,24.84,0,0,1-5.32,2.69,59.49,59.49,0,0,1-7.1,2l-11.46,2.34q-7.17,1.52-10.49,4.56a10.86,10.86,0,0,0-3.31,8.41c0,3.78,1.24,6.67,3.73,8.7S292.88,108,297.11,108Z" transform="translate(-5.11 -18.28)" fill="#fff"/>
    </g>
  </g>
</svg> #}
<svg id="autonomous-logo" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 746.6 124.24">
  <defs><style>.cls-1{fill:#5a5ae5;}</style></defs>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <polygon points="655.02 96.66 655.02 96.66 681.34 96.66 681.34 39.13 674.52 39.13 674.52 89.85 661.84 89.85 661.84 34.47 715.64 34.47 715.64 27.66 654.98 27.66 655.02 96.66" fill="#fff"/>
      <polygon points="746.6 96.66 746.4 27.66 731.73 27.66 731.73 34.47 739.78 34.47 739.78 89.85 727.1 89.85 727.1 5.26 674.52 5.26 674.52 23.01 681.34 23.01 681.34 12.1 720.28 12.1 720.28 96.66 746.6 96.66" fill="#fff"/>
      <path d="M349.13,23.11h11.6l-34.92,91.77H314.36ZM330.64,82.18h53.82v9.24H330.64Zm23.74-59.07h11.73l34.77,91.77H389.29Z" transform="translate(0 -18.25)" fill="#fff"/>
      <path d="M406,18.28h11v96.6H406Z" transform="translate(0 -18.25)" fill="#fff"/>
      <path d="M426.83,45.88h11v96.6h-11ZM464,117.09q-14.91,0-22.56-9.73t-7.66-27q0-17.25,7.66-27T464,43.68q15.58,0,23.6,10.07t8,26.63q0,16.71-8,26.71T464,117.09Zm-2.21-9q11.73,0,17.18-6.83t5.45-20.91q0-14.07-5.45-20.9t-17.18-6.83q-11.31,0-17.59,6.83t-6.28,20.9q0,14.09,6.28,20.91T461.74,108.12Z" transform="translate(0 -18.25)" fill="#fff"/>
      <path d="M501.9,18.28h11v96.6h-11Zm7.59,70.25q0-21,7.31-32.92t22.63-11.93q12.71,0,18.63,6.76T564,70.86v44H553V72.1q0-10.48-4.21-14.83T536.4,52.92q-11.6,0-17.53,9t-5.93,26.64Z" transform="translate(0 -18.25)" fill="#fff"/>
      <path d="M592.29,116.68q-10.21,0-16.49-5.25t-6.28-14.76a21.49,21.49,0,0,1,2.14-9.87,16.65,16.65,0,0,1,6.83-6.9,36.6,36.6,0,0,1,12-3.93L608,73.07q5.65-1,8-2.76c1.57-1.2,2.35-3.08,2.35-5.66q0-5.93-3.79-9.18T601.4,52.23q-9.66,0-14.22,4c-3,2.67-4.74,6.44-5.1,11.32H571.17a24.87,24.87,0,0,1,3.73-12.7A22.58,22.58,0,0,1,585,46.5a39.15,39.15,0,0,1,16-3q13.8,0,20.63,5.72t6.83,15.39V97.77q0,7.88.83,17.11H619.2a156.2,156.2,0,0,1-1-16.14,26.72,26.72,0,0,1-8.62,12.69Q603.32,116.68,592.29,116.68Zm2.21-8.7a23.12,23.12,0,0,0,13.11-3.58,22.34,22.34,0,0,0,8.07-9.53,30.39,30.39,0,0,0,2.69-12.69V76.24a25,25,0,0,1-5.31,2.69,60.26,60.26,0,0,1-7.11,2L594.5,83.28Q587.32,84.8,584,87.84c-2.21,2-3.31,4.83-3.31,8.41,0,3.78,1.24,6.67,3.72,8.7S590.26,108,594.5,108Z" transform="translate(0 -18.25)" fill="#fff"/>
      <polygon points="69.46 96.55 41.45 59.17 13.86 96.55 0 96.55 34.52 49.93 0.69 4.83 14.7 4.83 42.01 41.24 68.91 4.83 82.36 4.83 48.94 50.21 83.74 96.55 69.46 96.55" fill="#fff"/>
      <path d="M131.58,82.11V76.17c-3.47,2.49-7.21,3.59-12.48,4.69l-11.51,2.35c-9.43,1.93-13.86,5.52-13.86,13,0,7.87,5.68,11.73,13.86,11.73,16.36,0,24-12.69,24-25.79M82.5,96.59c0-11.17,6.1-18.21,21.07-20.69L121.18,73c7.35-1.24,10.4-3.17,10.4-8.41,0-7-3.61-12.41-17.06-12.41s-18.71,6.34-19.41,15.3h-11c.41-14.62,10.81-24,30-24,19,0,27.59,8.69,27.59,21.1v33.1a161.15,161.15,0,0,0,.83,17.1H132.41c-.56-5.93-1-11-1-16.13-2.64,8.27-10,17.93-26.07,17.93-13.31,0-22.87-6.9-22.87-20" transform="translate(0 -18.25)" fill="#fff"/>
      <path d="M212.68,70.8v44H201.59V72c0-14.76-6.51-19.18-16.64-19.18-15.38,0-23.57,11.87-23.57,35.59v26.34H150.29v-69h11.09V63.9c4.3-12.55,12.9-20.28,26.62-20.28,17.34,0,24.68,9.38,24.68,27.18" transform="translate(0 -18.25)" fill="#fff"/>
      <path d="M275.91,80.31c0-19.45-9.29-27.72-24-27.72-15.8,0-22.74,9.1-22.74,27.72S236.12,108,251.92,108c14.7,0,24-8.28,24-27.73M287,18.25v96.54H275.91V101.55c-4.72,9.8-13.45,15.45-26.21,15.45C227.94,117,218,101.42,218,80.31s10-36.69,31.75-36.69c12.76,0,21.49,5.52,26.21,15.31V18.25Z" transform="translate(0 -18.25)" fill="#fff"/>
    </g>
  </g>
</svg>
{# <svg id="autonomous-logo" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 505.662 56">
  <path id="Path_504" data-name="Path 504" d="M1266.684-61.171h15.682V-95.449H1278.3v30.215h-7.557V-98.225H1302.8v-4.063h-36.139Z" transform="translate(-815.583 115.855)" fill="#fff"/>
  <path id="Path_505" data-name="Path 505" d="M1329.143-70.223l-.116-41.116h-8.74v4.063h4.794v32.991h-7.557v-50.4H1286.2v10.573h4.063v-6.5h23.2v50.385Z" transform="translate(-823.481 124.907)" fill="#fff"/>
  <g id="Group_54" data-name="Group 54">
    <path id="Path_506" data-name="Path 506" d="M537.222-125.059h-6.909L509.591-70.375h6.826l5.319-13.979h27.19l5.319,13.979h6.906L540.43-125.059Zm-13.391,35.2,11.5-30.224,11.5,30.224Z" transform="translate(-509.591 125.059)" fill="#fff"/>
    <path id="Path_507" data-name="Path 507" d="M627.7-86.581q0,10.2-3.494,15.747a11.073,11.073,0,0,1-9.909,5.551q-5.181,0-7.771-2.549T603.931-76.8v-25.493h-6.577v26.233q0,8.141,3.66,12.171T612.4-59.855q9.043,0,13.2-7.072a25.022,25.022,0,0,0,2.095-4.741v10.5h6.58v-41.116H627.7Z" transform="translate(-545.063 115.855)" fill="#fff"/>
    <path id="Path_508" data-name="Path 508" d="M677.136-103.3H690.7v-5.182H677.136v-9.127H673.6l-2.469,8.552L662.745-107v3.7h7.811v26.313a14.5,14.5,0,0,0,.865,5.51,5.856,5.856,0,0,0,3.042,3.083,14.444,14.444,0,0,0,6.044,1.028h9.7v-5.345H677.136Z" transform="translate(-571.493 122.047)" fill="#fff"/>
    <path id="Path_509" data-name="Path 509" d="M739.476-101.658a21.514,21.514,0,0,0-11.349-2.838,21.454,21.454,0,0,0-11.388,2.838,17.912,17.912,0,0,0-6.99,7.771A25.764,25.764,0,0,0,707.406-82.7,26.229,26.229,0,0,0,709.748-71.4a17.87,17.87,0,0,0,6.99,7.813,21.47,21.47,0,0,0,11.388,2.837,21.284,21.284,0,0,0,11.349-2.879,17.839,17.839,0,0,0,6.99-7.812,26.343,26.343,0,0,0,2.3-11.265,26.147,26.147,0,0,0-2.3-11.184A17.6,17.6,0,0,0,739.476-101.658Zm-.823,31.576q-3.454,3.99-10.526,3.989t-10.566-3.989q-3.5-3.986-3.5-12.54,0-8.633,3.5-12.582t10.566-3.946q7.072,0,10.526,3.946t3.455,12.582Q742.108-74.067,738.653-70.082Z" transform="translate(-589.544 116.748)" fill="#fff"/>
    <path id="Path_510" data-name="Path 510" d="M806.079-104.5q-9.125,0-13.486,7.113a25.018,25.018,0,0,0-2.3,5.05V-103.18h-6.58v41.116h6.58V-77.77q0-10.524,3.536-15.871t10.442-5.346q4.851,0,7.361,2.591t2.508,8.84v25.492h6.578V-88.3q0-8.144-3.536-12.172T806.079-104.5Z" transform="translate(-620.385 116.748)" fill="#fff"/>
    <path id="Path_511" data-name="Path 511" d="M884.156-101.658A21.5,21.5,0,0,0,872.81-104.5a21.46,21.46,0,0,0-11.391,2.838,17.917,17.917,0,0,0-6.988,7.771A25.724,25.724,0,0,0,852.086-82.7,26.188,26.188,0,0,0,854.431-71.4a17.875,17.875,0,0,0,6.988,7.813,21.476,21.476,0,0,0,11.391,2.837,21.269,21.269,0,0,0,11.346-2.879,17.826,17.826,0,0,0,6.99-7.812,26.345,26.345,0,0,0,2.3-11.265,26.149,26.149,0,0,0-2.3-11.184A17.584,17.584,0,0,0,884.156-101.658Zm-.82,31.576q-3.454,3.99-10.526,3.989t-10.568-3.989q-3.5-3.986-3.494-12.54,0-8.633,3.494-12.582T872.81-99.15q7.071,0,10.526,3.946t3.452,12.582Q886.788-74.067,883.336-70.082Z" transform="translate(-648.02 116.748)" fill="#fff"/>
    <path id="Path_512" data-name="Path 512" d="M978.8-104.5q-6.33,0-10.156,3.29a17.954,17.954,0,0,0-5.211,8.263,14.79,14.79,0,0,0-3.094-7.565q-3.414-3.987-10.4-3.988a14.5,14.5,0,0,0-9.869,3.29,17.933,17.933,0,0,0-5.1,8.069V-103.18H928.4v41.116h6.578V-77.77q0-10.772,3.165-15.994t9.745-5.222q4.689,0,7.072,2.591t2.385,8.593v25.739h6.415V-77.77q0-10.689,3.166-15.954t9.827-5.263q4.689,0,7.032,2.591t2.343,8.593v25.739h6.58V-88.542q0-7.894-3.454-11.925T978.8-104.5Z" transform="translate(-678.864 116.748)" fill="#fff"/>
    <path id="Path_513" data-name="Path 513" d="M1074.579-101.658a21.513,21.513,0,0,0-11.349-2.838,21.454,21.454,0,0,0-11.388,2.838,17.911,17.911,0,0,0-6.99,7.771,25.767,25.767,0,0,0-2.342,11.184,26.232,26.232,0,0,0,2.342,11.306,17.869,17.869,0,0,0,6.99,7.813,21.47,21.47,0,0,0,11.388,2.837,21.284,21.284,0,0,0,11.349-2.879,17.84,17.84,0,0,0,6.99-7.812,26.346,26.346,0,0,0,2.3-11.265,26.15,26.15,0,0,0-2.3-11.184A17.6,17.6,0,0,0,1074.579-101.658Zm-.823,31.576q-3.454,3.99-10.526,3.989t-10.566-3.989q-3.5-3.986-3.5-12.54,0-8.633,3.5-12.582t10.566-3.946q7.072,0,10.526,3.946t3.454,12.582Q1077.211-74.067,1073.756-70.082Z" transform="translate(-724.986 116.748)" fill="#fff"/>
    <path id="Path_514" data-name="Path 514" d="M1148.3-86.581q0,10.2-3.494,15.747a11.074,11.074,0,0,1-9.909,5.551q-5.182,0-7.771-2.549t-2.592-8.964v-25.493h-6.578v26.233q0,8.141,3.659,12.171t11.389,4.029q9.043,0,13.2-7.072a25.046,25.046,0,0,0,2.1-4.741v10.5h6.58v-41.116h-6.58Z" transform="translate(-755.482 115.855)" fill="#fff"/>
    <path id="Path_515" data-name="Path 515" d="M1208.516-85.474l-8.715-1.235q-3.621-.492-5.14-2.095a5.568,5.568,0,0,1-1.522-3.99,5.9,5.9,0,0,1,2.427-5.016q2.424-1.807,7.44-1.81,5.345,0,8.06,2.3a8.414,8.414,0,0,1,3.042,5.839h6.5a12.732,12.732,0,0,0-4.974-9.58q-4.563-3.577-12.459-3.578-7.731,0-12.087,3.29a10.71,10.71,0,0,0-4.359,9.045,10.082,10.082,0,0,0,2.879,7.524q2.876,2.838,8.3,3.578l9.54,1.4a10.712,10.712,0,0,1,5.673,2.22,5.909,5.909,0,0,1,1.809,4.6,6.271,6.271,0,0,1-2.385,5.387q-2.387,1.768-7.73,1.768-6.582,0-9.621-2.715a10.655,10.655,0,0,1-3.455-7.318h-6.086a14.4,14.4,0,0,0,4.771,10.978q4.6,4.072,14.225,4.071,8.305,0,12.539-3.124t4.235-9.375q0-5.261-3-8.224T1208.516-85.474Z" transform="translate(-782.842 116.804)" fill="#fff"/>
  </g>
</svg> #}
