<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 1673 440">
		<defs>
			<clipPath id="clip-path">
			<rect width="1673" height="439" fill="none"/>
			</clipPath>
			<clipPath id="clip-path-2">
			<rect id="Rectangle_122" data-name="Rectangle 122" width="264" height="264" transform="translate(0 0)" fill="#fff" stroke="#968041" stroke-width="2"/>
			</clipPath>
			{% for a in authors %}
			<pattern id="pattern-{{ loop.index }}" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 1080 1080">
				{% set people = collections.people|filterBySlug(a) %}
				<image width="1080" height="1080" href="{{people[0].data.image}}" />
			</pattern>
			{# {% if authors|length == 2 %}
			<pattern id="pattern-2" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 1080 1080">
				<image width="1080" height="1080" href="{{ authorsList|imageById(authors[1]) }}" />
			</pattern>
			{% endif %} #}
			{% endfor %}
		</defs>
		<g id="hero" transform="translate(-123 -136)">
			<g id="Repeat_Grid_2" data-name="Repeat Grid 2" transform="translate(123 136)" clip-path="url(#clip-path)">
			<g transform="translate(-141 -18)">
				<g id="Rectangle_99" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(-53 -18)">
				<g id="Rectangle_99-2" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(35 -18)">
				<g id="Rectangle_99-3" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(123 -18)">
				<g id="Rectangle_99-4" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(211 -18)">
				<g id="Rectangle_99-5" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(299 -18)">
				<g id="Rectangle_99-6" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(387 -18)">
				<g id="Rectangle_99-7" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(475 -18)">
				<g id="Rectangle_99-8" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(563 -18)">
				<g id="Rectangle_99-9" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(651 -18)">
				<g id="Rectangle_99-10" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(739 -18)">
				<g id="Rectangle_99-11" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(827 -18)">
				<g id="Rectangle_99-12" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(915 -18)">
				<g id="Rectangle_99-13" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1003 -18)">
				<g id="Rectangle_99-14" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1091 -18)">
				<g id="Rectangle_99-15" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1179 -18)">
				<g id="Rectangle_99-16" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1267 -18)">
				<g id="Rectangle_99-17" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1355 -18)">
				<g id="Rectangle_99-18" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1443 -18)">
				<g id="Rectangle_99-19" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1531 -18)">
				<g id="Rectangle_99-20" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(-141 70)">
				<g id="Rectangle_99-21" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(-53 70)">
				<g id="Rectangle_99-22" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(35 70)">
				<g id="Rectangle_99-23" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(123 70)">
				<g id="Rectangle_99-24" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(211 70)">
				<g id="Rectangle_99-25" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(299 70)">
				<g id="Rectangle_99-26" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(387 70)">
				<g id="Rectangle_99-27" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(475 70)">
				<g id="Rectangle_99-28" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(563 70)">
				<g id="Rectangle_99-29" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(651 70)">
				<g id="Rectangle_99-30" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(739 70)">
				<g id="Rectangle_99-31" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(827 70)">
				<g id="Rectangle_99-32" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(915 70)">
				<g id="Rectangle_99-33" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1003 70)">
				<g id="Rectangle_99-34" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1091 70)">
				<g id="Rectangle_99-35" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1179 70)">
				<g id="Rectangle_99-36" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1267 70)">
				<g id="Rectangle_99-37" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1355 70)">
				<g id="Rectangle_99-38" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1443 70)">
				<g id="Rectangle_99-39" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1531 70)">
				<g id="Rectangle_99-40" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(-141 158)">
				<g id="Rectangle_99-41" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(-53 158)">
				<g id="Rectangle_99-42" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(35 158)">
				<g id="Rectangle_99-43" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(123 158)">
				<g id="Rectangle_99-44" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(211 158)">
				<g id="Rectangle_99-45" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(299 158)">
				<g id="Rectangle_99-46" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(387 158)">
				<g id="Rectangle_99-47" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(475 158)">
				<g id="Rectangle_99-48" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(563 158)">
				<g id="Rectangle_99-49" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(651 158)">
				<g id="Rectangle_99-50" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(739 158)">
				<g id="Rectangle_99-51" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(827 158)">
				<g id="Rectangle_99-52" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(915 158)">
				<g id="Rectangle_99-53" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1003 158)">
				<g id="Rectangle_99-54" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1091 158)">
				<g id="Rectangle_99-55" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1179 158)">
				<g id="Rectangle_99-56" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1267 158)">
				<g id="Rectangle_99-57" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1355 158)">
				<g id="Rectangle_99-58" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1443 158)">
				<g id="Rectangle_99-59" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1531 158)">
				<g id="Rectangle_99-60" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(-141 246)">
				<g id="Rectangle_99-61" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(-53 246)">
				<g id="Rectangle_99-62" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(35 246)">
				<g id="Rectangle_99-63" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(123 246)">
				<g id="Rectangle_99-64" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(211 246)">
				<g id="Rectangle_99-65" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(299 246)">
				<g id="Rectangle_99-66" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(387 246)">
				<g id="Rectangle_99-67" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(475 246)">
				<g id="Rectangle_99-68" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(563 246)">
				<g id="Rectangle_99-69" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(651 246)">
				<g id="Rectangle_99-70" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(739 246)">
				<g id="Rectangle_99-71" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(827 246)">
				<g id="Rectangle_99-72" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(915 246)">
				<g id="Rectangle_99-73" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1003 246)">
				<g id="Rectangle_99-74" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1091 246)">
				<g id="Rectangle_99-75" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1179 246)">
				<g id="Rectangle_99-76" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1267 246)">
				<g id="Rectangle_99-77" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1355 246)">
				<g id="Rectangle_99-78" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1443 246)">
				<g id="Rectangle_99-79" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1531 246)">
				<g id="Rectangle_99-80" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(-141 334)">
				<g id="Rectangle_99-81" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(-53 334)">
				<g id="Rectangle_99-82" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(35 334)">
				<g id="Rectangle_99-83" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(123 334)">
				<g id="Rectangle_99-84" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(211 334)">
				<g id="Rectangle_99-85" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(299 334)">
				<g id="Rectangle_99-86" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(387 334)">
				<g id="Rectangle_99-87" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(475 334)">
				<g id="Rectangle_99-88" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(563 334)">
				<g id="Rectangle_99-89" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(651 334)">
				<g id="Rectangle_99-90" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(739 334)">
				<g id="Rectangle_99-91" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(827 334)">
				<g id="Rectangle_99-92" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(915 334)">
				<g id="Rectangle_99-93" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1003 334)">
				<g id="Rectangle_99-94" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1091 334)">
				<g id="Rectangle_99-95" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1179 334)">
				<g id="Rectangle_99-96" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1267 334)">
				<g id="Rectangle_99-97" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1355 334)">
				<g id="Rectangle_99-98" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1443 334)">
				<g id="Rectangle_99-99" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			<g transform="translate(1531 334)">
				<g id="Rectangle_99-100" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="88" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
				</g>
			</g>
			</g>
			<g id="titleContainer" data-name="Rectangle 100" transform="translate(211 312)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="1056" height="264" stroke="none"/>
				<rect x="0.5" y="0.5" width="1055" height="263" fill="none"/>
			</g>
			<path id="Path_234" data-name="Path 234" d="M380.014,264.209h0" transform="translate(105.873 18.979)" fill="none" stroke="#ec4625" stroke-width="2"/>
			<path id="Path_237" data-name="Path 237" d="M9414.313-21700.439l13.768-14.922" transform="translate(-8081 21912)" fill="none" stroke="#fc2c02" stroke-width="2" opacity="0"/>
			<g id="Path_256" data-name="Path 256" transform="translate(123 136)" fill="none">
				<path d="M0,0H1673V440H0Z" stroke="none"/>
				<path d="M 2 2 L 2 438 L 1671 438 L 1671 2 L 2 2 M 0 0 L 1673 0 L 1673 440 L 0 440 L 0 0 Z" stroke="none" fill="#968041"/>
			</g>
			<rect id="Rectangle_124" data-name="Rectangle 124" width="440" height="87" transform="translate(1267 489)" fill="#968041"/>
			<text id="by_Linda_Jeng" data-name="" transform="translate(1299 541)" fill="#fff" font-size="21" font-family="IBMPlexSansBold, IBMPlexSans, 'Helvetica Neue', Helvetica, Arial, sans-serif"><tspan x="0" y="0">by {% for a in authors %}{% set people = collections.people|filterBySlug(a) %}{{ people[0].data.name }}{% if not loop.last %} and {% endif %}{% endfor %}</tspan></text>
			<g id="Rectangle_83" data-name="Rectangle 83" transform="translate(211 224)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
				<rect width="264" height="88" stroke="none"/>
				<rect x="0.5" y="0.5" width="263" height="87" fill="none"/>
			</g>
			<text id="July_19_2021" data-name="July 19, 2021" transform="translate(243 274)" fill="#968041" font-size="16" font-family="IBMPlexSansBold, IBMPlexSans, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-weight="700"><tspan x="0" y="0">{# {{ postDate|date('long')|upper }} #}{{ postDate|readableDate|upper }}</tspan></text>
			<g id="authorphoto1" transform="translate(1267 224)" clip-path="url(#clip-path-2)">
				<g id="Rectangle_123" data-name="Rectangle 123" transform="translate(0 0)" fill="none" stroke="#968041" stroke-width="2">
					<rect width="264" height="264" stroke="none"/>
					<rect x="1" y="1" width="262" height="262" fill="none"/>
				</g>
				<rect id="Transparent_Photos_Treated_Linda" width="304.692" height="300.86" transform="translate(-5.955 -17.932)" stroke="#ec4625" stroke-width="2" fill="url(#pattern-1)"/>
				{# <rect id="photo-overlay" width="264" height="264" fill="#968041" opacity="0.5"/> #}
			</g>
			<text id="press-article-wrap" y="16" data-name="{{ title }}" transform="translate(243 379)" fill="#968041" font-size="64" font-family="Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif">
				<tspan>{{ title }}</tspan>
				{# <tspan x="0" y="69">Transparent submits </tspan><tspan x="0" y="138">comment letter to the FDIC</tspan> #}
			</text>
			{% if authors|length == 2 %}
			<g id="authorphoto2">
				<rect id="Transparent_Photos_Treated_Patrick" width="270" height="270" transform="translate(1532 222)" fill="url(#pattern-2)"/>
				{# <rect id="photo-overlay-2" data-name="photo-overlay" width="265" height="265" transform="translate(1531 224)" fill="#968041" opacity="0.5"/> #}
			</g>
			{% endif %}
		</g>
	</svg>