<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 325 487">
  <defs>
    <clipPath id="clip-path">
      <rect width="325" height="487" fill="none"/>
    </clipPath>
    <clipPath id="clip-path-2">
      <rect id="Rectangle_122" data-name="Rectangle 122" width="107" height="107" transform="translate(1 0)" fill="#fff" stroke="#968041" stroke-width="2"/>
    </clipPath>
    {# {% if authors|length == 2 %}
    <pattern id="patternMob-2" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 1080 1080">
      <image width="1080" height="1080" href="{{ authorsList|imageById(authors[0]) }}" />
    </pattern>
    {% endif %} #}
    {% for a in authors %}
      <pattern id="patternMob-{{ loop.index }}" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 1080 1080">
        {% set people = collections.people|filterBySlug(a) %}
        <image width="1080" height="1080" href="{{people[0].data.image}}" />
      </pattern>
    {% endfor %}
  </defs>
  <g id="hero-mobile-2author" transform="translate(-24 -80)">
    <g id="Repeat_Grid_2" data-name="Repeat Grid 2" transform="translate(24 80)" clip-path="url(#clip-path)">
      <g transform="translate(-141 -18)">
        <g id="Rectangle_99" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 -18)">
        <g id="Rectangle_99-2" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 -18)">
        <g id="Rectangle_99-3" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 -18)">
        <g id="Rectangle_99-4" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 -18)">
        <g id="Rectangle_99-5" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 -18)">
        <g id="Rectangle_99-6" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 -18)">
        <g id="Rectangle_99-7" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 36)">
        <g id="Rectangle_99-8" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 36)">
        <g id="Rectangle_99-9" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 36)">
        <g id="Rectangle_99-10" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 36)">
        <g id="Rectangle_99-11" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 36)">
        <g id="Rectangle_99-12" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 36)">
        <g id="Rectangle_99-13" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 36)">
        <g id="Rectangle_99-14" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 90)">
        <g id="Rectangle_99-15" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 90)">
        <g id="Rectangle_99-16" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 90)">
        <g id="Rectangle_99-17" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 90)">
        <g id="Rectangle_99-18" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 90)">
        <g id="Rectangle_99-19" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 90)">
        <g id="Rectangle_99-20" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 90)">
        <g id="Rectangle_99-21" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 144)">
        <g id="Rectangle_99-22" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 144)">
        <g id="Rectangle_99-23" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 144)">
        <g id="Rectangle_99-24" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 144)">
        <g id="Rectangle_99-25" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 144)">
        <g id="Rectangle_99-26" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 144)">
        <g id="Rectangle_99-27" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 144)">
        <g id="Rectangle_99-28" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 198)">
        <g id="Rectangle_99-29" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 198)">
        <g id="Rectangle_99-30" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 198)">
        <g id="Rectangle_99-31" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 198)">
        <g id="Rectangle_99-32" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 198)">
        <g id="Rectangle_99-33" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 198)">
        <g id="Rectangle_99-34" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 198)">
        <g id="Rectangle_99-35" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 252)">
        <g id="Rectangle_99-36" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 252)">
        <g id="Rectangle_99-37" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 252)">
        <g id="Rectangle_99-38" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 252)">
        <g id="Rectangle_99-39" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 252)">
        <g id="Rectangle_99-40" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 252)">
        <g id="Rectangle_99-41" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 252)">
        <g id="Rectangle_99-42" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 306)">
        <g id="Rectangle_99-43" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 306)">
        <g id="Rectangle_99-44" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 306)">
        <g id="Rectangle_99-45" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 306)">
        <g id="Rectangle_99-46" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 306)">
        <g id="Rectangle_99-47" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 306)">
        <g id="Rectangle_99-48" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 306)">
        <g id="Rectangle_99-49" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 360)">
        <g id="Rectangle_99-50" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 360)">
        <g id="Rectangle_99-51" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 360)">
        <g id="Rectangle_99-52" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 360)">
        <g id="Rectangle_99-53" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 360)">
        <g id="Rectangle_99-54" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 360)">
        <g id="Rectangle_99-55" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 360)">
        <g id="Rectangle_99-56" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 414)">
        <g id="Rectangle_99-57" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 414)">
        <g id="Rectangle_99-58" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 414)">
        <g id="Rectangle_99-59" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 414)">
        <g id="Rectangle_99-60" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 414)">
        <g id="Rectangle_99-61" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 414)">
        <g id="Rectangle_99-62" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 414)">
        <g id="Rectangle_99-63" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 468)">
        <g id="Rectangle_99-64" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 468)">
        <g id="Rectangle_99-65" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 468)">
        <g id="Rectangle_99-66" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 468)">
        <g id="Rectangle_99-67" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 468)">
        <g id="Rectangle_99-68" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 468)">
        <g id="Rectangle_99-69" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 468)">
        <g id="Rectangle_99-70" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
    </g>
    <g id="Rectangle_83" data-name="Rectangle 83" transform="translate(24 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
      <rect width="163" height="55" stroke="none"/>
      <rect x="0.5" y="0.5" width="162" height="54" fill="none"/>
    </g>
    <g id="titleContainerMob" data-name="Rectangle 281" transform="translate(78 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
      <rect width="271" height="325" stroke="none"/>
      <rect x="0.5" y="0.5" width="270" height="324" fill="none"/>
    </g>
    <text id="press-article-wrap-mobile" data-name="{{ title }}" transform="translate(94 290)" fill="#968041" font-size="32" font-family="Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-weight="500">
      {{ title }}
    </text>
    <text id="July_19_2021" data-name="July 19, 2021" transform="translate(59 220)" fill="#968041" font-size="14" font-family="IBMPlexSansBold, IBMPlexSans, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-weight="700"><tspan x="0" y="0">{# {{ postDate|date('M d, Y')|upper }} #}{{ postDate|readableDate|upper }}</tspan></text>
    {% if authors|length == 2 %}
    <g id="authorphoto1" transform="translate(132 81)" clip-path="url(#clip-path-2)">
      <g id="Rectangle_123" data-name="Rectangle 123" transform="translate(1 0)" fill="none" stroke="#968041" stroke-width="2">
        <rect width="107" height="107" stroke="none"/>
        <rect x="1" y="1" width="105" height="105" fill="none"/>
      </g>
      <rect id="Transparent_Photos_Treated_Linda" width="107" height="107" stroke-width="1" stroke="#968041" fill="url(#patternMob-2)"/>
      {# <rect id="photo-overlay" width="107" height="107" transform="translate(1 0)" fill="#968041" opacity="0.5"/> #}
    </g>
    {% endif %}

    <g id="authorphoto2" transform="translate(-1290 -143.387)">
      <rect id="Transparent_Photos_Treated_Patrick" width="107" height="109" transform="translate(1531 223)" fill="url(#patternMob-1)"/>
      {# <rect id="photo-overlay-2" data-name="photo-overlay" width="107" height="107" transform="translate(1531 224.386)" fill="#968041" opacity="0.5"/> #}
    </g>
  </g>
</svg>
