<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 1144 611">
  <defs>
    <clipPath id="clip-path">
      <rect width="1144" height="610" fill="none"/>
    </clipPath>
  </defs>
  <g id="feature_article" data-name="feature article" transform="translate(-123 -136)">
    <g id="Repeat_Grid_2" data-name="Repeat Grid 2" transform="translate(123 136)" clip-path="url(#clip-path)">
      <g transform="translate(-141 -18)">
        <g id="Rectangle_99" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-53 -18)">
        <g id="Rectangle_99-2" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(35 -18)">
        <g id="Rectangle_99-3" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(123 -18)">
        <g id="Rectangle_99-4" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(211 -18)">
        <g id="Rectangle_99-5" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(299 -18)">
        <g id="Rectangle_99-6" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(387 -18)">
        <g id="Rectangle_99-7" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(475 -18)">
        <g id="Rectangle_99-8" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(563 -18)">
        <g id="Rectangle_99-9" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(651 -18)">
        <g id="Rectangle_99-10" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(739 -18)">
        <g id="Rectangle_99-11" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(827 -18)">
        <g id="Rectangle_99-12" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(915 -18)">
        <g id="Rectangle_99-13" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 70)">
        <g id="Rectangle_99-14" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-53 70)">
        <g id="Rectangle_99-15" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(35 70)">
        <g id="Rectangle_99-16" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(123 70)">
        <g id="Rectangle_99-17" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(211 70)">
        <g id="Rectangle_99-18" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(299 70)">
        <g id="Rectangle_99-19" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(387 70)">
        <g id="Rectangle_99-20" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(475 70)">
        <g id="Rectangle_99-21" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(563 70)">
        <g id="Rectangle_99-22" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(651 70)">
        <g id="Rectangle_99-23" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(739 70)">
        <g id="Rectangle_99-24" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(827 70)">
        <g id="Rectangle_99-25" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(915 70)">
        <g id="Rectangle_99-26" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 158)">
        <g id="Rectangle_99-27" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-53 158)">
        <g id="Rectangle_99-28" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(35 158)">
        <g id="Rectangle_99-29" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(123 158)">
        <g id="Rectangle_99-30" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(211 158)">
        <g id="Rectangle_99-31" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(299 158)">
        <g id="Rectangle_99-32" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(387 158)">
        <g id="Rectangle_99-33" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(475 158)">
        <g id="Rectangle_99-34" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(563 158)">
        <g id="Rectangle_99-35" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(651 158)">
        <g id="Rectangle_99-36" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(739 158)">
        <g id="Rectangle_99-37" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(827 158)">
        <g id="Rectangle_99-38" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(915 158)">
        <g id="Rectangle_99-39" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 246)">
        <g id="Rectangle_99-40" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-53 246)">
        <g id="Rectangle_99-41" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(35 246)">
        <g id="Rectangle_99-42" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(123 246)">
        <g id="Rectangle_99-43" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(211 246)">
        <g id="Rectangle_99-44" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(299 246)">
        <g id="Rectangle_99-45" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(387 246)">
        <g id="Rectangle_99-46" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(475 246)">
        <g id="Rectangle_99-47" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(563 246)">
        <g id="Rectangle_99-48" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(651 246)">
        <g id="Rectangle_99-49" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(739 246)">
        <g id="Rectangle_99-50" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(827 246)">
        <g id="Rectangle_99-51" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(915 246)">
        <g id="Rectangle_99-52" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 334)">
        <g id="Rectangle_99-53" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-53 334)">
        <g id="Rectangle_99-54" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(35 334)">
        <g id="Rectangle_99-55" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(123 334)">
        <g id="Rectangle_99-56" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(211 334)">
        <g id="Rectangle_99-57" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(299 334)">
        <g id="Rectangle_99-58" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(387 334)">
        <g id="Rectangle_99-59" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(475 334)">
        <g id="Rectangle_99-60" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(563 334)">
        <g id="Rectangle_99-61" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(651 334)">
        <g id="Rectangle_99-62" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(739 334)">
        <g id="Rectangle_99-63" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(827 334)">
        <g id="Rectangle_99-64" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(915 334)">
        <g id="Rectangle_99-65" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 422)">
        <g id="Rectangle_99-66" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-53 422)">
        <g id="Rectangle_99-67" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(35 422)">
        <g id="Rectangle_99-68" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(123 422)">
        <g id="Rectangle_99-69" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(211 422)">
        <g id="Rectangle_99-70" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(299 422)">
        <g id="Rectangle_99-71" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(387 422)">
        <g id="Rectangle_99-72" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(475 422)">
        <g id="Rectangle_99-73" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(563 422)">
        <g id="Rectangle_99-74" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(651 422)">
        <g id="Rectangle_99-75" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(739 422)">
        <g id="Rectangle_99-76" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(827 422)">
        <g id="Rectangle_99-77" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(915 422)">
        <g id="Rectangle_99-78" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 510)">
        <g id="Rectangle_99-79" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(-53 510)">
        <g id="Rectangle_99-80" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(35 510)">
        <g id="Rectangle_99-81" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(123 510)">
        <g id="Rectangle_99-82" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(211 510)">
        <g id="Rectangle_99-83" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(299 510)">
        <g id="Rectangle_99-84" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(387 510)">
        <g id="Rectangle_99-85" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(475 510)">
        <g id="Rectangle_99-86" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(563 510)">
        <g id="Rectangle_99-87" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(651 510)">
        <g id="Rectangle_99-88" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(739 510)">
        <g id="Rectangle_99-89" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(827 510)">
        <g id="Rectangle_99-90" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
      <g transform="translate(915 510)">
        <g id="Rectangle_99-91" data-name="Rectangle 99" transform="translate(141 18)" fill="none" stroke="#968041" stroke-width="1">
          <rect width="88" height="88" stroke="none"/>
          <rect x="0.5" y="0.5" width="87" height="87" fill="none"/>
        </g>
      </g>
    </g>
    <g id="titleContainer" data-name="Rectangle 100" transform="translate(211 312)" fill="#F3F4F4" stroke="#968041" stroke-width="1">
      <rect width="968" height="352" stroke="none"/>
      <rect x="0.5" y="0.5" width="967" height="351" fill="none"/>
    </g>
    <path id="Path_234" data-name="Path 234" d="M380.014,264.209h0" transform="translate(105.873 18.979)" fill="none" stroke="#ec4625" stroke-width="2"/>
    <g id="Path_256" data-name="Path 256" transform="translate(123 136)" fill="none">
      <path d="M0,0H1144V611H0Z" stroke="none"/>
      <path d="M 2 2 L 2 609 L 1142 609 L 1142 2 L 2 2 M 0 0 L 1144 0 L 1144 611 L 0 611 L 0 0 Z" stroke="none" fill="#968041"/>
    </g>
    <text id="press-index-wrap" y="64" data-name="{{ heroPost.data.title }}" transform="translate(243 344)" fill="#968041" font-size="64" font-family="Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif"><tspan>{{ heroPost.data.title }}</tspan></text>
    <g id="Large_Button_Primary" data-name="Large Button Primary" transform="translate(916 665)" class="cursor-pointer">
      <rect id="base" width="351" height="82" fill="#968041"/>
      <g id="brand-arrow-42px" transform="translate(294.999 21.063)">
        <rect id="container" width="40" height="40" fill="none"/>
        <g id="arrow" transform="translate(1.999 19.973) rotate(-45)">
          <rect id="Rectangle_89" data-name="Rectangle 89" width="24" height="4" transform="translate(24.005) rotate(90)" fill="#fff"/>
          <rect id="Rectangle_90" data-name="Rectangle 90" width="12" height="4" transform="translate(24 4) rotate(180)" fill="#fff"/>
          <rect id="Rectangle_91" data-name="Rectangle 91" width="16" height="4" transform="translate(12.005 16) rotate(-90)" fill="#fff"/>
          <rect id="Rectangle_92" data-name="Rectangle 92" width="16" height="4" transform="translate(0.005 12)" fill="#fff"/>
          <rect id="Rectangle_93" data-name="Rectangle 93" width="12" height="4" transform="translate(4 12) rotate(90)" fill="#fff"/>
          <rect id="Rectangle_94" data-name="Rectangle 94" width="16" height="4" transform="translate(16.005 24) rotate(180)" fill="#fff"/>
        </g>
      </g>
      <text id="Read_the_story" data-name="Read the story" transform="translate(23.999 25.957)" fill="#fff" font-size="33" font-family="Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif"><a xlink:href="{{ heroPost.data.externalLink|default(heroPost.url) }}" {% if heroPost.data.externalLink %}target="_blank"{% endif %}><tspan x="0" y="24" fill="#fff">Read the story</tspan></a></text>
    </g>
    <g id="Rectangle_83" data-name="Rectangle 83" transform="translate(211 224)" fill="#F3F4F4" stroke="#968041" stroke-width="1">
      <rect width="440" height="88" stroke="none"/>
      <rect x="0.5" y="0.5" width="439" height="87" fill="none"/>
    </g>
    <text id="Press_financial_times" data-name="Press  |  financial times" transform="translate(243 277)" fill="#968041" font-size="18" font-family="IBMPlexSansBold, IBMPlexSans, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-weight="700"><tspan x="0" y="0" xml:space="preserve">{% if heroPost.data.source %}PRESS  |  {{ heroPost.data.source|upper }}{% else %}{{ heroPost.data.postDate|readableDate }}{% endif %}</tspan></text>
  </g>
</svg>
