<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 325 487">
  <g id="press-hero-mobile" transform="translate(-24 -80)">
    <g id="grid">
      <g id="Rectangle_99" data-name="Rectangle 99" transform="translate(24 80)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-2" data-name="Rectangle 99" transform="translate(78 80)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-3" data-name="Rectangle 99" transform="translate(132 80)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-4" data-name="Rectangle 99" transform="translate(186 80)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-5" data-name="Rectangle 99" transform="translate(240 80)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-6" data-name="Rectangle 99" transform="translate(294 80)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-7" data-name="Rectangle 99" transform="translate(24 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-8" data-name="Rectangle 99" transform="translate(78 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-9" data-name="Rectangle 99" transform="translate(132 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-10" data-name="Rectangle 99" transform="translate(186 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-11" data-name="Rectangle 99" transform="translate(240 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-12" data-name="Rectangle 99" transform="translate(294 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-13" data-name="Rectangle 99" transform="translate(24 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-14" data-name="Rectangle 99" transform="translate(78 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-15" data-name="Rectangle 99" transform="translate(132 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-16" data-name="Rectangle 99" transform="translate(186 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-17" data-name="Rectangle 99" transform="translate(240 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-18" data-name="Rectangle 99" transform="translate(294 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-19" data-name="Rectangle 99" transform="translate(24 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-20" data-name="Rectangle 99" transform="translate(78 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-21" data-name="Rectangle 99" transform="translate(132 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-22" data-name="Rectangle 99" transform="translate(186 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-23" data-name="Rectangle 99" transform="translate(240 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-24" data-name="Rectangle 99" transform="translate(294 242)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-25" data-name="Rectangle 99" transform="translate(24 296)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-26" data-name="Rectangle 99" transform="translate(78 296)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-27" data-name="Rectangle 99" transform="translate(132 296)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-28" data-name="Rectangle 99" transform="translate(186 296)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-29" data-name="Rectangle 99" transform="translate(240 296)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-30" data-name="Rectangle 99" transform="translate(294 296)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-31" data-name="Rectangle 99" transform="translate(24 350)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-32" data-name="Rectangle 99" transform="translate(78 350)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-33" data-name="Rectangle 99" transform="translate(132 350)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-34" data-name="Rectangle 99" transform="translate(186 350)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-35" data-name="Rectangle 99" transform="translate(240 350)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-36" data-name="Rectangle 99" transform="translate(294 350)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-37" data-name="Rectangle 99" transform="translate(24 404)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-38" data-name="Rectangle 99" transform="translate(78 404)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-39" data-name="Rectangle 99" transform="translate(132 404)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-40" data-name="Rectangle 99" transform="translate(186 404)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-41" data-name="Rectangle 99" transform="translate(240 404)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-42" data-name="Rectangle 99" transform="translate(294 404)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-43" data-name="Rectangle 99" transform="translate(24 458)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-44" data-name="Rectangle 99" transform="translate(78 458)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-45" data-name="Rectangle 99" transform="translate(132 458)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-46" data-name="Rectangle 99" transform="translate(186 458)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-47" data-name="Rectangle 99" transform="translate(240 458)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-48" data-name="Rectangle 99" transform="translate(294 458)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-49" data-name="Rectangle 99" transform="translate(24 512)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-50" data-name="Rectangle 99" transform="translate(78 512)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-51" data-name="Rectangle 99" transform="translate(132 512)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-52" data-name="Rectangle 99" transform="translate(186 512)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-53" data-name="Rectangle 99" transform="translate(240 512)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
      <g id="Rectangle_99-54" data-name="Rectangle 99" transform="translate(294 512)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="55" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
      </g>
    </g>
    <g id="article_headline" data-name="article headline">
      <g id="titleContainerMob" transform="translate(78 188)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="271" height="325" stroke="none"/>
        <rect x="0.5" y="0.5" width="270" height="324" fill="none"/>
      </g>
      <text id="press-index-wrap-mobile" data-name="{{ heroPost.data.title }}" transform="translate(94 234)" fill="#968041" font-size="32" font-family="Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif" font-weight="500"><tspan>{{ heroPost.data.title }}</tspan></text>
    </g>
    <g id="mobile_button" data-name="mobile button" transform="translate(0 55)">
      <rect id="base" width="217" height="54" transform="translate(24 458)" fill="#968041"/>
      <g id="brand-arrow-42px" transform="translate(205.5 477.496)">
        <rect id="container" width="18" height="18" transform="translate(0 0)" fill="none"/>
        <g id="arrow" transform="translate(0.899 8.988) rotate(-45)">
          <rect id="Rectangle_89" data-name="Rectangle 89" width="10.8" height="1.8" transform="translate(10.802) rotate(90)" fill="#fff"/>
          <rect id="Rectangle_90" data-name="Rectangle 90" width="5.4" height="1.8" transform="translate(10.8 1.8) rotate(180)" fill="#fff"/>
          <rect id="Rectangle_91" data-name="Rectangle 91" width="7.2" height="1.8" transform="translate(5.402 7.2) rotate(-90)" fill="#fff"/>
          <rect id="Rectangle_92" data-name="Rectangle 92" width="7.2" height="1.8" transform="translate(0.002 5.4)" fill="#fff"/>
          <rect id="Rectangle_93" data-name="Rectangle 93" width="5.4" height="1.8" transform="translate(1.8 5.4) rotate(90)" fill="#fff"/>
          <rect id="Rectangle_94" data-name="Rectangle 94" width="7.2" height="1.8" transform="translate(7.202 10.8) rotate(180)" fill="#fff"/>
        </g>
      </g>
      <text id="Read_the_story" data-name="Read the story" transform="translate(47.999 491.504)" fill="#fff" font-size="18" font-family="Telegraf-Medium, Telegraf" font-weight="500"><a xlink:href="{{ heroPost.data.externalLink|default(heroPost.url) }}" {% if heroPost.data.externalLink %} target="_blank"{% endif %}><tspan x="0" y="0" fill="#fff">Read the story</tspan></a></text>
    </g>
    <g id="title">
      <g id="bg-2" data-name="bg" transform="translate(24 134)" fill="#f3f4f4" stroke="#968041" stroke-width="1">
        <rect width="271" height="55" stroke="none"/>
        <rect x="0.5" y="0.5" width="270" height="54" fill="none"/>
      </g>
      <text id="Press_financial_times" data-name="Press  |  {{ heroPost.data.source|upper }}" transform="translate(62 167)" fill="#968041" font-size="14" font-family="Telegraf-Bold, Telegraf" font-weight="700"><tspan x="0" y="0" xml:space="preserve">{% if heroPost.data.source %}PRESS  |  {{ heroPost.data.source|upper }}{% else %}{{ heroPost.data.postDate|readableDate }}{% endif %}</tspan></text>
    </g>
  </g>
</svg>
