<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 325 379">
  <defs>
    <clipPath id="clip-path">
      <rect width="325" height="379" fill="none"/>
    </clipPath>
  </defs>
  <g id="howxandworks-hero-mobile" transform="translate(-24 -80)">
    <g id="Repeat_Grid_2" data-name="Repeat Grid 2" transform="translate(24 80)" clip-path="url(#clip-path)">
      <g transform="translate(-141 -18)">
        <g id="Rectangle_99" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 -18)">
        <g id="Rectangle_99-2" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 -18)">
        <g id="Rectangle_99-3" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 -18)">
        <g id="Rectangle_99-4" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 -18)">
        <g id="Rectangle_99-5" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 -18)">
        <g id="Rectangle_99-6" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 -18)">
        <g id="Rectangle_99-7" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 36)">
        <g id="Rectangle_99-8" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 36)">
        <g id="Rectangle_99-9" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 36)">
        <g id="Rectangle_99-10" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 36)">
        <g id="Rectangle_99-11" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 36)">
        <g id="Rectangle_99-12" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 36)">
        <g id="Rectangle_99-13" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 36)">
        <g id="Rectangle_99-14" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 90)">
        <g id="Rectangle_99-15" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 90)">
        <g id="Rectangle_99-16" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 90)">
        <g id="Rectangle_99-17" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 90)">
        <g id="Rectangle_99-18" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 90)">
        <g id="Rectangle_99-19" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 90)">
        <g id="Rectangle_99-20" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 90)">
        <g id="Rectangle_99-21" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 144)">
        <g id="Rectangle_99-22" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 144)">
        <g id="Rectangle_99-23" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 144)">
        <g id="Rectangle_99-24" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 144)">
        <g id="Rectangle_99-25" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 144)">
        <g id="Rectangle_99-26" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 144)">
        <g id="Rectangle_99-27" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 144)">
        <g id="Rectangle_99-28" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 198)">
        <g id="Rectangle_99-29" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 198)">
        <g id="Rectangle_99-30" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 198)">
        <g id="Rectangle_99-31" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 198)">
        <g id="Rectangle_99-32" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 198)">
        <g id="Rectangle_99-33" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 198)">
        <g id="Rectangle_99-34" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 198)">
        <g id="Rectangle_99-35" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 252)">
        <g id="Rectangle_99-36" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 252)">
        <g id="Rectangle_99-37" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 252)">
        <g id="Rectangle_99-38" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 252)">
        <g id="Rectangle_99-39" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 252)">
        <g id="Rectangle_99-40" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 252)">
        <g id="Rectangle_99-41" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 252)">
        <g id="Rectangle_99-42" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 306)">
        <g id="Rectangle_99-43" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 306)">
        <g id="Rectangle_99-44" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 306)">
        <g id="Rectangle_99-45" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 306)">
        <g id="Rectangle_99-46" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 306)">
        <g id="Rectangle_99-47" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 306)">
        <g id="Rectangle_99-48" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 306)">
        <g id="Rectangle_99-49" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-141 360)">
        <g id="Rectangle_99-50" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-87 360)">
        <g id="Rectangle_99-51" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(-33 360)">
        <g id="Rectangle_99-52" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(21 360)">
        <g id="Rectangle_99-53" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(75 360)">
        <g id="Rectangle_99-54" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(129 360)">
        <g id="Rectangle_99-55" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
      <g transform="translate(183 360)">
        <g id="Rectangle_99-56" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
          <rect width="55" height="55" stroke="none"/>
          <rect x="0.5" y="0.5" width="54" height="54" fill="none"/>
        </g>
      </g>
    </g>
    <g id="logobg" transform="translate(24 134)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
      <rect width="163" height="55" stroke="none"/>
      <rect x="0.5" y="0.5" width="162" height="54" fill="none"/>
    </g>
    <g id="text_bg" data-name="text bg" transform="translate(78 188)" fill="#f3f4f4" stroke="#ec4625" stroke-width="1">
      <rect width="271" height="271" stroke="none"/>
      <rect x="0.5" y="0.5" width="270" height="270" fill="none"/>
    </g>
    <g id="Xand_logo_primary" data-name="Xand logo primary" transform="translate(43.818 146.387)">
      <path id="Path_245" data-name="Path 245" d="M335.727,407.112l-8.357-11.252-8.233,11.252H315l10.3-14.033L315.207,379.5h4.178l8.15,10.961,8.026-10.961h4.013l-9.97,13.66,10.384,13.95Z" transform="translate(-315 -378.05)" fill="#ed3f26"/>
      <path id="Path_246" data-name="Path 246" d="M415.135,412.281V410.5a9.2,9.2,0,0,1-3.723,1.412l-3.434.706c-2.814.581-4.137,1.661-4.137,3.9,0,2.367,1.7,3.529,4.137,3.529,4.882,0,7.157-3.819,7.157-7.764m-14.645,4.359c0-3.363,1.82-5.48,6.288-6.228l5.254-.872c2.193-.374,3.1-.955,3.1-2.533,0-2.118-1.076-3.737-5.089-3.737-4.054,0-5.585,1.91-5.792,4.608h-3.268c.124-4.4,3.227-7.224,8.936-7.224,5.668,0,8.233,2.616,8.233,6.353v9.964a48.756,48.756,0,0,0,.248,5.148h-3.02c-.166-1.785-.29-3.321-.29-4.857-.786,2.491-2.979,5.4-7.778,5.4-3.972,0-6.826-2.076-6.826-6.02" transform="translate(-375.874 -393.058)" fill="#ed3f26"/>
      <path id="Path_247" data-name="Path 247" d="M489.365,408.979v13.244h-3.31V409.353c0-4.443-1.944-5.771-4.964-5.771-4.592,0-7.033,3.571-7.033,10.712v7.93h-3.31V401.464h3.31V406.9c1.283-3.778,3.848-6.1,7.943-6.1,5.172,0,7.364,2.823,7.364,8.179" transform="translate(-425.901 -393.16)" fill="#ed3f26"/>
      <path id="Path_248" data-name="Path 248" d="M558.157,393.183c0-5.854-2.772-8.345-7.157-8.345-4.717,0-6.785,2.74-6.785,8.345,0,5.564,2.069,8.345,6.785,8.345,4.385,0,7.157-2.491,7.157-8.345m3.31-18.683v29.063h-3.31v-3.986c-1.407,2.947-4.013,4.65-7.819,4.65-6.5,0-9.474-4.692-9.474-11.044,0-6.394,2.979-11.044,9.474-11.044,3.806,0,6.413,1.661,7.819,4.609V374.5Z" transform="translate(-475.828 -374.5)" fill="#ed3f26"/>
      <path id="Path_249" data-name="Path 249" d="M655.273,406.677h-8.328V381.352h-4.221v6.332H636.45v4.259h9.123v2.072H634.4v-8.4h6.274V379.28H649v25.326h4.221v-6.332h6.275v-4.259h-9.3v-2.072h11.354v8.4h-6.274Z" transform="translate(-542.428 -377.891)" fill="#ed2e1c"/>
    </g>
    <text id="It_s_your_cash._In_your_control." data-name="It’s your cash.
In your control." transform="translate(94 292)" fill="#ec4625" font-size="32" font-family="Telegraf-Medium, Telegraf" font-weight="500"><tspan x="0" y="0">Your bank.</tspan>
<tspan x="0" y="34">Your cash.</tspan>
<tspan x="0" y="68">Tokenized.</tspan></text>
  </g>
</svg>
