<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 1673 440">
  <defs>
    <clipPath id="clip-path">
      <rect width="1673" height="439" fill="none" />
    </clipPath>
  </defs>
  <g id="_01_hero" data-name="01 hero" transform="translate(-123 -136)">
    <g id="Repeat_Grid_2" data-name="Repeat Grid 2" transform="translate(123 136)" clip-path="url(#clip-path)">
      <g transform="translate(-141 -18)">
        <g id="Rectangle_99" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(-53 -18)">
        <g id="Rectangle_99-2" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(35 -18)">
        <g id="Rectangle_99-3" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(123 -18)">
        <g id="Rectangle_99-4" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(211 -18)">
        <g id="Rectangle_99-5" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(299 -18)">
        <g id="Rectangle_99-6" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(387 -18)">
        <g id="Rectangle_99-7" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(475 -18)">
        <g id="Rectangle_99-8" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(563 -18)">
        <g id="Rectangle_99-9" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(651 -18)">
        <g id="Rectangle_99-10" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(739 -18)">
        <g id="Rectangle_99-11" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(827 -18)">
        <g id="Rectangle_99-12" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(915 -18)">
        <g id="Rectangle_99-13" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1003 -18)">
        <g id="Rectangle_99-14" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1091 -18)">
        <g id="Rectangle_99-15" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1179 -18)">
        <g id="Rectangle_99-16" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1267 -18)">
        <g id="Rectangle_99-17" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1355 -18)">
        <g id="Rectangle_99-18" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1443 -18)">
        <g id="Rectangle_99-19" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1531 -18)">
        <g id="Rectangle_99-20" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(-141 70)">
        <g id="Rectangle_99-21" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(-53 70)">
        <g id="Rectangle_99-22" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(35 70)">
        <g id="Rectangle_99-23" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(123 70)">
        <g id="Rectangle_99-24" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(211 70)">
        <g id="Rectangle_99-25" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(299 70)">
        <g id="Rectangle_99-26" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(387 70)">
        <g id="Rectangle_99-27" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(475 70)">
        <g id="Rectangle_99-28" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(563 70)">
        <g id="Rectangle_99-29" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(651 70)">
        <g id="Rectangle_99-30" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(739 70)">
        <g id="Rectangle_99-31" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(827 70)">
        <g id="Rectangle_99-32" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(915 70)">
        <g id="Rectangle_99-33" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1003 70)">
        <g id="Rectangle_99-34" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1091 70)">
        <g id="Rectangle_99-35" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1179 70)">
        <g id="Rectangle_99-36" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1267 70)">
        <g id="Rectangle_99-37" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1355 70)">
        <g id="Rectangle_99-38" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1443 70)">
        <g id="Rectangle_99-39" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1531 70)">
        <g id="Rectangle_99-40" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(-141 158)">
        <g id="Rectangle_99-41" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(-53 158)">
        <g id="Rectangle_99-42" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(35 158)">
        <g id="Rectangle_99-43" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(123 158)">
        <g id="Rectangle_99-44" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(211 158)">
        <g id="Rectangle_99-45" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(299 158)">
        <g id="Rectangle_99-46" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(387 158)">
        <g id="Rectangle_99-47" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(475 158)">
        <g id="Rectangle_99-48" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(563 158)">
        <g id="Rectangle_99-49" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(651 158)">
        <g id="Rectangle_99-50" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(739 158)">
        <g id="Rectangle_99-51" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(827 158)">
        <g id="Rectangle_99-52" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(915 158)">
        <g id="Rectangle_99-53" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1003 158)">
        <g id="Rectangle_99-54" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1091 158)">
        <g id="Rectangle_99-55" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1179 158)">
        <g id="Rectangle_99-56" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1267 158)">
        <g id="Rectangle_99-57" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1355 158)">
        <g id="Rectangle_99-58" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1443 158)">
        <g id="Rectangle_99-59" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1531 158)">
        <g id="Rectangle_99-60" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(-141 246)">
        <g id="Rectangle_99-61" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(-53 246)">
        <g id="Rectangle_99-62" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(35 246)">
        <g id="Rectangle_99-63" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(123 246)">
        <g id="Rectangle_99-64" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(211 246)">
        <g id="Rectangle_99-65" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(299 246)">
        <g id="Rectangle_99-66" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(387 246)">
        <g id="Rectangle_99-67" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(475 246)">
        <g id="Rectangle_99-68" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(563 246)">
        <g id="Rectangle_99-69" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(651 246)">
        <g id="Rectangle_99-70" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(739 246)">
        <g id="Rectangle_99-71" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(827 246)">
        <g id="Rectangle_99-72" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(915 246)">
        <g id="Rectangle_99-73" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1003 246)">
        <g id="Rectangle_99-74" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1091 246)">
        <g id="Rectangle_99-75" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1179 246)">
        <g id="Rectangle_99-76" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1267 246)">
        <g id="Rectangle_99-77" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1355 246)">
        <g id="Rectangle_99-78" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1443 246)">
        <g id="Rectangle_99-79" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1531 246)">
        <g id="Rectangle_99-80" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(-141 334)">
        <g id="Rectangle_99-81" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(-53 334)">
        <g id="Rectangle_99-82" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(35 334)">
        <g id="Rectangle_99-83" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(123 334)">
        <g id="Rectangle_99-84" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(211 334)">
        <g id="Rectangle_99-85" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(299 334)">
        <g id="Rectangle_99-86" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(387 334)">
        <g id="Rectangle_99-87" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(475 334)">
        <g id="Rectangle_99-88" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(563 334)">
        <g id="Rectangle_99-89" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(651 334)">
        <g id="Rectangle_99-90" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(739 334)">
        <g id="Rectangle_99-91" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(827 334)">
        <g id="Rectangle_99-92" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(915 334)">
        <g id="Rectangle_99-93" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1003 334)">
        <g id="Rectangle_99-94" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1091 334)">
        <g id="Rectangle_99-95" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1179 334)">
        <g id="Rectangle_99-96" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1267 334)">
        <g id="Rectangle_99-97" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1355 334)">
        <g id="Rectangle_99-98" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1443 334)">
        <g id="Rectangle_99-99" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
      <g transform="translate(1531 334)">
        <g id="Rectangle_99-100" data-name="Rectangle 99" transform="translate(141 18)" fill="#f3f4f4" stroke="#ec4625"
          stroke-width="1">
          <rect width="88" height="88" stroke="none" />
          <rect x="0.5" y="0.5" width="87" height="87" fill="none" />
        </g>
      </g>
    </g>
    <g id="Rectangle_100" data-name="Rectangle 100" transform="translate(211 312)" fill="#f3f4f4" stroke="#ec4625"
      stroke-width="1">
      <rect width="1056" height="264" stroke="none" />
      <rect x="0.5" y="0.5" width="1055" height="263" fill="none" />
    </g>
    <text id="It_s_your_cash._In_your_control." data-name="It’s your cash.
In your control." transform="translate(244 425)" fill="#ec4625" font-size="96"
      font-family="Telegraf, 'Helvetica Neue', Helvetica, Arial, sans-serif">
      <tspan x="0" y="0">Your bank. Your cash.</tspan>
      <tspan x="0" y="96">Tokenized.</tspan>
    </text>
    <path id="Path_234" data-name="Path 234" d="M380.014,264.209h0" transform="translate(105.873 18.979)" fill="none"
      stroke="#ec4625" stroke-width="2" />
    <path id="Path_237" data-name="Path 237" d="M9414.313-21700.439l13.768-14.922" transform="translate(-8081 21912)"
      fill="none" stroke="#fc2c02" stroke-width="2" opacity="0" />
    <g id="xand-rectange" transform="translate(0 -88)">
      <g id="Rectangle_83" data-name="Rectangle 83" transform="translate(211 312)" fill="#f3f4f4" stroke="#ec4625"
        stroke-width="1">
        <rect width="264" height="88" stroke="none" />
        <rect x="0.5" y="0.5" width="263" height="87" fill="none" />
      </g>
      <g id="Xand_logo_primary" data-name="Xand logo primary" transform="translate(243 332)">
        <path id="Path_245" data-name="Path 245"
          d="M348.468,424.083l-13.494-18.168L321.68,424.083H315l16.633-22.659-16.3-21.922h6.747l13.16,17.7,12.96-17.7h6.479l-16.1,22.056,16.767,22.525Z"
          transform="translate(-315 -377.156)" fill="#ed3f26" />
        <path id="Path_246" data-name="Path 246"
          d="M424.138,419.427v-2.883a14.849,14.849,0,0,1-6.012,2.28l-5.544,1.14c-4.543.939-6.68,2.681-6.68,6.3,0,3.822,2.739,5.7,6.68,5.7,7.883,0,11.557-6.167,11.557-12.537m-23.648,7.039c0-5.429,2.939-8.849,10.154-10.055L419.128,415c3.54-.6,5.01-1.542,5.01-4.089,0-3.419-1.737-6.034-8.217-6.034-6.546,0-9.018,3.084-9.352,7.441h-5.277c.2-7.106,5.211-11.665,14.429-11.665,9.152,0,13.293,4.224,13.293,10.258V427a78.742,78.742,0,0,0,.4,8.312h-4.876c-.267-2.883-.468-5.362-.468-7.843-1.269,4.022-4.81,8.715-12.558,8.715-6.413,0-11.022-3.352-11.022-9.721"
          transform="translate(-360.742 -388.388)" fill="#ed3f26" />
        <path id="Path_247" data-name="Path 247"
          d="M500.809,414.007v21.385h-5.344V414.61c0-7.173-3.139-9.319-8.016-9.319-7.414,0-11.356,5.765-11.356,17.3v12.8h-5.344V401.873h5.344v8.782c2.071-6.1,6.213-9.855,12.826-9.855,8.35,0,11.891,4.559,11.891,13.207"
          transform="translate(-398.335 -388.465)" fill="#ed3f26" />
        <path id="Path_248" data-name="Path 248"
          d="M568.787,404.667c0-9.452-4.476-13.475-11.556-13.475-7.616,0-10.956,4.424-10.956,13.475,0,8.984,3.34,13.475,10.956,13.475,7.081,0,11.556-4.022,11.556-13.475m5.344-30.167v46.927h-5.344v-6.436c-2.271,4.759-6.48,7.508-12.625,7.508-10.488,0-15.3-7.576-15.3-17.833,0-10.324,4.81-17.832,15.3-17.832,6.146,0,10.354,2.682,12.625,7.442V374.5Z"
          transform="translate(-435.851 -374.5)" fill="#ed3f26" />
        <path id="Path_249" data-name="Path 249"
          d="M668.105,423.518H654.659V382.625h-6.816v10.224H637.712v6.877h14.731v3.346H634.4V389.5h10.131V379.28h13.446v40.893h6.816V409.95h10.132v-6.878H659.9v-3.346h18.334V413.3H668.105Z"
          transform="translate(-485.897 -377.038)" fill="#ed2e1c" />
      </g>
    </g>
    <g id="Path_256" data-name="Path 256" transform="translate(123 136)" fill="none">
      <path d="M0,0H1673V440H0Z" stroke="none" />
      <path d="M 2 2 L 2 438 L 1671 438 L 1671 2 L 2 2 M 0 0 L 1673 0 L 1673 440 L 0 440 L 0 0 Z" stroke="none"
        fill="#ec4625" />
    </g>
  </g>
</svg>