---
layout: layouts/default
title: Careers
---

{# HERO #}
<section class="container mx-auto relative">
    <div class="hidden sm:block">{% include "_svgs/careers-hero.html" %}</div>
	<div class="block sm:hidden">{% include "_svgs/careers-hero-mobile.html" %}</div>
</section>
{# /HERO #}

{# INTRODUCING #}
<section class="container mx-auto pt-12 sm:pt-20 pb-12 sm:pb-20">
    <h5 class="section--intro">Join our team</h5>
    <div class="w-full border-t-1 border-brown pt-2 sm:pt-6 lg:flex lg:flex-row lg:space-x-4">
        <div class="lg:w-1/2 py-4 sm:py-6">
            <h2 class="text-4xl text-tan lg:w-3/4">Come work with&nbsp;us.</h2>
        </div>
        <div class="lg:w-1/2 py-4 sm:py-6 lg:pl-20 space-y-6 text-2xl font-light font-body">
            <p>We believe that by making money more efficient, we will make it more equitable. This is the driving force behind everything we do. </p>
            <p>By bringing more competition to a market dominated by a few financial players, we can open up more opportunities, drive costs down, and make money better for everyone.</p>
        </div>
    </div>
</section>
{# /INTRODUCING #}

{# COLLAGE #}
<section class="container mx-auto">
	<div class="border border-tan grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
			
			<div class="border border-tan aspect-h-1 aspect-w-1"><img src="/assets/images/careers/careers-photo1@2x.jpg" class="w-full" /></div>
			
            <div class="hidden sm:block border border-tan aspect-h-1 aspect-w-1"><img src="/assets/images/site/shape1.svg" class="w-full" /></div>
			<div class="hidden sm:block border border-tan aspect-h-1 aspect-w-1"><img src="/assets/images/site/shape2.svg" class="w-full" /></div>

            <div class="border border-tan aspect-h-1 aspect-w-1"><img src="/assets/images/careers/careers-photo2@2x.jpg" class="w-full" /></div>

			<div class="hidden sm:block border border-tan aspect-h-1 aspect-w-1"><img src="/assets/images/site/shape2.svg" class="w-full" /></div>
			<div class="hidden sm:block border border-tan aspect-h-1 aspect-w-1"><img src="/assets/images/site/shape3.svg" class="w-full" /></div>

            <div class="border border-tan aspect-h-1 aspect-w-1"><img src="/assets/images/careers/careers-photo3@2x.jpg" class="w-full" /></div>
			
			<div class="hidden sm:block border border-tan aspect-h-1 aspect-w-1"><img src="/assets/images/site/shape4.svg" class="w-full" /></div>
			
            <div class="border border-tan aspect-h-1 aspect-w-1"><img src="/assets/images/careers/careers-photo4@2x.jpg" class="w-full" /></div>

			<div class="hidden sm:block border border-tan aspect-h-1 aspect-w-1"><img src="/assets/images/site/shape3.svg" class="w-full" /></div>

            <div class="border border-tan col-span-2 aspect-h-1 aspect-w-2"><img src="/assets/images/careers/careers-photo5@2x.jpg" class="w-full" /></div>
	</div>
</section>
{# COLLAGE #}

{# JOBS #}
<section class="container mx-auto">
    <div class="w-full pt-6 lg:flex lg:flex-row lg:space-x-4">
        <div class="lg:w-1/2 py-6 lg:pl-20 lg:space-y-6 text-2xl font-light font-body">
            <div id="grnhse_app"></div>
        </div>
    </div>
</section>
{# /JOBS #}

{# EQUAL OPP EMPLOYER #}
<section class="container mx-auto pb-20">
    <div class="font-body border-t-1 border-brown pt-6">
        <p>Transparent Financial Systems, Inc. is an Equal Opportunity Employer who encourages diversity in the workplace. All qualified applicants will receive consideration for employment without regard to race, color, national origin, religion, sex, age, disability, citizenship, marital status, sexual orientation, gender identity, military or protected veteran status, or any other characteristic protected by applicable law.
        <br><br>    
        To third-party recruiting agencies: Thank you for your interest, but we are not currently working with agencies. Any resume submitted to any of our employees by a recruiting firm that does not have a valid, signed, written search agreement with us will be considered a referral, regardless of whether it is submitted for a posted position or for general consideration, and no matter how it is submitted (via email, the Internet, or other means). No fee will be paid in the event a candidate is hired by Transparent as a result of the referral or through other means.</p>
    </div>
</section>
{# /EQUAL OPP EMPLOYER #}

<script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrFYdW1JbtiXPAkP?backgroundColor=orange" frameborder="0" onmousewheel="" width="100%" height="1169" style="background: transparent;"></iframe>
