---
layout: layouts/default
title: Company
people:
  - alex-fowler
  - patrick-murck
  - brad-gibson
  - katie-gray
  - erin-kelly
  - seth-paulson
  - joe-wasson
advisors:
  - jeff-kramer
  - lana-swartz
  - shawn-johnson
  - ian-lee
  - chris-brummer
---
{# HERO #}
<section class="container mx-auto relative">
	<div class="hidden sm:block">{% include "_svgs/company-hero.html" %}</div>
	<div class="block sm:hidden">{% include "_svgs/company-hero-mobile.html" %}</div>
</section>
{# /HERO #}

{# INTRODUCING #}
<section class="container mx-auto pt-12 sm:pt-20 pb-8 sm:pb-12">
	<h5 class="section--intro text-brown">Introducing transparent</h5>
    <div class="w-full border-t-1 border-brown pt-4 sm:pt-6 lg:flex lg:flex-row lg:space-x-4">
		<div class="lg:w-1/2 py-4 sm:py-6">
			<h2 class="text-4xl text-tan -pr-1">We began with a scribble on Paul&nbsp;Allen’s whiteboard.</h2>
			<img src="/assets/images/company/paul-allen@2x.jpg" alt="Photo of Paul Allen" class="mr-4 mt-12 sm:mb-6 w-full sm:w-1/2" />
		</div>
		<div class="lg:w-1/2 py-4 sm:py-6 lg:pl-20 space-y-6 text-2xl font-light !leading-snuggy">
			<p>Paul Allen, an American business magnate, investor, and philanthropist, had a vision to create better money: He found it confounding that he, with his billions, would pay less to transfer money than the poorest amongst us. So, Jeff Kramer, Paul Allen’s technical advisor at the time, got to work with his colleagues at Vulcan and leading experts in banking, payments, and distributed systems and Transparent was born.</p>
			<p>Making money more equitable by making it more efficient and independent of any one financial institution. This is the driving force behind everything we do. We believe that by bringing more competition to a market dominated with just a few big players and by making the financial system more efficient, we can dramatically unlock possibilities for both businesses and the people they serve.</p>
		</div>
	</div>
</section>
{# /INTRODUCING #}

{# OUR TEAM #}
<section class="container mx-auto pt-6 pb-12 sm:pb-20">
	<h5 class="section--intro text-brown">Our Team</h5>
    <div class="w-full border-t-1 border-brown pt-4 sm:pt-6 lg:flex lg:flex-row lg:space-x-4">
		<div class="lg:w-1/2 py-4 sm:py-6">
			<h2 class="text-4xl text-tan lg:pr-20">Your tech, finance, and regulatory partners.</h2>
			<a href="/careers" class="btn w-72 !bg-tan">Join us</a>
		</div>
		<div class="lg:w-1/2 py-4 sm:py-6 lg:pl-20 space-y-6 text-2xl font-light !leading-snuggy">
			<p>Based in Seattle, we’ve brought together top cryptographers and financial-system specialists with world-class software and hardware engineers to partner with banks and businesses to create innovative settlement solutions.</p>
		</div>
	</div>
</section>
{# /OUR TEAM #}

{# TEAM GRID #}
{% set gridData = { peopleList: people, role: "Team" } %}
{% include "partials/team-grid.html" %}
{# /TEAM GRID #}

{# OUR ADVISORS #}
<section class="container mx-auto pt-12 sm:pt-20 pb-12">
	<h5 class="section--intro">Our Advisors</h5>
    <div class="w-full border-t-1 border-brown pt-0 sm:pt-6 lg:flex lg:flex-row lg:space-x-4"></div>
</section>
{# /OUR ADVISORS #}

{# ADVISORS GRID #}
{% set gridData = { peopleList: advisors, role: "Advisor" } %}
{% include "partials/team-grid.html" %}
{# /ADVISORS GRID #}

{# INVESTORS #}
<section class="container mx-auto py-12 sm:py-20">
	<h5 class="section--intro">Our Investors</h5>
    <div class="w-full border-t-1 border-brown pt-2 sm:pt-6 lg:flex lg:flex-wrap">
		<div class="lg:w-1/4"><img src="/assets/images/company/logo-digital-currency.png" alt="Digital Currency Group" class="mx-auto mb-2" /></div>
		<div class="lg:w-1/4"><img src="/assets/images/company/logo-ideo-colab.png" alt="IDEO Collab" class="mx-auto mb-2" /></div>
		<div class="lg:w-1/4"><img src="/assets/images/company/logo-valcour-capital-mgmt.png" alt="Valcour Capital Management" class="mx-auto mb-2" /></div>
		<div class="lg:w-1/4"><img src="/assets/images/company/logo-block-bw.png" alt="Block (formerly Square Inc.)" class="mx-auto mb-2" /><div class="text-center caption">Formerly Square, Inc.</div></div>
	</div>
	<div class="w-full sm:mt-6 pt-0 sm:pt-6 lg:flex lg:flex-wrap">
		<div class="lg:w-1/3 px-12"><img src="/assets/images/company/logo-cercano.png" alt="Cercano" class="mx-auto mb-2" /><div class="text-center caption">Formerly Vulcan Capital</div></div>
		<div class="lg:w-1/3 px-12"><img src="/assets/images/company/logo-cmt.png" alt="CMT Digital" class="mx-auto mb-2" /></div>
		<div class="lg:w-1/3 px-12"><img src="/assets/images/company/logo-future-perfect.png" alt="Future Perfect Ventures" class="mx-auto mb-2" /></div>
	</div>
</section>
{# /INVESTORS #}

{# QUOTE #}
<section class="container mx-auto pt-12 sm:pt-20 pb-20 sm:pb-32">
	<div class="mx-auto lg:w-2/3 flex">
		<quote class="quote text-tan">
			“Blockchain technology is rooted in decades of advances in distributed systems and cryptography, and it’s at the center of banking and financial innovation today. Based on Transparent’s strategic partnerships and solution, we believe this investment represents an exciting opportunity and will provide tremendous value to the future of on-demand settlements.”
			<p class="attribute text-brown">— Joey Krug, Co-Chief Investment Officer, Pantera Capital</p>
		</quote>
	</div>
</section>
{# /QUOTE #}