---
layout: layouts/default
title: How Xand Works
---

{# HERO #}
<section class="container mx-auto relative">
    <div class="hidden sm:block">{% include "_svgs/solutions-hero.html" %}</div>
    <div class="block sm:hidden">{% include "_svgs/solutions-hero-mobile.html" %}</div>
</section>
{# /HERO #}

{# HOW WORKS #}
<a name="problem"></a>
<section class="container mx-auto pt-12 sm:pt-20 pb-16 sm:pb-24">
    <h5 class="section--intro">HOW XAND WORKS</h5>
    <div class="w-full border-t-1 border-brown pt-8 sm:pt-12">
        <div class="mb-12 lg:flex lg:space-x-20">
            <div class="w-full lg:w-1/2">
                <h2 class="text-4xl text-salmon">Xand cuts out slow and costly intermediaries</h2>
            </div>
            <div class="w-full lg:w-1/2 text-2xl">
                <strong class="text-salmon">Xand's</strong> novel trust implementation builds a community of
                organizations that do business with each other. Transfers between trust members are settled instantly
                and confidentially using blockchain technology. The on-chain funds are backed 1:1 with assets controlled
                by the trust and held in the same banks used by the members.
            </div>
        </div>
        <script>
            // check if an element is in view
            function checkVisible(elm, threshold, mode) {
                threshold = threshold || 0;
                mode = mode || 'visible';

                var rect = elm.getBoundingClientRect();
                var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
                var above = rect.bottom - threshold < 0;
                var below = rect.top - viewHeight + threshold >= 0;

                return mode === 'above' ? above : (mode === 'below' ? below : !above && !below);
            }

            function swapLottie() {
                return {
                    swapLottieInit: function () {
                        var xandplayer = document.getElementById('howXandWorksPlayer'),
                            notStarted = true,
                            _this = this;

                        //if already in view load it up
                        if (checkVisible(xandplayer, 300)) {
                            //console.log('in view to start and started');
                            notStarted = false;
                            this.setLottieInteractivity();
                        }
                        else {//otherwise trigger on scroll
                            document.addEventListener('scroll', function (e, inView) {
                                if (checkVisible(xandplayer, 300) && notStarted) {
                                    //console.log('start');
                                    notStarted = false;
                                    _this.setLottieInteractivity();
                                }
                                else if (!checkVisible(xandplayer, -200, 'after') && !notStarted) {
                                    //console.log('reset');
                                    notStarted = true;
                                }
                            });
                        }
                    },
                    setLottieInteractivity: function () {
                        LottieInteractivity.create({
                            player: '#wholeHow',
                            mode: "chain",
                            actions: [
                                {
                                    state: 'autoplay',
                                    transition: 'onComplete',
                                    repeat: 0,
                                    delay: 2000,
                                    visibility: [0, 1],
                                    autoloop: false,
                                    reset: true
                                }
                            ]
                        });

                        LottieInteractivity.create({
                            player: '#wholeHowMobile',
                            mode: "chain",
                            actions: [
                                {
                                    state: 'autoplay',
                                    transition: 'onComplete',
                                    repeat: 0,
                                    delay: 0,
                                    visibility: [0, 1],
                                    reset: true
                                }
                            ]
                        });
                    },
                }
            }
        </script>
        <div x-data="swapLottie()" x-init="swapLottieInit()" id="howXandWorksPlayer">
            <lottie-player id="wholeHow" class="hidden sm:block" src="/assets/lottie/how-xand-works.json"
                background="transparent" speed="1"></lottie-player>
            <lottie-player id="wholeHowMobile" class="block sm:hidden" src="/assets/lottie/how-xand-works-mobile.json"
                background="transparent" speed="1"></lottie-player>
        </div>

    </div>
</section>
{# /HOW WORKS #}

{# PROBLEM #}
<a name="problem"></a>
<section class="container mx-auto pt-12 sm:pt-20 pb-16 sm:pb-24">
    <h5 class="section--intro">THE PROBLEM</h5>
    <div class="w-full border-t-1 border-brown pt-8 sm:pt-12">
        <div class="w-full mb-12">
            <h2 class="text-4xl text-salmon lg:w-2/3">For businesses, the current methods of sending money are broken.
            </h2>
        </div>
        <div class="w-full lg:flex lg:flex-row lg:space-x-14">
            <div class="w-full lg:w-1/3 mb-8 lg:mb-0">
                <img src="/assets/images/site/icon-time.svg" width="73.33" alt="icon of sand timer" class="mb-8" />
                <h3 class="text-3xl font-medium text-salmon mb-4">Checks are cheap but slow</h3>
                <p class="text-2xl mb-6">Checks are cheap to send but the time it costs to resolve who sent money for
                    what is expensive for businesses — and that’s on top of the 3-5 days it takes to settle a check.</p>
                <p class="text-2xl"><b class="text-salmon">With Xand</b> payment and settlement is instant — and it
                    comes with the meta data.</p>
            </div>
            <div class="w-full lg:w-1/3 mb-8 lg:mb-0">
                <img src="/assets/images/site/icon-blind.svg" width="154.39" alt="icon of crossed out eyeball"
                    class="mb-8" />
                <h3 class="text-3xl font-medium text-salmon mb-4">Wires are faster but blind</h3>
                <p class="text-2xl mb-6">Does it make you sweat to send millions through a wire? The headache of triple
                    checking account numbers just to send it out into the ether?</p>
                <p class="text-2xl"><b class="text-salmon">With Xand</b> only trusted partners are part of your network,
                    and with our blockchain network you’ll be able to confirm the money has been received instantly.</p>
            </div>
            <div class="w-full lg:w-1/3 mb-8 lg:mb-0">
                <img src="/assets/images/site/icon-money.svg" width="153.22" alt="icon of stack of money"
                    class="mb-8" />
                <h3 class="text-3xl font-medium text-salmon mb-4">Credit cards are fast but expensive</h3>
                <p class="text-2xl mb-6">3%?!?!</p>
                <p class="text-2xl"><b class="text-salmon">With Xand</b> payments and settlements are free. We stay in
                    business by providing services and receiving a portion of interest.</p>
            </div>
        </div>
    </div>
</section>
{# /PROBLEM #}

{# THE SOLUTION #}
<a name="solution"></a>
<section class="bg-salmon text-white pt-16 pb-16 sm:pb-28 mt-16">
    <div class="container mx-auto">

        <a name="solution"></a>
        <h5 class="section--intro text-salmon-lighter">THE SOLUTION</h5>
        <div class="w-full border-t-1 border-salmon-lighter pt-8 sm:pt-12 lg:flex lg:flex-row">

            <div class="lg:w-1/2 lg:pr-20 pb-12 flex flex-col">

                <div class="text-white text-4xl mb-4">
                    <a href="/post/xand-s-unique-approach-to-payment-and-settlement/">Xand helps financial firms unlock
                        real time settlement</a>.
                </div>

                <a href="https://transparent.us/post/xand-s-unique-approach-to-payment-and-settlement/"
                    class="text-md transition transform ease-in-expo duration-300 hover:underline">See our blog post for
                    more details &gt;</a>

                {# <a href="mailto:info@transparent.us"
                    class="btn font-semibold transform transition duration-300">Contact us</a> #}

            </div>
            <div class="lg:w-1/2 p-0 lg:pb-4 lg:px-20 space-y-12 my-auto">

                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-white">Existing legal frameworks &amp;
                            regulations.</h3>
                        <p class="text-sm">Xand claims are USD-denominated, digital representations of a limited,
                            contractual right to redeem an equal amount against funds held in trust at participating
                            banks.</p>
                    </div>
                </div>

                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-white">Member-led governance.</h3>
                        <p class="text-sm">Network members have shared interests, likely already transact with each
                            other, and can now collectively govern in the network’s best interest.</p>
                    </div>
                </div>

                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-white">Modern blockchain software.</h3>
                        <p class="text-sm">Leverage the inherent advantages of blockchain and cryptography, and benefit
                            from unique Xand features including patent-pending transaction confidentiality.</p>
                    </div>
                </div>

                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-white">Compatible with existing banks.</h3>
                        <p class="text-sm">Members can retain their banking relationships because Xand uses existing
                            bank APIs to integrate into a network.</p>

                        {# <p class="text-md"><br><a href="/post/xand-s-unique-approach-to-payment-and-settlement/">More
                                on Xand’s unique approach &gt;</a></p> #}
                    </div>
                </div>

            </div>
        </div>

        <a name="benefits"></a>
        <h5 class="section--intro text-salmon-lighter pt-20 sm:pt-16">THE BENEFITS</h5>
        <div class="w-full border-t-1 border-salmon-lighter pt-8 sm:pt-12">
            {% include "partials/xand-benefits.html" %}
        </div>
    </div>
</section>
{# /THE SOLUTION #}

{# XANDBOX #}
<a name="xandbox"></a>
<section class="pt-16 pb-16 sm:pb-28" x-data="{ showForm: false }">
    <div class="container mx-auto">

        <h5 class="section--intro">TRY IT OUT</h5>
        <div class="w-full border-t-1 border-brown lg:flex lg:flex-row">

            <div class="lg:w-1/2 pt-8 sm:pt-12 lg:pr-12 flex flex-col py-auto">

                <div class="text-salmon text-4xl mb-8">Xandbox is our developer toolkit.</div>

                <a href="#develop" class="btn font-semibold transform transition duration-300"
                    @click.prevent="showForm = !showForm" x-show="!showForm">Request access</a>

                <div class="w-full flex z-1 transform transition duration-300" x-cloak x-show="showForm"
                    x-transition:enter="ease-in" x-transition:enter-start="opacity-0"
                    x-transition:enter-end="opacity-100" x-transition:leave="ease-out"
                    x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
                    <div class="text-2xl">
                        {% include "partials/solutions-form-xandbox.html" %}
                    </div>
                </div>

            </div>

            <div class="lg:w-1/2 pt-16 lg:py-16 lg:px-20 space-y-12 my-auto">
                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-salmon">Test before deploying.</h3>
                        <p class="text-sm">Thoroughly analyze how Xand works, model out setups and integrations, and
                            test configurations before deploying into production. <a
                                href="https://transparent.us/post/build-a-castle-in-the-xandbox" class="underline">Learn
                                more</a> from our CTO.</p>
                    </div>
                </div>
                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-salmon">Easy to use.</h3>
                        <p class="text-sm">Setup is easy, with full operating instructions for custom installations
                            using docker-compose.</p>
                    </div>
                </div>
                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-salmon">State of the art.</h3>
                        <p class="text-sm">Built with Substrate and Rust, Xand is secure and fast, representing
                            state-of-the-art distributed systems engineering.​​</p>

                        <p class="text-md"><br><a href="/post/build-a-castle-in-the-xandbox" class="text-salmon">More on
                                Xandbox &gt;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# /XANDBOX #}