---
layout: layouts/default
title: Transparent.us
---

{# HERO #}
<section class="container mx-auto relative hidden sm:block">
    <a href="/solutions">
        <lottie-player id="homeHero" background="transparent" speed="1" style="width:100%;" loop autoplay
            renderer="svg"></lottie-player>
    </a>
</section>
{# /HERO #}

{# MOBILE HERO #}
<section class="container mx-auto relative block sm:hidden">
    <a href="/solutions">
        <lottie-player id="homeHeroMob" background="transparent" speed="1" style="width:100%;" loop autoplay>
        </lottie-player>
    </a>
</section>
{# /MOBILE HERO #}

{# PRESS & BLOG #}
<section class="container mx-auto pt-16 pb-16 sm:pb-24">
    <h5 class="section--intro block"><a href="/press-blog">Press &amp; Blog &gt;</a></h5>
    <div class="lg:flex lg:flex-row lg:space-x-4">
        {% for item in collections.livePressAndBlog | reverse | limit(3) %}
        <div class="lg:w-1/3 hover:bg-tan-lighter transform duration-200 ease-in-out">
            <div class="w-full border-t-1 border-brown p-4 mr-4 text-slate">
                <div class="text-xs uppercase tracking-wider">
                    {% if item.data.source %}
                    Press&nbsp;&nbsp;|&nbsp;&nbsp;{{ item.data.source }}
                    {% else %}
                    Post&nbsp;&nbsp;|&nbsp;&nbsp;
                    {% for a in item.data.authors %}{% set people = collections.people|filterBySlug(a) %}{{
                    people[0].data.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                    {% endif %}
                </div>
                {% if item.data.externalLink %}
                <a href="{{ item.data.externalLink }}" target="_blank"
                    class="inline-block text-2xl font-medium text-tan pr-6">{{ item.data.title }}</a>
                {% else %}
                <a href="{{ item.url }}" class="inline-block text-2xl font-medium text-tan pr-6">{{
                    item.data.title }}</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{# PRESS & BLOG #}

{# INTRODUCING XAND #}
<a name="introducing"></a>
{%
set introHeaders = [
'Build intra-bank or inter-bank settlement networks.<br class="hidden xl:inline" />True 24/7 real time settlement.',
'Designed within existing regulations.',
'Built with proven, cost-effective, and enterprise grade blockchain technology',
'Member led governance. Network\'s best interest.'
]
%}
<script>
    function IntroHeaders() {
        return {
            currentHeadline: -1,
            updateCount: function () {
                if (this.currentHeadline >= 3) {
                    this.currentHeadline = 0;
                } else {
                    this.currentHeadline++;
                }
                var _this = this;
                setTimeout(function () { _this.updateCount() }, 3500);
            },
            introHeadersInit: function () {
                this.updateCount();
            }
        }
    }
</script>
<section class="bg-salmon text-white pt-16 pb-16 sm:pb-28" x-data="IntroHeaders()" x-init="introHeadersInit()">
    <div class="container mx-auto">
        <h5 class="section--intro text-salmon-lighter">Introducing Xand</h5>
        <div
            class="relative w-full border-t-1 border-salmon-lighter pt-8 sm:pt-12 max-h-48 h-48 mb-8 overflow-y-hidden">
            {% for introHeader in introHeaders %}
            <div class="absolute text-4xl mb-8" x-cloak x-show="currentHeadline == {{loop.index0}}"
                x-transition:enter="transition transform duration-200 delay-200 ease-in-expo"
                x-transition:enter-start="opacity-0 translate-y-10" x-transition:enter-end="opacity-100 translate-y-0"
                x-transition:leave="transition transform duration-200 ease-in-expo"
                x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-10">
                {{ introHeader|safe }}
            </div>
            {% endfor %}
        </div>
        {% include "partials/xand-benefits.html" %}
    </div>
</section>
{# /INTRODUCING XAND #}
{# ABOUT TRANSPARENT #}
<section class="container mx-auto mt-16 mb-16 sm:mb-28">
    <h5 class="section--intro">ABOUT TRANSPARENT</h5>
    <div class="w-full border-t-1 border-brown lg:flex lg:flex-row lg:space-x-4">
        <div class="lg:w-1/2 pt-12 lg:pr-20 flex flex-col">
            <div class="text-tan text-4xl mb-8">Your tech, finance, and regulatory partners.</div>
            <p class="text-2xl block font-body text-slate pb-6 xl:pr-20">Transparent is the developer of Xand, a
                software solution for real time payments using tokenized deposits, and built with blockchain technology.
            </p>
            <a href="/company" class="btn border !border-tan !bg-tan">Meet our team</a>
        </div>
        <div class="lg:w-1/2 py-12 pr-4 space-y-12 my-auto font-sans">
            <div class="md:flex md:space-x-8">
                <div class="mb-4 md:mb-0 flex-shrink-0">
                    <img src="/assets/images/site/icon-crypto.svg" width="108" alt="" />
                </div>
                <div class="self-center">
                    <p class="text-3xl font-medium text-tan">Deep software and cryptographic capabilities.</p>
                </div>
            </div>
            <div class="md:flex md:space-x-8">
                <div class="mb-4 md:mb-0 flex-shrink-0">
                    <img src="/assets/images/site/icon-shield.svg" width="108" alt="" />
                </div>
                <div class="self-center">
                    <p class="text-3xl font-medium text-tan">Dedicated to the highest technical, security, and privacy
                        standards and practices.</p>
                </div>
            </div>
            <div class="md:flex md:space-x-8">
                <div class="mb-4 md:mb-0 flex-shrink-0">
                    <img src="/assets/images/site/icon-user.svg" width="108" alt="" />
                </div>
                <div class="self-center">
                    <p class="text-3xl font-medium text-tan">Interdisciplinary, and experienced product-centric teams.
                    </p>
                </div>
            </div>
            <div class="md:flex md:space-x-8">
                <div class="mb-4 md:mb-0 flex-shrink-0">
                    <img src="/assets/images/site/icon-coin.svg" width="108" alt="" />
                </div>
                <div class="self-center">
                    <p class="text-3xl font-medium text-tan">Extensive legal, regulatory and compliance expertise.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{# /ABOUT TRANSPARENT #}