---
title: Integrations
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<title>
		{% if title %}
		{{ title | safe}}
		{% else %}
		Transparent.us
		{% endif %}
	</title>

	<link href="/assets/images/site/favicon.png" rel="shortcut icon">
	<link href="/assets/images/site/touch.png" rel="apple-touch-icon-precomposed">
	<link rel="preconnect" href="https://www.google-analytics.com/">
	<link rel="preconnect" href="https://fonts.googleapis.com/">

	{% block head %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	{# external libraries #}
	<script src="//unpkg.com/alpinejs" defer></script>
	<script src="//cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
	<script src="//unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
	<script src="//unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>

	<link rel="stylesheet" href="/assets/css/app.css" />
	<script src="/assets/js/app.js" type="text/javascript" defer></script>
	{% endblock %}

</head>

<body class="{{bodyClasses|default('')}}">
	<a href="#" class="hidden skip-to-content">Skip To Main Content</a>

	{% include "partials/xand-minimal-header.njk" %}

	<section class="container pt-16 pb-24 mx-auto ">

		<div class="container grid place-items-center">
			<div class="border-t-1 border-white pt-2 lg:flex lg:space-x-32 xl:space-x-64">
				<div class="flex-row">
					<h5 class="section--intro p8">BANK INTEGRATIONS</h5>
					<div class="text-red text-4xl lg:pt-8">
						<p class="pb-8">Join the waitlist.</p>
					</div>
					<div class="text-3xl lg:pt-8">
						<p class="pb-8">Get notified when your bank is Xand-enabled.</p>
					</div>
				</div>
				<div class="p-0 lg:py-4 space-y-12 my-auto">
					{% include "partials/form-bank-integration.html" %}
				</div>
			</div>
		</div>
	</section>

	{% block scripts %}{% endblock %}

	{% include "partials/analytics.njk" %}

</body>

</html>