---
layout: layouts/default
title: Press &amp; Blog
pagination:
  data: collections.livePosts
  size: 25
  alias: posts
  reverse: true
hero: press/2022-08-08_as-interest-rates-rise-a-silent-vampire-attack-on-crypto
---

<section class="container mx-auto">
	<div class="lg:flex lg:flex-row lg:space-x-20">
		<div class="lg:w-2/3 mb-12">

			{% if hero %}
				{% set heroSlug = hero.replace('press/', '').replace('posts/', '') %}
				{% set heroCollection = collections.pressAndBlog|filterBySlug(heroSlug) %}
			{% else %}
				{% set heroCollection = collections.livePressAndBlog | reverse %}
			{% endif %}
			{% if page.url == pagination.href.first and heroCollection.length > 0 %}
				{# HERO #}
				{% set heroPost = heroCollection[0] %}
				
				<div class="hidden sm:block">{% include "_svgs/press-hero.html" %}</div>
				<div class="block sm:hidden">{% include "_svgs/press-hero-mobile.html" %}</div>
				{# /HERO #}
			{% endif %}

			<div class="flex justify-between {% if page.url == pagination.href.first %}mt-12{% else %}mt-2{% endif %}">
				{# PERSPECTIVES LISTING #}
				<div class="section--intro">PERSPECTIVES</div>
				
				<div>
					{# PERSPECTIVE PAGING #}
					{% if pagination.pages|length > 1 and page.url != pagination.href.first %}
						<div class="flex justify-end space-x-4 ml-6">
							{% if page.url == pagination.href.first %}
								<div class="border-slate-300 text-slate-300 border-1 px-3 py-1">&#xab;</div>
							{% else %}
								<a href="{{ pagination.href.first }}" class="border-brown border-1 px-3 py-1">&#xab;</a>
							{% endif %}
							{%- for pageEntry in pagination.pages %}
								<a href="{{ pagination.hrefs[ loop.index0 ] }}"
									class="{% if page.url == pagination.hrefs[ loop.index0 ] %}border-salmon text-salmon font-bold{% else %}border-brown{% endif %} border-1 px-3 py-1"
									{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %} >
									{{ loop.index }}
								</a>
							{%- endfor %}
							{% if page.url == pagination.href.last %}
								<div class="border-slate-300 text-slate-300 border-1 px-3 py-1">&#xbb;</div>
							{% else %}
								<a href="{{ pagination.href.last }}" class="border-brown border-1 px-3 py-1">&#xbb;</a>
							{% endif %}
						</div>
					{% endif %}
					{# /PERSPECTIVE PAGING #}
				</div>
			</div>

			{% for post in posts %}
			 	{% if post.fileSlug != heroPost.fileSlug %}
				<div class="w-full lg:flex border-t-1 border-brown mt-4 mb-12 lg:flex">

					<div class="w-full space-y-4 py-6 hover:bg-tan-lighter lg:space-x-6 transform duration-200 ease-in-out">
						<div class="w-full flex justify-between text-xs text-slate-dark uppercase tracking-wider lg:px-6">
							<p>{# if is after the p tag to allow for justify-between to do its thing #}
							{% if post.data.authors %}by 
								{% for authorSlug in post.data.authors %}
									{% set author = collections.people|filterBySlug(authorSlug) %}
									{{ author[0].data.name }}{% if not loop.last %} and {% endif %}
								{% endfor %}
							{% endif %}
							</p>
							<p>{{ post.data.postDate|readableDate }}</p>
						</div>
						<div class="lg:pr-4">
							<a href="{{ post.url }}" class="block text-3xl font-semibold text-tan mb-4">{{ post.data.title }}</a>
							<p class="text-sm font-body">{{ post.data.teaser }}</p>
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
			{# /PERSEPCTIVES LISTING #}
			
			{# PERSPECTIVE PAGING #}
			{% if pagination.pages|length > 1 %}
				<div class="flex justify-end space-x-4 ml-6">
					{% if page.url == pagination.href.first %}
						<div class="border-slate-300 text-slate-300 border-1 px-3 py-1">&#xab;</div>
					{% else %}
						<a href="{{ pagination.href.first }}" class="border-brown border-1 px-3 py-1">&#xab;</a>
					{% endif %}
					{%- for pageEntry in pagination.pages %}
						<a href="{{ pagination.hrefs[ loop.index0 ] }}"
							class="{% if page.url == pagination.hrefs[ loop.index0 ] %}border-salmon text-salmon font-bold{% else %}border-brown{% endif %} border-1 px-3 py-1"
							{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %} >
							{{ loop.index }}
						</a>
					{%- endfor %}
					{% if page.url == pagination.href.last %}
						<div class="border-slate-300 text-slate-300 border-1 px-3 py-1">&#xbb;</div>
					{% else %}
						<a href="{{ pagination.href.last }}" class="border-brown border-1 px-3 py-1">&#xbb;</a>
					{% endif %}
				</div>
			{% endif %}
			{# /PERSPECTIVE PAGING #}

		</div>
		

		{# COLUMN 2 - PRESS LIST #}
		
		<div class="lg:w-1/3 mb-12">
			<div class="section--intro block">Press</div>
    		<div class="w-full border-t-1 border-brown mt-6">
				<div class="lg:flex lg:flex-col lg:space-y-8 lg:-mx-4">
					{% for post in collections.press | isLive | reverse %}
						{% if post.fileSlug != heroPost.fileSlug %}
							<div class="mt-6 py-4 lg:p-4 space-y-4 transform duration-200 ease-in-out hover:bg-tan-lighter">
								<div class="w-full flex justify-between text-xs text-slate-dark uppercase tracking-wider">
									<p>{{ post.data.source }}</p>
								</div>
								<div class="w-full">
									<a target="_blank" href="{{ post.data.externalLink }}" class="block text-2xl text-tan mb-4">{{ post.data.title }}</a>
									<p class="text-xs text-slate-dark uppercase tracking-wider">{{ post.data.postDate|readableDate }}</p>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		{# /COLUMN 2 - PRESS LIST #}
	</div>
</section>
