---
layout: layouts/default
title: Privacy Policy
---

<section class="container container--post mx-auto my-12">
	<div class="px-0 md:px-[10%] lg:px-[15%] font-body text-xl space-y-6">

	<h2 class="text-4xl text-tan">Transparent Financial Systems, Inc.<br>Privacy Policy</h2>

    <p>Last Updated: February 1, 2020</p>
    <p>This privacy policy (“Policy”) describes how Transparent Financial Systems, Inc. and its related companies (“Company”) collect, use and share personal information of consumer users of this website, transparentsystems.com (the “Site”). This Policy also applies to any of our other websites that post this Policy. This Policy does not apply to websites that post different statements. </p>

    <h5 class="section--intro">WHAT WE COLLECT </h5>
    <p>We get information about you in a range of ways. </p>
    <p><strong>Information You Give Us</strong>. We collect your‎ name, email address as well as other information you directly give us on our Site. </p>
    <p><strong>Information We Get From Others</strong>. We may get information about you from other sources. We may add this to information we get from this Site. </p>
    <p><strong>Information Automatically Collected</strong>. We automatically log information about you and your computer. For example, when visiting our Site, we log your computer operating system type, browser type, browser language, the website you visited before browsing to our Site, pages you viewed, how long you spent on a page, access times and information about your use of and actions on our Site. </p>
    <p><strong>Cookies</strong>. We may log information using "cookies." Cookies are small data files stored on your hard drive by a website. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them) to provide you with a more personal and interactive experience on our Site. This type of information is collected to make the Site more useful to you and to tailor the experience with us to meet your special interests and needs. </p>

    <h5 class="section--intro">USE OF PERSONAL INFORMATION </h5>
    <p>We use your personal information as follows: </p>
    <p>- We use your personal information to operate, maintain, and improve our sites, products, and services. </p>

    <h5 class="section--intro">SHARING OF PERSONAL INFORMATION </h5>
    <p>We may share personal information as follows: </p>
    <p>
        - We may share personal information with your consent. For example, you may let us share personal information with others for their own marketing uses. Those uses will be subject to their privacy policies.<br>
        - We may share personal information when we do a business deal, or negotiate a business deal, involving the sale or transfer of all or a part of our business or assets. These deals can include any merger, financing, acquisition, or bankruptcy transaction or proceeding. <br>
        - We may share personal information for legal, protection, and safety purposes. <br>
        - We may share information to comply with laws. <br>
        - We may share information to respond to lawful requests and legal processes. <br>
        - We may share information to protect the rights and property of Transparent Financial Systems, Inc., our agents, customers, and others. This includes enforcing our agreements, policies, and terms of use. <br>
        - We may share information in an emergency. This includes protecting the safety of our employees and agents, our customers, or any person. <br>
        - We may share information with those who need it to do work for us. We may also share aggregated and/or anonymized data with others for their own uses. 
    </p>

    <h5 class="section--intro">INFORMATION CHOICES AND CHANGES </h5>
    <p>Our marketing emails tell you how to “opt-out.” If you opt out, we may still send you non-marketing emails. Non-marketing emails include emails about your accounts and our business dealings with you. </p>
    <p>You may send requests about personal information to our Contact Information below. You can request to change contact choices, opt-out of our sharing with others, and update your personal information. </p>
    <p>You can typically remove and reject cookies from our Site with your browser settings. Many browsers are set to accept cookies until you change your settings. If you remove or reject our cookies, it could affect how our Site works for you. </p>

    <h5 class="section--intro">CONTACT INFORMATION </h5>
    <p>We welcome your comments or questions about this privacy policy. You may also contact us at our address: </p>
    <p>Transparent Financial Systems, Inc. <br>701 Fifth Avenue <br>Seattle, Washington 98104 <br>info@transparent.us </p>

    <h5 class="section--intro">CHANGES TO THIS PRIVACY POLICY </h5>
    <p>We may change this privacy policy. If we make any changes, we will change the Last Updated date above.</p>

    </div>
</section>
