---
layout: layouts/default
title: Solutions
---

{# HERO #}
<section class="container mx-auto relative">
    <div class="hidden sm:block">{% include "_svgs/solutions-hero.html" %}</div>
    <div class="block sm:hidden">{% include "_svgs/solutions-hero-mobile.html" %}</div>
</section>
{# /HERO #}

{# SOFTWARE SOLUTIONS #}
<a name="software-solutions"></a>
<section class="container mx-auto pt-20 pb-24">
    <h5 class="section--intro">SOFTWARE SOLUTIONS</h5>
    <div class="w-full border-t-1 border-slate lg:flex lg:flex-row lg:space-x-32 xl:space-x-64">
        <div class="lg:w-1/2 pt-12 flex flex-col">
            <div class="text-salmon text-4xl">
                Tokenized deposits turn payments and settlement into new revenue streams for your business.
            </div>
        </div>
        <div class="lg:w-1/2 pt-12 space-y-12">
            <div class="font-body text-lg md:space-y-2">
                <h3 class="font-sans font-semibold text-3xl text-salmon">
                    <a href="#xand-enterprise">Xand Enterprise</a>
                </h3>
                <p class="text-sm"><strong>For Banks</strong><br />Xand Enterprise enables your firm to deploy
                    single- or cross-bank payment networks. Xand integrates on top of your existing cores and tech
                    stack, extending your suite of API offerings for commercial clients.</p>
            </div>

            <div class="font-body text-lg md:space-y-2">
                <h3 class="font-sans font-semibold text-3xl text-salmon">
                    <a href="#xand-cooperative">Xand Cooperative</a>
                </h3>
                <p class="text-sm"><strong>For Financial Firms and Fintechs</strong><br />Xand Cooperative gives you the
                    technology and legal framework to own
                    your own payment network, all compliant within today's regulations. Bring your banks, bring your
                    counterparties, and settle in real time. </p>
            </div>
        </div>

    </div>
</section>
{# /SOFTWARE SOLUTIONS #}


{# XAND ENTERPRISE #}
<a name="solution"></a>
<section class="bg-salmon text-white pt-16 pb-16 sm:pb-28 mt-16">
    <div class="container mx-auto">

        <a name="xand-enterprise"></a>
        <h5 class="section--intro text-salmon-lighter">XAND ENTERPRISE</h5>
        <div class="w-full border-t-1 border-salmon-lighter pt-8 sm:pt-12 lg:flex lg:flex-row">

            <div class="lg:w-1/2 lg:pr-20 pb-12 flex flex-col">

                <div class="text-white text-4xl mb-4">
                    Offer real time payments capabilities without radical transformation.
                </div>
                <a href="/get-started/"
                    class="text-md transition transform ease-in-expo duration-300 hover:underline">Contact Sales today &gt;</a>
            </div>
            <div class="lg:w-1/2 p-0 lg:pb-4 lg:px-20 space-y-12 my-auto">
                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-white">Leverage your existing tech stack.</h3>
                        <p class="text-sm">Xand securely integrates on top your existing cores and APIs to offer new
                            settlement capabilities to your clients.</p>
                    </div>
                </div>

                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-white">Tokenized deposits.</h3>
                        <p class="text-sm">No cryptocurrencies or stablecoins involved. Offer programmable access to
                            dollars tokenized at your bank.</p>
                    </div>
                </div>

                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-white">Modern blockchain software.</h3>
                        <p class="text-sm">Leverage the inherent advantages of blockchain and cryptography. Benefit from
                            unique Xand features including patent-pending transaction confidentiality.</p>

                        {# <p class="text-md"><br><a href="/post/xand-s-unique-approach-to-payment-and-settlement/">More
                                on Xand’s unique approach &gt;</a></p> #}
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{# /XAND ENTERPRISE #}

{# XAND COOPERATIVE #}
<a name="solution"></a>
<section class="bg-miami text-white pt-16 pb-16 sm:pb-28">
    <div class="container mx-auto">

        <a name="xand-cooperative"></a>
        <h5 class="section--intro text-miami-lighter">XAND COOPERATIVE</h5>
        <div class="w-full border-t-1 border-miami-lighter pt-8 sm:pt-12 lg:flex lg:flex-row">

            <div class="lg:w-1/2 lg:pr-20 pb-12 flex flex-col">

                <div class="text-white text-4xl mb-4">
                    <a href="/post/xand-s-unique-approach-to-payment-and-settlement/">Xand helps financial firms unlock
                        real time settlement</a>.
                </div>

                <a href="https://transparent.us/post/xand-s-unique-approach-to-payment-and-settlement/"
                    class="text-md transition transform ease-in-expo duration-300 hover:underline">See our blog post for
                    more details &gt;</a>

                {# <a href="mailto:info@transparent.us"
                    class="btn font-semibold transform transition duration-300">Contact us</a> #}

            </div>
            <div class="lg:w-1/2 p-0 lg:pb-4 lg:px-20 space-y-12 my-auto">

                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-white">Permissioned and confidential.</h3>
                        <p class="text-sm">A design that ensures the network is private to its members, and built with
                            the latest proven zero-knowledge cryptography so transactions remain confidential on-chain.
                        </p>
                    </div>
                </div>


                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-white">New revenue stream.</h3>
                        <p class="text-sm">Funds in Xand Cooperative networks earn interest, which cover costs and
                            generate rewards for members.</p>
                    </div>
                </div>
                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-white">No new counterparties.</h3>
                        <p class="text-sm">With integrations built for major core and BaaS providers, Xand works at your
                            bank. Retain your existing banking relationships and transact directly with your
                            counterparties. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# /XAND COOPERATIVE #}

{# XANDBOX #}
<a name="xandbox"></a>
<section class="pt-16 pb-16 sm:pb-28" x-data="{ showForm: false }">
    <div class="container mx-auto">

        <h5 class="section--intro">TRY IT OUT</h5>
        <div class="w-full border-t-1 border-brown lg:flex lg:flex-row">

            <div class="lg:w-1/2 pt-8 sm:pt-12 lg:pr-12 flex flex-col py-auto">

                <div class="text-salmon text-4xl mb-8">Xandbox is our developer toolkit.</div>

                <a href="#develop" class="btn font-semibold transform transition duration-300"
                    @click.prevent="showForm = !showForm" x-show="!showForm">Try it out</a>

                <div class="w-full flex z-1 transform transition duration-300" x-cloak x-show="showForm"
                    x-transition:enter="ease-in" x-transition:enter-start="opacity-0"
                    x-transition:enter-end="opacity-100" x-transition:leave="ease-out"
                    x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
                    <div class="text-2xl">
                        {% include "partials/solutions-form-xandbox.html" %}
                    </div>
                </div>

            </div>

            <div class="lg:w-1/2 pt-16 lg:py-16 lg:px-20 space-y-12 my-auto">
                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-salmon">Test before deploying.</h3>
                        <p class="text-sm">Thoroughly analyze how Xand works, model out setups and integrations, and
                            test configurations before deploying into production.</p>
                    </div>
                </div>
                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-salmon">Easy to use.</h3>
                        <p class="text-sm">Setup is easy, with full operating instructions for custom installations
                            using docker-compose.</p>
                    </div>
                </div>
                <div class="md:flex md:space-x-8">
                    <div class="font-body text-lg md:space-y-2">
                        <h3 class="font-sans font-semibold text-3xl text-salmon">State of the art.</h3>
                        <p class="text-sm">Built with Substrate and Rust, Xand is secure and fast, representing
                            state-of-the-art distributed systems engineering.​​</p>

                        <p class="text-md"><br><a href="/post/build-a-castle-in-the-xandbox" class="text-salmon">More on
                                Xandbox &gt;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# /XANDBOX #}