---
layout: layouts/default
title: Xandbox Terms of Service
---

<section class="container container--post mx-auto my-12">
    <style>
        ol {
            counter-reset: item
        }

        li {
            display: block;

        }

        li:before {
            content: counters(item, ".") " ";
            counter-increment: item
        }
    </style>
    <div class="px-0 md:px-[10%] lg:px-[15%] font-body text-xl space-y-6">

        <span class="text-4xl text-tan">Transparent Financial Systems, Inc.<br>Xandbox License Agreement</span>

        <br>
        <p>Version 1.0<br><strong>‍</strong>Last Updated: December 14, 2022</p>
        <br>
        <span>This Xandbox License Agreement (the “<strong>Agreement</strong>”) is
            a binding legal agreement by and between Transparent Financial Systems,
            Inc. (“<strong>TFS</strong>”) and the individual or entity that enters
            into this agreement by clicking “accept” or by downloading or using the
            TFS Materials (“<strong>Participant</strong>”) and governs Participant’s
            access to and use of the TFS Materials (defined below). If Participant
            is entering into this Agreement on behalf of an entity, then
            “Participant” as used herein will also refer to such entity. By
            downloading or using any TFS Materials, Participant represents that (i)
            Participant has read, understand, and agrees to be bound by this
            Agreement; and (ii) Participant has the authority to enter into this
            Agreement, as an individual and/or on behalf of the entity that
            Participant represents, as applicable. This Agreement. The parties
            desire for Participant to use and evaluate the Software (defined below)
            in accordance with the terms of this Agreement in order that TFS may
            demonstrate to Participant the capabilities of the Xand software
            protocol and governance platform (“<strong>Xandbox Testing</strong>”).
            If Participant does not agree to be bound by this Agreement, Participant
            may not download or use any of the TFS Materials. This Agreement will
            become effective upon the date of Participant’s acceptance hereof (the
            “<strong>Effective Date</strong>”).</span>
        <br>
        <ol>
            <li><strong>Definitions.</strong>
                <ol>
                    <li>
                        <span>“<strong>Documentation</strong>” means any user instructions,
                            manuals, online help files, or other documentation materials provided by
                            TFS to Participant describing the use and operation of the
                            Software.</span>
                    </li>
                    <li>
                        <span><strong>“Software</strong>” means the software packets and
                            related materials provided by TFS for download in connection with the
                            Xandbox Testing, including a fully specified Xand blockchain (as defined
                            in the Documentation), a set of at least five Validator nodes(as defined
                            in the Documentation), a set of at least two Member nodes complete with
                            Member APIs (as defined in the Documentation), a set of mock Bank APIs
                            (as defined in the Documentation), a Trust node (as defined in the
                            Documentation), ancillary data files, modules, libraries, tutorials, and
                            demonstration programs in connection therewith, and any updates thereto
                            made available by TFS during the Term (defined below).</span>
                    </li>
                    <li>
                        <span>“<strong>TFS Materials</strong>” means the Software, the
                            Documentation, and any other materials provided by TFS to Participant in
                            connection with the Agreement.</span>
                    </li>
                </ol>
            </li>
            <li>
                <span><strong>Software.</strong></span>
                <ol>
                    <li>
                        <span><u>License Grant</u>. Subject to Participant’s ongoing compliance
                            with the terms and conditions of this Agreement, TFS hereby grants
                            Participant a non-exclusive, non-sublicensable, non-transferable,
                            royalty-free license, during the Term (defined below) to download and
                            use the Software, in executable code form, in order to deploy the
                            Xandbox developer toolkit, solely for the purpose of Xandbox
                            Testing.</span>
                    </li>
                    <li>
                        <span><u>License Restrictions</u>. Except as expressly permitted in
                            writing by TFS, Participant agrees not to, and shall not cause or permit
                            any third party to: (i) decompile, disassemble, reverse engineer, or
                            otherwise attempt to discover the source code, algorithms, or associated
                            know-how of the Software (or any portion thereof); (ii) write or develop
                            any program based upon the Software or any portion of the foregoing, or
                            otherwise use the TFS Materials in any manner for the purpose of
                            developing, distributing or making available any products or services;
                            (iii) sell, sublicense, assign, rent, lease, transfer, or grant a
                            security interest in the TFS Materials or any rights to the foregoing;
                            or use the Software (or any portion thereof) for any purpose other than
                            for Xandbox Testing; (iv) alter or remove any copyright, trademark, or
                            other proprietary notices contained in the TFS Materials; (v)
                            distribute, transfer, or otherwise make available the Software to any
                            person other than its employees or contractors who have a strict need to
                            know and who will use such TFS Materials in accordance with the terms of
                            this Agreement; (vi) modify, copy, or make any derivative works of the
                            TFS Materials; or (vii) otherwise use the TFS Materials except in
                            accordance with the Terms of this Agreement. TFS may revoke
                            Participant’s license at any time if TFS reasonably determines
                            Participant or any of its employees or contractors may be in
                            noncompliance with the foregoing.</span>
                    </li>
                    <li>
                        <span><u>Open Source Software</u>. The Software may include certain
                            software that is subject to “open source” or “free software” licenses
                            (“<strong>Open Source Software</strong>”). The Open Source Software is
                            not subject to the terms and conditions of this Agreement, and instead,
                            is licensed to Participant under the terms of the applicable Open Source
                            Software. Nothing in this Agreement limits Participant’s rights under,
                            or grants Participant rights that supersede, the licenses applicable to
                            the Open Source Software.</span>
                    </li>
                    <li>
                        <span><u>Delivery</u>. As soon as reasonably practicable following the
                            Effective Date, TFS will make the Software and Documentation available
                            to Participant via an online, hosted software repository or other
                            electronic means.</span>
                    </li>
                </ol>
            </li>
            <li>
                <span><strong>Ownership.</strong> TFS and its licensors own and retain
                    all right, title, and interest, including all intellectual property
                    rights, in and to the TFS Materials, including all technology, software,
                    algorithms, user interfaces, trade secrets, techniques, designs,
                    inventions, works of authorship, and other tangible and intangible
                    material and information pertaining thereto or included therein, as well
                    as any and all derivative works thereof, and nothing in this Agreement
                    shall preclude or restrict TFS from using or exploiting any concepts,
                    ideas, techniques or know-how of or related to the TFS Materials or
                    otherwise arising in connection with TFS’ performance under this
                    Agreement. All rights not expressly granted in this Agreement are
                    reserved by TFS.</span>
            </li>
            <li>
                <span><strong>Compliance with Laws<span class="smallcaps">.
                        </span></strong>Each party represents and warrants that it will comply
                    with all applicable laws, regulations, rules, ordinances and orders
                    applicable to the use of the TFS Materials.</span>
            </li>
            <li>
                <span><strong>Feedback.</strong> In exchange for the license granted to
                    Participant hereunder, Participant agrees to use good faith efforts to
                    use and evaluate the TFS Materials, and to promptly report to TFS any
                    bugs, defects, errors, or suggestions for changes and improvements to
                    the TFS Materials (collectively, “<strong>Feedback</strong>”).
                    Participant hereby grants TFS a non-exclusive, perpetual, irrevocable,
                    royalty-free, worldwide right and license to use, reproduce, disclose,
                    sublicense, distribute, modify, and otherwise exploit and commercialize
                    such Feedback without restriction. Further, Participant acknowledges and
                    agrees that Feedback may be used in the development of and be
                    incorporated into a version of the TFS Materials that TFS may make
                    available for commercial distribution (“<strong>Commercial
                        Release</strong>”) or any other TFS products or services.</span>
            </li>
            <li>
                <span>
                    <strong>No Obligation for Commercial Release.</strong> TFS has no obligation to create,
                    distribute or otherwise offer a Commercial Release. </span>
            </li>
            <li>
                <span>
                    <strong>Fees.</strong>
                    Participant’s use of the TFS Materials under this Agreement is free of
                    charge. Nothing herein shall limit TFS’ right to charge fees for any
                    other products or services, including, without limitation, in connection
                    with the products and/or services made available for Commercial Release.
                </span>
            </li>
            <li>
                <span>
                    <strong>Term and Termination.</strong> The term of this Agreement will begin on the Effective
                    Date and continue until terminated in accordance with this Section (the
                    “<strong>Term</strong>”). TFS may terminate this Agreement immediately upon written
                    notice to Participant at any time, for any or for no reason. Participant
                    may terminate this Agreement upon written notice to TFS. Upon any
                    expiration or termination of this Agreement: (i) the rights and licenses
                    granted to Participant under this Agreement will immediately terminate;
                    (ii) Participant will immediately cease using the TFS Materials; (iii)
                    Participant will uninstall and delete any copies of the Software and
                    Documentation in its possession or control, as applicable, and, upon
                    TFS’ request, certify its compliance with the foregoing; and (iv)
                    Participant will comply with all other reasonable instructions given by
                    TFS with respect to the end of Xandbox Testing. Sections 2.2, 2.3, 3-6,
                    and 8 through 14 will survive termination of this Agreement.</span>
            </li>
            <li>
                <span><strong>Confidentiality.</strong></span>
                <ol>
                    <li>
                        <span>
                            <u>Confidential Information</u>. “<strong>Confidential Information</strong>” means any
                            non-public
                            information provided by a party (“<strong>Disclosing Party</strong>”) to the other party
                            (“<strong>Receiving Party</strong>”) in connection with this Agreement that is either:
                            (i) designated as confidential by the Disclosing Party at the time of
                            disclosure; or (ii) should reasonably be considered confidential, given
                            the nature of the information or the circumstances surrounding its
                            disclosure. Notwithstanding the above, the TFS Materials and all
                            portions thereof constitute the Confidential Information of TFS.
                        </span>
                    </li>
                    <li>
                        <span>
                            <u>Protection</u>.
                            The Receiving Party agrees that it will not use or disclose to any third
                            party any Confidential Information of the Disclosing Party, except as
                            expressly permitted under this Agreement. The Receiving Party will limit
                            access to the Confidential Information to those employees who have a
                            strict need to know and who are bound by confidentiality obligations no
                            less restrictive than those set forth herein. In addition, the Receiving
                            Party will protect the Disclosing Party’s Confidential Information from
                            unauthorized use, access, or disclosure in the same manner that it
                            protects its own proprietary information of a similar nature, but in no
                            event with less than reasonable care. At the Disclosing Party’s request
                            or upon termination or expiration of this Agreement, the Receiving Party
                            will return to the Disclosing Party or destroy (or permanently erase in
                            the case of electronic files) all copies of the Confidential Information
                            in its possession or control, and the Receiving Party will, upon
                            request, certify to the Disclosing Party its compliance with this
                            sentence; provided, however, that the Receiving Party may retain,
                            subject to the other terms of this Agreement, Confidential Information
                            which it may be required by law or regulation or its internal
                            recordkeeping policies to maintain, including copies of any computer
                            records or files containing Confidential Information that have been
                            created pursuant to its electronic archiving and/or back-up
                            procedures.
                        </span>
                    </li>
                    <li>
                        <span>
                            <u>Exclusions</u>.
                            The confidentiality obligations set forth in Section 9.2 will not apply
                            to any information that (i) is at the time of disclosure or becomes
                            generally available to the public through no fault of the Receiving
                            Party; (ii) is lawfully provided to the Receiving Party by a third party
                            free of any confidentiality obligations; (iii) was already known to the
                            Receiving Party at the time of disclosure free of any confidentiality
                            obligations; or (iv) the Receiving Party can demonstrate, by competent
                            evidence, was independently developed by employees and contractors of
                            the Receiving Party who had no access to the Confidential Information.
                            In addition, the Receiving Party may disclose Confidential Information
                            to the extent that such disclosure (a) is necessary for the Receiving
                            Party to enforce its rights under this Agreement; or (b) is required by
                            law or by the order of a court or similar judicial or administrative
                            body, provided that (to the extent legally permissible) the Receiving
                            Party promptly notifies the Disclosing Party in writing of such required
                            disclosure and, upon request, reasonably cooperates with the Disclosing
                            Party in seeking an appropriate protective order.
                        </span>
                    </li>
                    <li>
                        <span>
                            <u>Third-Party Data</u>. Participant will hold in strict confidence all information and
                            data made available to Participant via its use of the TFS Materials,
                            including information and data made available by other Participants,
                            (all such data that is not TFS Materials, “<strong>Third-Party Data</strong>”) and use
                            such Third-Party Data solely as necessary to use and evaluate the TFS
                            Materials for Xandbox Testing during the Term. Participant agrees that
                            Participant shall use such Third-Party Data solely in compliance with
                            all applicable laws, rules, and regulations. Participant will not
                            transfer, sell, or otherwise disclose such Third-Party Data or retain
                            any such Third-Party Data following termination of this
                            Agreement.
                        </span>
                    </li>
                    <li>
                        <span>
                            <u>Publicity</u>.
                            Participant will not make any public announcements referencing this
                            Agreement, the Software, the TFS Materials, or Participant’s use and
                            evaluation thereof without obtaining TFS’ prior written consent and
                            written approval of the content of any such public
                            announcement.
                        </span>
                    </li>
                </ol>
            </li>
            <li>
                <span>
                    <strong>DISCLAIMERS.</strong>
                    <span class="smallcaps">PARTICIPANT ACKNOWLEDGES AND AGREES THAT THE
                        SOFTWARE REPRESENTS A VERSION OF UNRELEASED SOFTWARE THAT MAY CONTAIN
                        BUGS, DEFECTS, AND ERRORS.</span> THE SOFTWARE IS PROVIDED BY TFS ON AN
                    “AS IS” AND “AS AVAILABLE” BASIS WITHOUT ANY WARRANTY OF ANY KIND. TO
                    THE MAXIMUM EXTENT PERMITTED BY LAW, TFS DISCLAIMS ALL WARRANTIES
                    (WHETHER EXPRESS, IMPLIED, OR STATUTORY) WITH RESPECT TO THE TFS
                    MATERIALS, INCLUDING, WITHOUT LIMITATION, ANY WARRANTY OF
                    NON-INFRINGEMENT, TITLE, MERCHANTABILITY, LOSS OF DATA, ACCURACY, OR
                    FITNESS FOR A PARTICULAR PURPOSE. WITHOUT LIMITING THE FOREGOING, TFS
                    DOES NOT WARRANT THAT THE TFS MATERIALS WILL MEET PARTICIPANT’S
                    REQUIREMENTS OR THAT OPERATION OF THE TFS MATERIALS WILL BE ERROR FREE
                    OR THAT DEFECTS IN THE SOFTWARE WILL BE CORRECTED.
                </span>
            </li>
            <li>
                <span>
                    <strong><span class="smallcaps">LIMITATION OF LIABILITY</span>.</strong> IN NO EVENT
                    WILL TFS OR ITS LICENSORS BE LIABLE TO PARTICIPANT OR ANY THIRD PARTY
                    FOR THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES, LOST PROFITS, LOST
                    DATA, OR ANY SPECIAL, INDIRECT, CONSEQUENTIAL, INCIDENTAL OR PUNITIVE
                    DAMAGES, HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY ARISING IN ANY
                    WAY OUT OF THIS AGREEMENT OR PARTICIPANT’S USE OF THE SOFTWARE, EVEN IF
                    TFS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE TOTAL
                    CUMULATIVE LIABILITY, RELATED TO THIS AGREEMENT, OF TFS AND ITS
                    LICENSORS WILL BE LIMITED TO ONE THOUSAND US DOLLARS ($1,000). THESE
                    LIMITATIONS SHALL APPLY NOTWITHSTANDING ANY FAILURE OF THE ESSENTIAL
                    PURPOSE OF ANY LIMITED OR EXCLUSIVE REMEDY.
                </span>
            </li>
            <li>
                <span><strong>Indemnification.</strong> Participant shall defend or, at
                    its option, settle, any claim asserted against TFS by a third party: (i)
                    arising out of any unauthorized access or use of the TFS Materials by
                    Participant or any third party utilizing any access credentials of
                    Participant; (ii) arising out of the use of the TFS Materials in
                    violation or in connection with a violation of applicable law; or (iii)
                    arising out of the operation of Participant’s business. Participant will
                    indemnify TFS for all costs, liabilities, damages, and expenses incurred
                    by TFS (or the amount of any settlement entered into or approved in
                    writing by Participant) with respect to such a claim. TFS shall provide
                    Participant with: (a) prompt written notice of; (b) sole control over
                    the defense and settlement of; and (c) all information and assistance
                    reasonably requested by Participant in connection with the defense or
                    settlement of any such claim.</span>
            </li>
            <li>
                <span><strong>Government Rights</strong>. TFS provides the TFS
                    Materials, including any related software, data, and technology, for
                    ultimate government end use solely in accordance with the following: The
                    TFS Materials shall constitute “commercial” computer software.
                    Government technical data and software rights related to the TFS
                    Materials include only those rights customarily provided to the public
                    as defined in the Agreement. These customary commercial licenses are
                    provided in accordance with FAR 12.211 (Technical Data) and FAR 12.212
                    (Customer-Side Application) and, for Department of Defense transactions,
                    DFAR 252.227-7015 (Technical Data – Commercial Items) and DFAR
                    227.7202-3 (Rights in Commercial Computer Customer-Side Application or
                    Computer Customer-Side Application Documentation). If a government
                    agency has a need for rights not granted under this Agreement, it must
                    negotiate with TFS to determine if there are acceptable terms for
                    granting those rights, and a mutually acceptable written addendum
                    specifically granting those rights must be included in any applicable
                    agreement.</span>
            </li>
            <li>
                <span>
                    <strong>General.</strong>
                    This Agreement constitutes the entire agreement between Participant and
                    TFS and supersedes all prior or contemporaneous oral or written
                    communications, proposals and representations with respect to its
                    subject matter. The parties are independent contractors, and this
                    Agreement does not create or imply an agency, partnership, or joint
                    venture between Participant and TFS. No modification or waiver to this
                    Agreement shall be valid unless made in writing and signed by both
                    Participant and TFS. If any provision of this Agreement shall be
                    adjudged by any court of competent jurisdiction to be unenforceable or
                    invalid, that provision shall be limited to the minimum extent necessary
                    so that this Agreement shall otherwise remain in effect. This Agreement
                    may be executed in one or more counterparts, each of which shall be
                    deemed an original, but all of which together shall constitute one in
                    the same instrument. Any notice hereunder will be in writing to the
                    address set forth below by a nationally recognized express mail service,
                    or by email if sent to an email address designated by TFS or
                    Participant, as applicable, to receive such notice. This Agreement will
                    be governed by and interpreted in accordance with the laws of the State
                    of Washington, without regard to conflicts of law principles thereof.
                    For purposes of all claims brought under this Agreement, each party
                    hereby irrevocably submits to the exclusive jurisdiction of the state
                    and federal courts located within Seattle, Washington. Participant may
                    not assign, sublicense or transfer to any other party or entity this
                    Agreement or any rights or obligations hereunder without TFS’ prior
                    written consent. Any attempted assignment, delegation or transfer in
                    violation of the foregoing is null and void. This Agreement is binding
                    upon and inures to the benefit of the parties hereto and their
                    respective successors and assigns.</span>
            </li>
        </ol>
    </div>
</section>