<section class="bg-brown text-tan w-full pt-20 pb-12">
    <div class="container mx-auto">
        <div class="w-full sm:flex sm:flex-wrap space-y-2 sm:space-y-0 sm:justify-between">
            <div class="flex flex-col pb-8 sm:pb-12 w-full sm:w-full lg:w-1/5">
                <a href="/" class="block mx-auto sm:mx-0">{% renderTemplate "njk", { logoColor: '#F3F4F4' } %}{% include "_svgs/logo.html" %}{% endrenderTemplate %}</a>
                <p class="pt-3 text-xs text-center sm:text-left">&copy; Copyright 2022{# now|date('Y') #}</p>
            </div>
            <div class="flex flex-col pb-8 w-full sm:w-1/4 lg:w-1/5 text-white text-sm font-body text-center sm:text-left space-y-1">
                <h5 class="text-tan text-xl leading-none font-bold pb-3">
                    <a href="/solutions">Solutions</a>
                </h5>
                <a href="/solutions/#xand-enterprise" class="block">Xand Enterprise</a>
                <a href="/solutions/#xand-cooperative" class="block">Xand Cooperative</a>
                <a href="/solutions/#xandbox" class="block">Xandbox</a>
            </div>
            <div class="flex flex-col pb-8 w-full sm:w-1/4 lg:w-1/5 text-white text-sm font-body text-center sm:text-left space-y-1">
                <h5 class="text-tan text-xl leading-none font-bold pb-3">
                    <a>Resources</a>
                </h5>
                {# see _redirects #}
                <a href="/docs/xand-technical-white-paper.pdf">Technical White Paper</a>
                <a href="/docs/xand-confidentiality-white-paper.pdf">Confidentiality White Paper</a>
            </div>
            <div class="flex flex-col pb-8 w-full sm:w-1/4 lg:w-1/5 text-white text-sm font-body text-center sm:text-left space-y-1">
                <h5 class="text-tan text-xl leading-none font-bold pb-3">
                    <a href="/company">Company</a>
                </h5>
                <a href="/company" class="block">About</a>
                <a href="/careers" class="block">Careers</a>
                <a href="/privacy-policy" class="block">Privacy Policy</a>
                <a href="/terms-of-service" class="block">Terms of Service</a>
            </div>
            <div class="flex flex-col pb-8 w-full sm:w-1/4 lg:w-1/5 text-white text-sm font-body text-center sm:text-left space-y-3">
                <h5 class="text-tan text-xl leading-none font-bold pb-3">
                    <a href="/press-blog">Press &amp; Blog</a>
                </h5>
                <a href="https://twitter.com/TPFinSys" target="_blank" class="block"><img src="/assets/images/site/icon-twitter-square.svg" alt="Twitter" class="inline-block pr-1 w-10"/> Twitter</a>
                <a href="https://www.linkedin.com/company/transparent-systems/" target="_blank" class="block"><img src="/assets/images/site/icon-linkedin.svg" alt="LinkedIn" class="inline-block pr-1 w-10"/> LinkedIn</a>
                <a href="mailto:info@transparent.us" class="block"><img src="/assets/images/site/icon-envelope.svg" alt="Email" class="inline-block pr-1 w-10"/> Email</a>
            </div>
        </div>
    </div>
</section>