<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

<script>
	function BankForm() {
		return {
			submitForm: function () {
				this.$refs.bankForm.submit();
			}
		}
	}
	function tagSelect() {
		return {
			open: false,
			textInput: '',
			tags: [],
			init() {
				this.tags = JSON.parse(this.$el.parentNode.getAttribute('data-tags'));
			},
			addTag(tag) {
				tag = tag.trim()
				if (tag != "" && !this.hasTag(tag)) {
					this.tags.push(tag)
				}
				this.clearSearch()
				this.$refs.textInput.focus()
				this.fireTagsUpdateEvent()
			},
			fireTagsUpdateEvent() {
				this.$el.dispatchEvent(new CustomEvent('tags-update', {
					detail: { tags: this.tags },
					bubbles: true,
				}));
			},
			hasTag(tag) {
				var tag = this.tags.find(e => {
					return e.toLowerCase() === tag.toLowerCase()
				})
				return tag != undefined
			},
			removeTag(index) {
				this.tags.splice(index, 1)
				this.fireTagsUpdateEvent()
			},
			search(q) {
				if (q.includes(",")) {
					q.split(",").forEach(function (val) {
						this.addTag(val)
					}, this)
				}
				this.toggleSearch()
			},
			clearSearch() {
				this.textInput = ''
				this.toggleSearch()
			},
			toggleSearch() {
				this.open = this.textInput != ''
			}
		}
	}
</script>
<div id="mc_embed_signup" x-data="BankForm()">
	<form action="https://transparent.us5.list-manage.com/subscribe/post?u=65b9c4cf8533f43a7d20bec9d&amp;id=b1f595bf17"
		method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
		target="_blank">

		<div id="mc_embed_signup_scroll">
			<div class="mc-field-group">
				<label for="mce-NAME" class="text-md">Name</label>
				<input type="text" value="" name="NAME" class="required" id="mce-NAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-EMAIL" class="text-md">Work Email</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
			<div class="mc-field-group">
				<label for="mce-COMPANY" class="text-md">Company</label>
				<input type="text" value="" name="COMPANY" class="required" id="mce-COMPANY">
			</div>
			<div class="mc-field-group">
				<label for="mce-BANKS" class="text-md">Bank(s)</label>
				<!-- The follow component was pulled from: https://codepen.io/atomgiant/pen/QWjWgKz -->
				<div @tags-update="console.log('tags updated', $event.detail.tags)" data-tags='[]' class="">
					<!-- This div corresponds to the object initialized for tracking bank tags-->
					<div x-data="tagSelect()" x-init="init('parentEl')" @click.away="clearSearch()"
						@keydown.escape="clearSearch()">
						<!-- hidden text holder whose value is bound to `tags` used for populating mailchimp vairable-->
						<div class="hidden required">
							<input type="text" x-bind:value="tags" name="BANKS" id="mce-BANKS">
						</div>
						<div @keydown.enter.prevent="addTag(textInput)">
							<!-- text input-->
							<input value="" x-model="textInput" x-ref="textInput" @input="search($event.target.value)"
								class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
								placeholder="Enter bank">
							<div :class="[open ? 'block' : 'hidden']">
								<!-- Pop up with selections / "add" option-->
								<div class="absolute z-40 left-0 mt-2 w-full">
									<div class="py-1 text-sm bg-white rounded shadow-lg border border-gray-300">
										<a @click.prevent="addTag(textInput)"
											class="block py-1 px-5 cursor-pointer hover:bg-indigo-600 hover:text-white">
											Add bank "<span class="font-semibold" x-text="textInput"></span>"</a>
									</div>
								</div>
							</div>
							<!-- selections -->
							<template x-for="(tag, index) in tags">
								<div class="bg-indigo-100 inline-flex items-center text-sm rounded mt-2 mr-1">
									<span class="ml-2 mr-1 leading-relaxed truncate max-w-xs" x-text="tag"></span>
									<button @click.prevent="removeTag(index)"
										class="w-6 h-8 inline-block align-middle text-gray-500 hover:text-gray-600 focus:outline-none">
										<svg class="w-6 h-6 fill-current mx-auto" xmlns="http://www.w3.org/2000/svg"
											viewBox="0 0 24 24">
											<path fill-rule="evenodd"
												d="M15.78 14.36a1 1 0 0 1-1.42 1.42l-2.82-2.83-2.83 2.83a1 1 0 1 1-1.42-1.42l2.83-2.82L7.3 8.7a1 1 0 0 1 1.42-1.42l2.83 2.83 2.82-2.83a1 1 0 0 1 1.42 1.42l-2.83 2.83 2.83 2.82z" />
										</svg>
									</button>
								</div>
							</template>
						</div>
					</div>
				</div>
			</div>

			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
					name="b_65b9c4cf8533f43a7d20bec9d_b1f595bf17" tabindex="-1" value=""></div>
			<div class="clear">
				<div class="hidden" x-cloak><input x-ref="subscribeBank" type="submit" value="Submit" name="subscribe"
						id="mc-embedded-subscribe" class="button"></div>
				<a class="btn btn--rev w-72 !bg-vice !border-vice !mt-0 font-semibold"
					@click="$refs.subscribeBank.click()">Submit</a>

				<p class="text-sm font-medium pt-6">By submitting this request, you agree to our <a
						href="/privacy-policy" target="_blank" class="underline">Privacy Policy</a> and <a
						href="/terms-of-service" target="_blank" class="underline">Terms of Service</a>.</p>
			</div>
		</div>
	</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function ($) {
		window.fnames = new Array();
		window.ftypes = new Array();
		ftypes[0] = 'email';
		fnames[1] = 'NAME';
		ftypes[1] = 'text';
		fnames[2] = 'BANKS';
		ftypes[2] = 'text';
		fnames[3] = 'COMPANY';
		ftypes[3] = 'text';
	}(jQuery)); var $mcj = jQuery.noConflict(true);</script>