<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

<script>
	function AutonomousMCForm() {
		return {
			readyXandbox: true,
			submitForm: function () {
				this.$refs.autonomousForm.submit();
			}
		}
	}
	function submitMCForm() {
		var frm = document.getElementById('mc-embedded-subscribe-form');
		window.axios.get(frm.action, fd)
			.then(response => {
				return this.success === true
			});
	}
</script>
<div id="mc_embed_signup" x-data="AutonomousMCForm()">
	<form
		action="https://transparent.us5.list-manage.com/subscribe/post-json?u=65b9c4cf8533f43a7d20bec9d&id=6590b25f66&c=transmc1487"
		method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" x-ref="autonomousForm"
		class="validate" target="_blank">

		<div id="mc_embed_signup_scroll">
			<div class="mc-field-group">
				<label for="mce-FULLNAME" class="text-md">Full Name</label>
				<input type="text" value="" name="FULLNAME" class="required" id="mce-FULLNAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-EMAIL" class="text-md">Company Email Address</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
			<div class="mc-field-group">
				<label for="mce-COMPANY" class="text-md">Company</label>
				<input type="text" value="" name="COMPANY" class="" id="mce-COMPANY">
			</div>
			<div class="mc-field-group">
				<label for="mce-WEBSITE" class="text-md">Website</label>
				<input type="text" value="" name="WEBSITE" class="" id="mce-WEBSITE">
			</div>
			<div class="mc-field-group">
				<label for="mce-MESSAGE" class="text-md">Tell us about your requirements:</label>
				<textarea id="mce-MESSAGE" name="MESSAGE" value="" style="width:100%" rows=5></textarea>
				<!-- <input type="text" value="" name="COMPANY" class="" id="mce-COMPANY"> -->
			</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<script>
				// Modify the default success message sent back by Mailchimp if present
				// select the target node
				var target = document.getElementById('mce-success-response');

				// create an observer instance
				var observer = new MutationObserver(function (mutations) {
					mutations.forEach(function (mutation) {
						if (target.innerHTML === "Thank you for subscribing!") {
							target.innerHTML = "Thank you! We will be in touch.";
						}
					});
				});

				// configuration of the observer:
				var config = { attributes: true, childList: true, characterData: true };

				// pass in the target node, as well as the observer options
				observer.observe(target, config);
			</script>
			<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
					name="b_65b9c4cf8533f43a7d20bec9d_6590b25f66" tabindex="-1" value=""></div>
			<div class="clear">
				<div class="hidden" x-cloak><input x-ref="subAutonomous" type="submit" value="Submit" name="subscribe"
						id="mc-embedded-subscribe" class="button"></div>
				<a class="btn btn--rev w-72 !bg-vice !border-vice !mt-0 font-semibold"
					@click="$refs.subAutonomous.click()">Submit</a>

				<p class="text-sm font-medium pt-6">By submitting this request, you agree to our <a
						href="/privacy-policy" target="_blank" class="underline">Privacy Policy</a> and <a
						href="/terms-of-service" target="_blank" class="underline">Terms of Service</a>.</p>
			</div>
		</div>
	</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script
	type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[5] = 'FULLNAME'; ftypes[5] = 'text'; fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[6] = 'COMPANY'; ftypes[6] = 'text'; fnames[7] = 'WEBSITE'; ftypes[7] = 'url'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>