
{% set navClasses = 'navUnderline' %}
{% set activeClasses = 'active' %}

<header class="container mx-auto py-8" x-data="{ menuOpen: false }">
    <div class="flex flex-row justify-between w-full">
        <a href="/" class="block">{% include "_svgs/logo.html" %}</a>
        
        <div class="hidden w-full md:flex md:flex-row md:justify-end md:space-x-4 lg:space-x-6 xl:space-x-8">
            {% for nav in navigation.items %}
                <div class="px-2 {% if loop.first %}md:hidden lg:inline-block{% endif %}">
                    <a href="{{nav.url}}" class="navUnderline {% if navActive == nav.url  %}active{% elseif page.url|trim_end('/') == nav.url|trim_end('/') %}active{% endif %}">{{nav.text}}</a>
                </div>
            {% endfor %}
        </div>
        <div class="md:hidden my-auto pb-4 cursor-pointer" @click.prevent="menuOpen = !menuOpen">

            <a href="#menu" class="block items-center space-x-2 focus:outline-none">
                <div class="w-6 flex items-center justify-center relative">
                <span x-bind:class="menuOpen ? 'translate-y-0 rotate-45' : '-translate-y-2'"
                        class="transform transition w-full h-0.5 bg-current absolute"></span>
                
                <span x-bind:class="menuOpen ? 'opacity-0 translate-x-3' : 'opacity-100'"
                        class="transform transition w-full h-0.5 bg-current absolute"></span>
                
                <span x-bind:class="menuOpen ? 'translate-y-0 -rotate-45' : 'translate-y-2'"
                        class="transform transition w-full h-0.5 bg-current absolute"></span>
                </div>
            </a>
        </div>
    </div>
    <div class="block relative md:hidden"
        x-show="menuOpen"
        x-transition:enter="transform transition ease-in-out duration-300 z-50"
        x-transition:enter-start="translate-x-40"
        x-transition:enter-end="translate-x-0"
        x-transition:leave="transform transition ease-in-out duration-300 z-50"
        x-transition:leave-start="translate-x-0"
        x-transition:leave-end="translate-x-40"
        x-cloak>

        <div class="absolute top-0 right-0 bg-white bg-opacity-90 border {% if 'solutions' in page.url or page.url == '/' %}border-salmon{% else %}border-tan{% endif %} full p-8 space-y-4 z-50">
            {% for nav in navigation.items %}
                <a href="{{nav.url}}" class="block {% if nav.url in page.url %}active{% endif %}">{{nav.text}}</a>
            {% endfor %}
        </div>
    </div>
</header>