<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

<div id="mc_embed_signup" x-data="{ boxChecked: false }">
  <form action="https://transparent.us5.list-manage.com/subscribe/post?u=65b9c4cf8533f43a7d20bec9d&id=c17288060a"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
    x-ref="xandboxForm" novalidate>
    {# <input type="hidden" name="u" value="65b9c4cf8533f43a7d20bec9d" />
    <input type="hidden" name="id" value="c17288060a" /> #}
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <label for="mce-FULLNAME">Name</label>
        <input type="text" value="" name="FULLNAME" class="required" id="mce-FULLNAME">
      </div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Work Email</label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
      <div class="mc-field-group">
        <label for="mce-COMPANY">Company Name</label>
        <input type="text" value="" name="COMPANY" class="required" id="mce-COMPANY">
      </div>
      <div class="mc-field-group">
        <label for="mce-WEBSITE">Company Website</label>
        <input type="url" value="" name="WEBSITE" id="mce-WEBSITE" placeholder="https://">
      </div>
      <div class="mc-field-group input-group">
        <ul class="text-xl">
          <li><input type="checkbox" value="1" name="group[30094][1]" id="mce-group[30094]-30094-0"><label
              for="mce-group[30094]-30094-0">Add me to your mailing list for the latest announcements on Xand</label>
          </li>
          <li><input type="checkbox" value="8" name="group[383519][8]" id="mce-group[383519]-383519-0"
              x-model="boxChecked"><label for="mce-group[383519]-383519-0">I agree to the <a
                href="/xandbox-license" target="_blank" class="underline">Xandbox License
                Agreement</a>.</label></li>
        </ul>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" x-ref="mceErrorResponse" id="mce-error-response" x-cloak></div>
        <div class="response" x-ref="mceSuccessResponse" id="mce-success-response" x-cloak></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
          name="b_65b9c4cf8533f43a7d20bec9d_c17288060a" tabindex="-1" value=""></div>
      <div class="clear">
        <div class="hidden" x-cloak><input x-ref="subXandbox" type="submit" value="Submit" name="subscribe"
            id="mc-embedded-subscribe" class="button"></div>
        <button class="btn w-72 disabled:opacity-75 disabled:cursor-not-allowed" x-bind:disabled="!boxChecked"
          @click="$refs.subXandbox.click()">Download</button>
        <p id="manual-download-link" hidden class="text-sm italic hover:underline hover:cursor-pointer"
          @click="startDownload">Click here to download Xandbox if it does not start automatically.</p>
        <p class="text-sm font-medium pt-6">By submitting this request, you agree to our <a href="/privacy-policy"
            target="_blank" class="underline">Privacy Policy</a> and <a href="/terms-of-service" target="_blank"
            class="underline">Terms of Service</a>.</p>
      </div>
    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
  (function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[6] = 'FULLNAME';
    ftypes[6] = 'text';
    fnames[0] = 'EMAIL';
    ftypes[0] = 'email';
    fnames[5] = 'WEBSITE';
    ftypes[5] = 'url';
    fnames[3] = 'COMPANY';
    ftypes[3] = 'text';
    fnames[1] = 'FNAME';
    ftypes[1] = 'text';
    fnames[2] = 'LNAME';
    ftypes[2] = 'text';
  }(jQuery)
  );
  var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->

<!-- Start xandbox download callbacks -->
<!-- Using `submit` and `reset` callbacks for reacting to mailchimp form inspired by: https://gist.github.com/macariojames/19fdb5c169a4aa38549944f671aba871?permalink_comment_id=4110308#gistcomment-4110308  -->
<script>
  var startDownload = function () {
    console.log('start download function');
    window.open("/assets/xandbox/xandbox_1.1.2.zip", "_blank")
  }
  var formSubmitted = false;
  var xandboxDownloadStarted = false;
  var signUpForm = document.getElementById('mc-embedded-subscribe-form');

  signUpForm.addEventListener('submit', function (event) {
    console.log(event);
    console.log('form submitted');
    formSubmitted = true;
  });

  signUpForm.addEventListener('reset', function (event) {
    var successResponseDiv = document.getElementById('mce-success-response');
    console.log(successResponseDiv)
    // Use success text and bool to track if this is the correct time to start a download.
    if (formSubmitted && successResponseDiv.innerHTML != "" && !xandboxDownloadStarted) {
      // Update success text (default from mailchimp is: "Thank you for subscribing")
      successResponseDiv.innerHTML = "Thank you for downloading Xandbox!"
      xandboxDownloadStarted = true;
      startDownload();

      // Make clickable download link visible
      var manualDownloadLink = document.getElementById('manual-download-link');
      manualDownloadLink.style.display = 'block'
    }
  });
</script>
<!-- End xandbox download callbacks -->