<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

<script>
function AutonomousMCForm() {
	return {
		readyXandbox:true,
		submitForm: function() {
			this.$refs.autonomousForm.submit();
		}
	}
}
function submitMCForm() {
	var frm = document.getElementById('mc-embedded-subscribe-form');
	window.axios.get(frm.action, fd)
				.then(response => {
					return this.success === true
				});
}
</script>
<div id="mc_embed_signup" x-data="AutonomousMCForm()">
	<form
		action="https://transparent.us5.list-manage.com/subscribe/post-json?u=65b9c4cf8533f43a7d20bec9d&id=6590b25f66&c=transmc1487"
		method="get"
		id="mc-embedded-subscribe-form"
		name="mc-embedded-subscribe-form"
		x-ref="autonomousForm"
		class="validate"
		target="_blank"
		>

		<div id="mc_embed_signup_scroll">
			<div class="mc-field-group">
				<label for="mce-FULLNAME" class="text-md">Name</label>
				<input type="text" value="" name="FULLNAME" class="required" id="mce-FULLNAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-EMAIL" class="text-md">Work Email</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
			<div class="mc-field-group">
				<label for="mce-COMPANY" class="text-md">Company</label>
				<input type="text" value="" name="COMPANY" class="" id="mce-COMPANY">
			</div>
			<div class="mc-field-group">
				<label for="mce-WEBSITE" class="text-md">Company Website</label>
				<input type="url" value="" name="WEBSITE" class="required" id="mce-WEBSITE" placeholder="https://">
			</div>
			<div class="mc-field-group input-group">
				<ul class="text-sm"><li><input type="checkbox" value="1" name="group[30118][1]" id="mce-group[30118]-30118-0"><label for="mce-group[30118]-30118-0">Add me to your mailing list for the latest announcements on Xand</label></li>
					<li><input type="checkbox" value="2" name="group[30122][2]" id="mce-group[30122]-30122-0"><label for="mce-group[30122]-30122-0">My firm is a BSA regulated financial services entity in the U.S</label></li>
					<li><input type="checkbox" value="4" name="group[30126][4]" id="mce-group[30126]-30126-0"><label for="mce-group[30126]-30126-0">We have trading partners and counterparties that would like to join the network</label></li>
				</ul>
			</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65b9c4cf8533f43a7d20bec9d_6590b25f66" tabindex="-1" value=""></div>
			<div class="clear">
				<div class="hidden" x-cloak><input x-ref="subAutonomous" type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div> 
				<a class="btn btn--rev w-72 !bg-vice !border-vice !mt-0 font-semibold" @click="$refs.subAutonomous.click()">Submit</a>
				
				<p class="text-sm font-medium pt-6">By submitting this request, you agree to our <a href="/privacy-policy" target="_blank" class="underline">Privacy Policy</a> and <a href="/terms-of-service" target="_blank" class="underline">Terms of Service</a>.</p>
			</div>
		</div>
	</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[5]='FULLNAME';ftypes[5]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[6]='COMPANY';ftypes[6]='text';fnames[7]='WEBSITE';ftypes[7]='url';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
