{# 1 of 4 on desktop: #}
{% if membernum % 4 == 1 %}
	<div class="hidden sm:block md:hidden xl:block border border-tan"><img src="/assets/images/site/shape1.svg" class="w-full object-fill" /></div>
	<div class="hidden xl:block border border-tan"><img src="/assets/images/site/shape2.svg" class="w-full object-fill" /></div>
	<div class="hidden xl:block border border-tan"><img src="/assets/images/site/shape3.svg" class="w-full object-fill" /></div>
{# 2 of 4 on desktop: #}
{% elseif membernum % 4 == 2 %}
	<div class="hidden md:block border border-tan"><img src="/assets/images/site/shape1.svg" class="w-full object-fill" /></div>
	<div class="hidden md:block border border-tan"><img src="/assets/images/site/shape2.svg" class="w-full object-fill" /></div>
{# 3 of 4 on desktop: #}
{% elseif membernum % 4 == 3 %}
	<div class="hidden xl:block border border-tan"><img src="/assets/images/site/shape4.svg" class="w-full object-fill" /></div>
	<div class="hidden sm:block md:hidden border border-tan"><img src="/assets/images/site/shape1.svg" class="w-full object-fill" /></div>
{% endif %}
