{# TEAM GRID #}
<section class="container mx-auto pb-12 sm:pb-20 team-members">
	<div class="border border-tan grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 items-stretch place-items-stretch">
		{% set membernum = 0 %}

		{% for person in gridData.peopleList %}
			{% set members = collections.people|filterBySlug(person) %}
			{% set member = members[0] %}
			{% if member.data.role == gridData.role %}
				{% set membernum = membernum + 1 %}
				{% include "partials/team-member.html" %}
				{% if loop.last %}
					{% include "partials/team-member-last.html" %}
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</section>
{# /TEAM GRID #}