<div class="border border-tan bg-brown">
    <div class="member lg:cursor-pointer flex flex-col relative">
        <div><img src="{{member.data.image}}" class="w-full" /></div>
        <div class="member-bio w-full h-full p-6 overflow-y-auto bg-brown text-white lg:absolute lg:invisible lg:opacity-0">
            <h3 class="text-xl font-bold uppercase">{% if member.data.role == 'Advisor' %}Advisor{% else %}{{member.data.jobTitle}}{% endif %}</h3>
            <h4 class="font-semibold text-3xl">{{member.data.name}}</h4>
            {% if member.data.role == 'Advisor' %}<h5 class="mt-0">{{ member.jobTitle }}</h5>{% endif %}
            <p class="mt-4 font-body leading-tight">{{member.templateContent|safe}}</p>
        </div>
    </div>
</div>