<div class="text-2xl font-body lg:flex lg:flex-row">
    <div class="lg:w-1/3 pt-4 lg:pr-20 space-y-6 mb-8">
        <lottie-player src="/assets/lottie/liquidity-white.json" background="transparent" speed="1"
            style="width:108px; height: 108px;" loop autoplay></lottie-player>
        <div class="space-y-4">
            <h3 class="font-sans font-semibold text-3xl">Liquidity. Instantly.</h3>
            <p>Payments are finalized instantly, freeing up funds that can be used to create opportunities for growth.
            </p>
        </div>
    </div>
    <div class="lg:w-1/3 pt-4 lg:pr-20 space-y-6 mb-8">
        <lottie-player src="/assets/lottie/accuracy-white.json" background="transparent" speed="1"
            style="width:108px; height: 108px;" loop autoplay></lottie-player>
        <div class="space-y-4">
            <h3 class="font-sans font-semibold text-3xl">Accuracy. Automated.</h3>
            <p>Automate payment processing and reconciliation to reduce human errors and processing time.​</p>
        </div>
    </div>
    <div class="lg:w-1/3 pt-4 lg:pr-20 space-y-6 mb-8">
        <lottie-player src="/assets/lottie/privacy.json" background="transparent" color="white" speed="1"
            style="width:108px; height: 108px;" loop autoplay></lottie-player>
        <div class="space-y-4">
            <h3 class="font-sans font-semibold text-3xl">Confidential. Private.</h3>
            <p>Transaction details are protected via zero-knowledge proofs, only accessible to parties of the
                transaction.</p>
        </div>
    </div>
</div>

{% if page.url == '/' %}
<div class="font-body lg:flex lg:flex-row">
    <a href="/solutions" class="btn">Learn more</a>
</div>
{% endif %}