
{% set navClasses = 'navUnderline' %}
{% set activeClasses = 'active' %}

<header class="container mx-auto py-8">
    <div class="flex flex-row justify-between w-full">
        <a href="/" class="block">{% include "_svgs/logo.html" %}</a>
    </div>
</header>