<a name="xand-alpha"></a>
<section x-data="{ showForm: false }" class="mx-auto border-b-1 border-miami py-8 sm:py-12 bg-transparent lg:bg-repeat-y lg:bg-center" style="background-image:url(/assets/images/site/bg-xand-alpha.png);">
    <div class="container mx-auto lg:flex lg:flex-row {# border border-miami #}">
        <div class="bg-miami sm:bg-transparent relative w-full lg:w-1/2 text-white py-8 lg:pr-24 lg:py-16 flex flex-col justify-around">
            <div class="lg:absolute lg:top-16 lg:left-0 lg:mt-16 mb-16 max-w-[216px]">{% include "_svgs/logo-xandalpha.html" %}</div>
            <div class="pt-12">
                <div class="text-white text-4xl mb-8">Made for institutional trading firms.</div>
                
                <p class="text-2xl font-body">Unlock liquidity and cashflow on a bank agnostic, truly 24/7 <span class="whitespace-nowrap">real-time</span> payment network without adding new risks.</p>

                <a href="/xand-networks/xand-alpha" class="btn btn--rev !bg-vice !border-vice font-semibold transform transition duration-300">Explore Xand Alpha</a>
            </div>
        </div>
        <div class="text-white lg:text-slate lg:w-1/2 py-8 lg:p-[120px] space-y-12 my-auto">
            
            <div class="font-body text-lg">
                <h3 class="font-sans font-medium text-3xl text-white lg:text-miami mb-1">Confidential and Private.</h3>
                <p class="text-sm">Built with the latest proven cryptography so transactions remain confidential and a design that ensures the network is private for its members.</p>
            </div>

            <div class="font-body text-lg">
                <h3 class="font-sans font-medium text-3xl text-white lg:text-miami mb-1">Existing regulations.</h3>
                <p class="text-sm">Xand Alpha is designed to operate within existing financial parameters and regulations.</p>
            </div>
        
            <div class="font-body text-lg">
                <h3 class="font-sans font-medium text-3xl text-white lg:text-miami mb-1">No new counterparties.</h3>
                <p class="text-sm">Current trading counterparties join Xand Alpha together as members. Each firm can retain existing banking relationships. Members collectively govern how Xand Alpha operates.</p>
            </div>
        
            <div class="font-body text-lg">
                <h3 class="font-sans font-medium text-3xl text-white lg:text-miami mb-1">Programmable digital dollars.</h3>
                <p class="text-sm">Settlement transactions backed by dollars digitized by network members.  Members retain control of funds in member-owned trust accounts until transaction is sent to counterparty.​</p>
            </div>
        
            <div class="font-body text-lg">
                <h3 class="font-sans font-medium text-3xl text-white lg:text-miami mb-1">Generate interest.</h3>
                <p class="text-sm">Funds in Xand Alpha earn interest, which cover costs and generate rewards for&nbsp;users.</p>
            </div>
            
        </div>
    </div>
</section>